<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>管理员</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="{%$VIEW_ROOT%}/assets/global/css/font.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{%$VIEW_ROOT%}/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <!-- BEGIN HEADER -->
        {%include file='admin/public/header.html'%}
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            {%include file='admin/public/sidebar.html'%}
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN THEME PANEL -->
                    {%include file='admin/public/style.html'%}
                    <!-- END THEME PANEL -->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="index.php">首页</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>用户管理</span>
								<i class="fa fa-circle"></i>
                            </li>
							<li>
                                <span>管理员</span>
                            </li>
                        </ul>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h3 class="page-title"> 用户管理
                        <small>管理员</small>
                    </h3>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                    <table class="table table-hover">
						<thead>
							<tr>
								<td>账户名</td>
								<td></td>
                                <td>权限组</td>
								<td>操作</td>
							</tr>
						</thead>
						<tbody>
							{%section name=admin loop=$admin%}
							<tr>
								<td>{%$admin[admin].username%}</td>
								<td></td>
                                <td data-role="{%$admin[admin].role_id%}">{%$admin[admin].role%}</td>
								<td><button class="btn btn-xs blue btn-outline changeRoleBtn" data-id="{%$admin[admin].id%}">改组</button><button class="btn btn-xs yellow btn-outline changePassword" data-id="{%$admin[admin].id%}">改密</button><button class="btn btn-xs red btn-outline remove"  data-id="{%$admin[admin].id%}">删除</button></td>
							</tr>
							{%/section%}
							<tr>
								<td><input type="text" class="form-control" placeholder="用户名" name="username"></td>
								<td><input type="text" class="form-control" placeholder="密码" name="password"></td>
                                <td>
                                    <select class="form-control" name="role">
                                    	<option value="" selected="selected" disabled>请选择权限组..</option>
                                        {%section name=role loop=$role%}
                                        <option value="{%$role[role].id%}">{%$role[role].name%}</option>
                                        {%/section%}
                                    </select>
                                </td>
								<td><input type="button" class="btn btn-xs green btn-outline" id="createAdmin" value="创建"></td>
							</tr>
						</tbody>
					</table>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            {%include file='admin/public/quick_sidebar.html'%}
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        {%include file='admin/public/footer.html'%}
        <!-- END FOOTER -->
        <!--[if lt IE 9]>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/respond.min.js"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{%$VIEW_ROOT%}/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{%$VIEW_ROOT%}/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
		<script type="text/javascript">
		$.ajaxSetup({
			headers:{
				'X-CSRF-TOKEN':'{%$x_csrf_token%}'
			}
		});
		
		$('#createAdmin').on('click',function(){
			var username = $(this).parents('tr').find('input[name=username]').val();
			var password = $(this).parents('tr').find('input[name=password]').val();
			var role = $(this).parents('tr').find('select[name=role]').val();
			var rolename = $(this).parents('tr').find('select[name=role]').find('option:selected').html();
			var ths = $(this);
			$.post('{%url m=ajax c=admin a=create%}',{username:username,password:password,role:role},function(response){
				if(response.code==1)
				{
					var tpl = '<tr><td>'+username+'</td><td></td><td data-role="'+role+'">'+rolename+'</td><td><button class="btn btn-xs blue btn-outline changeRoleBtn" data-id="'+response.body.id+'">改组</button><button class="btn btn-xs yellow btn-outline changePassword" data-id="'+response.body.id+'">改密</button><button class="btn btn-xs red btn-outline remove" data-id="'+response.body.id+'">删除</button></td></tr>';
					$(tpl).insertBefore(ths.parents('tr'));
				}
				else
				{
					App.alert({
						container: $('#alert_container').val(), // alerts parent container 
						place: 'append', // append or prepent in container 
						type: 'danger', // alert's type 
						message: response.result,
						close: true,
						focus: true, // auto scroll to the alert after shown
						closeInSeconds: 3, // auto close after defined seconds 
						icon:'fa fa-remove' // put icon class before the message
					});	
				}
			});
			return false;
		});
		
		$('table').on('click','.remove',function(){
			var id = $(this).data('id');
			var button = $(this);
			$.post('{%url m=ajax c=admin a=remove%}',{id:id},function(response){
				if(response.code==1)
				{
					button.parents('tr').remove();
				}
				else
				{
					App.alert({
						container: $('#alert_container').val(), // alerts parent container 
						place: 'append', // append or prepent in container 
						type: 'danger', // alert's type 
						message: response.result,
						close: true,
						focus: true, // auto scroll to the alert after shown
						closeInSeconds: 3, // auto close after defined seconds 
						icon:'fa fa-remove' // put icon class before the message
					});	
				}
			});
			return false;
		});
		
		$('table').on('click','.changeRoleBtn',function(){
			var select = $('select[name=role]:last').clone();
			var role = $(this).parents('tr').find('td:eq(2)').data('role');
			select.val(role);
			$(this).parents('tr').find('td:eq(2)').empty().append(select);
			$(this).html('保存').addClass('saveRoleBtn').removeClass('changeRoleBtn');
		});
		
		$('table').on('click','.saveRoleBtn',function(){
			var role = $(this).parents('tr').find('select[name=role]').val();
			var id = $(this).data('id');
			var ths = $(this);
			$.post('{%url m=ajax c=admin a=role%}',{id:id,role:role},function(response){
				if(response.code==1)
				{
					ths.addClass('changeRoleBtn').removeClass('saveRoleBtn').html('改组');
					ths.parents('tr').find('td:eq(2)').html(ths.parents('tr').find('select[name=role]').find('option:selected').html());
				}
				else
				{
					App.alert({
						container: $('#alert_container').val(), // alerts parent container 
						place: 'append', // append or prepent in container 
						type: 'danger', // alert's type 
						message: response.result,
						close: true,
						focus: true, // auto scroll to the alert after shown
						closeInSeconds: 3, // auto close after defined seconds 
						icon:'fa fa-remove' // put icon class before the message
					});	
				}
			});
			return false;
		});
		
		$('table').on('click','.changePassword',function(){
			var input = $('<input class="form-control" placeholder="请输入新密码" type="text">');
			$(this).parents('tr').find('td:eq(1)').append(input);
			$(this).html('保存');
			$(this).removeClass('changePassword').addClass('savePassword');
			return false;
		});
		
		$('table').on('click','.savePassword',function(){
			var id = $(this).data('id');
			var button = $(this);
			var password = $(this).parents('tr').find('input').val();
			$.post('{%url m=ajax c=admin a=changePassword%}',{id:id,password:password},function(response){
				if(response.code==1)
				{
					button.html('改密').addClass('changePassword').removeClass('changePassword');
					button.parents('tr').find('input').remove();
				}
				else
				{
					App.alert({
						container: $('#alert_container').val(), // alerts parent container 
						place: 'append', // append or prepent in container 
						type: 'danger', // alert's type 
						message: response.result,
						close: true,
						focus: true, // auto scroll to the alert after shown
						closeInSeconds: 3, // auto close after defined seconds 
						icon:'fa fa-remove' // put icon class before the message
					});	
				}
			});
			return false;
		});
		</script>
    </body>

</html>