<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>仓库管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{%$VIEW_ROOT%}/assets/global/css/font.css" rel="stylesheet" type="text/css"/>
    <link href="{%$VIEW_ROOT%}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="{%$VIEW_ROOT%}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{%$VIEW_ROOT%}/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{%$VIEW_ROOT%}/assets/global/css/components.min.css" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="{%$VIEW_ROOT%}/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<!-- BEGIN HEADER -->
{%include file='admin/public/header.html'%}
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    {%include file='admin/public/sidebar.html'%}
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN THEME PANEL -->
            {%include file='admin/public/style.html'%}
            <!-- END THEME PANEL -->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.php">首页</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>商品管理</span>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>仓库管理</span>
                    </li>
                </ul>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h3 class="page-title"> 仓库管理
                <small>仓库管理</small>
            </h3>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> 仓库表</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="create" class="btn sbold green"> 添加仓库
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="custom-alerts alert alert-danger display-hide fade in">
                        <i class="fa-lg fa fa-warning"></i>
                        <span id="#alert"></span>
                    </div>
                    <table id="store" class="table table-hover">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>推送</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="new" class="display-hide">
                            <td><input class="form-control" type="text" name="name"></td>
                            <td class="edierp">
                                <input type="radio" name="erp" value="1" id="erp"><label
                                    for="erp">自动</label>
                                <input type="radio" name="erp" id="erpc" value="0" checked><label
                                    for="erpc">手动</label></td>

                            <td>
                                <button class="btn btn-xs green-stripe default createBtn">添加</button>
                            </td>
                        </tr>
                        {%section name=store loop=$store%}
                        <tr>
                            <td class="editable" data-type="text" data-name="name">{%$store[store].name%}</td>
                            {%if $store[store].is_auto==1 %}
                            <td class="edierp"><input type="radio" name="erp{%$store[store].id%}" value="1"
                                                      id="erp{%$store[store].id%}" checked ><label for="erp{%$store[store].id%}">自动</label>
                                <input type="radio" name="erp{%$store[store].id%}" value="0" id="erpc{%$store[store].id%}" ><label
                                        for="erpc{%$store[store].id%}">手动</label>
                            </td>
                            {%else%}
                            <td class="edierp"><input type="radio" name="erp{%$store[store].id%}" value="1"
                                                      id="erp{%$store[store].id%}"><label for="erp{%$store[store].id%}">自动</label>
                                <input type="radio" name="erp{%$store[store].id%}" value="0" checked id="erpc{%$store[store].id%}"><label
                                        for="erpc{%$store[store].id%}">手动</label>
                            </td>
                            {%/if%}
                            <td>
                                <button class="btn btn-xs yellow-stripe default modify" data-id="{%$store[store].id%}">
                                    编辑
                                </button>
                                <button class="btn btn-xs red-stripe deafult remove" data-id="{%$store[store].id%}">删除
                                </button>
                            </td>
                        </tr>
                        {%/section%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    {%include file='admin/public/quick_sidebar.html'%}
    <!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{%include file='admin/public/footer.html'%}
<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/respond.min.js"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{%$VIEW_ROOT%}/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{%$VIEW_ROOT%}/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script type="text/javascript">
    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': '{%$x_csrf_token%}'
        }
    });

    $('#store').on('click', '.modify', function () {
        var td = $(this).parents('tr').find('td.editable');

        $.each(td, function (index, value) {
            if ($(value).find('input').length != 0)
                return false;

            var type = $(value).data('type');
            switch (type) {
                case 'text':
                    var old_val = $(value).html();
                    var input = $('<input type="text" class="form-control">');
                    $(value).empty().append(input);
                    input.val(old_val);
                    break;
                case 'img':
                    var img = $(value).find('img');
                    var name = $(value).data('name');
                    $(value).find('img').css({cursor: 'pointer'});
                    $(value).find('img').on('click', function () {
                        var input_file = $('<input type="file">');
                        input_file.trigger('click');
                        input_file.on('change', function () {
                            var file = $(this)[0].files[0];
                            var formData = new FormData();
                            formData.append('file', file);
                            var xhr = new XMLHttpRequest();
                            xhr.open('POST', '{%url m=api c=common a=upload%}', true);
                            xhr.onload = function () {
                                if (xhr.status == 200 && xhr.readyState == 4) {
                                    var response = xhr.response;
                                    response = $.parseJSON(response);
                                    img.attr('src', response.body.path);
                                    $(value).append('<input type="hidden" name="' + name + '" value="' + response.body.id + '">');
                                }
                            };
                            xhr.send(formData);
                        });
                    });
                    break;
                default:
                    break;
            }
        });
        $(this).html('保存').removeClass('modify').addClass('save');
    });


    $('#store').on('click', '.save', function () {
        var td = $(this).parents('tr').find('td.editable');
        var tr = $(this).parents('tr').find('td.edierp');


        var obj = {
            id: $(this).data('id')
        };


        $.each(td, function (index, value) {
            if ($(value).find('input').length == 0)
                return true;

            obj[$(value).data('name')] = $(value).find('input').val();
        });

        $.each(tr, function (index, value) {
            obj['radio'] = 0;
            var radio=($(value).find('input'));
            for (var i=0;i<radio.length;i++){
                if(radio[i].checked){
                    obj['radio'] = radio[i].value;
                }
            }


        });


        $.post('{%url m=ajax c=store a=save%}', obj, function (response) {
            if (response.code == 1) {
                $.each(td, function (index, value) {
                    if ($(value).data('type') == 'text') {
                        $(value).html($(value).find('input').val());
                    }
                    if ($(value).data('type') == 'img') {
                        $(value).find('img').css({cursor: 'default'}).off('click');
                    }
                });
                ths.html('编辑').removeClass('save').addClass('modify');
            }
            else {
                $('#alert').html(response.result);
                $('.alert').removeClass('display-hide');
            }
        });
    });


    $('#create').on('click', function () {
        $('#new').removeClass('display-hide');
    });

    $('.createBtn').on('click', function () {
        var name = $(this).parents('tr').find('input[name=name]').val();

        var radio = $(this).parents('tr').find('input[name=erp]');
        for (var i = 0; i < radio.length; i++) {
            if (radio[i].checked) {
                radio = radio[i].value;
            }
        }

        $.post('{%url m=ajax c=store a=create%}', {name: name, radio: radio}, function (response) {

            if (response.code == 1) {
                var tpl = '<tr><td class="editable" data-type="text" data-name="name">' + response.body.name + '</td><td><button class="btn btn-xs yellow-stripe default modify" data-id="' + response.body.id + '">编辑</button><button class="btn btn-xs red-stripe deafult remove" data-id="' + response.body.id + '">删除</button></td></tr>';
                $(tpl).insertAfter($('#store tbody tr:first'));
            }
            else {
                App.alert({
                    container: $('#alert_container').val(), // alerts parent container
                    place: 'append', // append or prepent in container
                    type: 'danger', // alert's type
                    message: response.result,
                    close: true,
                    focus: true, // auto scroll to the alert after shown
                    closeInSeconds: 3, // auto close after defined seconds
                    icon: 'fa fa-remove' // put icon class before the message
                });
            }
        });
        return false;
    });

    $('#store').on('click', '.remove', function () {
        var id = $(this).data('id');
        var ths = $(this);
        $.post('{%url m=ajax c=store a=remove%}', {id: id}, function (response) {
            if (response.code == 1) {
                ths.parents('tr').remove();
            }
            else {
                App.alert({
                    container: $('#alert_container').val(), // alerts parent container
                    place: 'append', // append or prepent in container
                    type: 'danger', // alert's type
                    message: response.result,
                    close: true,
                    focus: true, // auto scroll to the alert after shown
                    closeInSeconds: 3, // auto close after defined seconds
                    icon: 'fa fa-remove' // put icon class before the message
                });
            }
        });
    });
</script>
</body>

</html>