<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>用户管理</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="{%$VIEW_ROOT%}/assets/global/css/font.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
		<link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
        <!-- BEGIN THEME GLOBAL STYLES -->
		<link href="{%$VIEW_ROOT%}/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
		<link href="{%$VIEW_ROOT%}/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
		<link href="{%$VIEW_ROOT%}/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{%$VIEW_ROOT%}/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <!-- BEGIN HEADER -->
        {%include file='admin/public/header.html'%}
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            {%include file='admin/public/sidebar.html'%}
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN THEME PANEL -->
                    {%include file='admin/public/style.html'%}
                    <!-- END THEME PANEL -->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="index.php">首页</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>用户管理</span>
                                <i class="fa fa-circle"></i>
							</li>
							<li>
                                <span>用户管理</span>
                            </li>
                        </ul>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h3 class="page-title"> 用户管理
                        <small>用户管理</small>
                    </h3>
					
                    <div id="userSwiftModal" class="modal container fade" tabindex="-1"></div>
                    
                    <div id="vipModal" class="modal fade" tabindex="-1" data-width="760">
						<form class="form-horizontal" role="form" id="vipForm">
							<input type="hidden" name="id" value="">	
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">更改会员等级</h4>
							</div>
							<div class="modal-body">
                            	<div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">会员</label>
                                        <div class="col-md-10">
                                            <div class="radio-list">
                                                <label class="radio-inline">
                                                    <input type="radio" name="vip" value="0"> 普通会员 </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="vip" value="1"> 白金会员 </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="vip" value="2"> 钻石会员 </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">导师</label>
                                        <div class="col-md-10">
                                            <div class="radio-list">
                                                <label class="radio-inline">
                                                    <input type="radio" name="master" value="0"> 否 </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="master" value="1"> 是 </label>
                                            </div>
                                        </div>
                                    </div>
                            	</div>
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-outline dark">关闭</button>
								<button type="submit" class="btn green">保存</button>
							</div>
						</form>
					</div>
                    
                    
                    <div id="wechatModal" class="modal fade" tabindex="-1" data-width="760">
						<form class="form-horizontal" role="form" id="wechatForm">
							<input type="hidden" name="id" value="">	
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">更改微信号</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label class="col-md-2 control-label">新微信号</label>
									<div class="col-md-10">
										<input type="text" name="wechat" class="form-control">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-outline dark">关闭</button>
								<button type="submit" class="btn green">保存</button>
							</div>
						</form>
					</div>
					<div id="passwordModal" class="modal fade" tabindex="-1" data-width="760">
						<form class="form-horizontal" role="form" id="passwordForm">
							<input type="hidden" name="id" value="">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">更改密码</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label class="col-md-2 control-label">登陆密码</label>
									<div class="col-md-10">
										<input type="text" name="password" class="form-control">
										<span class="help-block">不填写为不更改</span>
									</div>
								</div>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label class="col-md-2 control-label">支付密码</label>
									<div class="col-md-10">
										<input type="text" name="paypassword" class="form-control">
										<span class="help-block">不填写为不更改</span>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-outline dark">关闭</button>
								<button type="submit" class="btn green">保存</button>
							</div>
						</form>
					</div>
					
					<div id="moneyModal" class="modal fade" tabindex="-1" data-width="760">
						<form class="form-horizontal" role="form" id="moneyForm">
							<input type="hidden" name="id" value="">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">用户余额变更</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label class="col-md-2 control-label">金额</label>
									<div class="col-md-10">
										<input type="text" name="money" class="form-control">
										<span class="help-block">填写负数为减少金额，正数为增加金额</span>
									</div>
								</div>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label class="col-md-2 control-label">备注</label>
									<div class="col-md-10">
										<input type="text" name="note" class="form-control">
										<span class="help-block">填写备注</span>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-outline dark">关闭</button>
								<button type="submit" class="btn green">保存</button>
							</div>
						</form>
					</div>
					
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Begin: life time stats -->
                            <div class="portlet light portlet-fit portlet-datatable bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-green"></i>
                                        <span class="caption-subject font-green sbold uppercase"> 用户列表 </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-container">
                                        <div class="table-actions-wrapper">
                                        	<div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-success export" data-all="select">导出选中项</button>
                                                <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="javascript:;" class="export" data-all="select"> 导出选中项 </a>
                                                    </li>
                                                    <li>
                                                    	<a href="javascript:;" class="export" data-all="noselect"> 导出其他项 </a>
                                                    </li>
                                                    <li class="divider"> </li>
                                                    <li>
                                                        <a href="javascript:;" class="export" data-all="all"> 导出所有项 </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span> </span>
                                            <select class="table-group-action-input form-control input-inline input-small input-sm">
                                                <option value="">请选择...</option>
                                                <option value="export">导出EXCEL</option>
                                            </select>
                                            <button class="btn btn-sm btn-default table-group-action-submit">
                                                <i class="fa fa-check"></i> 提交
                                            </button>
                                        </div>
                                        <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                                            <thead>
                                                <tr role="row" class="heading">
                                                    <th width="2%">
                                                        <input type="checkbox" class="group-checkable"> </th>
													<th width="5%"> 头像 </th>
                                                    <th width="5%"> 用户名 </th>
                                                    <th width="5%"> 手机号 </th>
                                                    <th width="5%"> 邀请码 </th>
                                                    <th width="10%"> 注册时间 </th>
                                                    <th width="5%"> 余额 </th>
                                                    <th width="5%"> VIP</th>
													<th width="10%"> 导师 </th>
													<th width="10%"> 上级导师 </th>
													<th width="10%"> 推广人 </th>
                                                    <th width="10%"> 介绍 </th>
                                                    <th width="5%"> 微信号 </th>
                                                    <th width="15%"> 来源 </th>
                                                    <th width="10%"> 操作 </th>
                                                </tr>
                                                <tr role="row" class="filter">
                                                    <td></td>
                                                    <td>
                                                        #
													</td>
													<td>
													 	<input type="text" class="form-control form-filter input-sm" name="username">
                                                    </td>
													<td>
													 	<input type="text" class="form-control form-filter input-sm" name="telephone">
                                                    </td>
													<td>
													 	<input type="text" class="form-control form-filter input-sm" name="invit">
                                                    </td>
                                                    <td>
                                                        <div class="input-group date date-picker date-picker1 margin-bottom-5" data-date-format="yyyy-mm-dd">
                                                            <input type="text" class="form-control form-filter input-sm" readonly name="regtime_from" placeholder="从">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-sm default" type="button">
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                        <div class="input-group date date-picker date-picker2" data-date-format="yyyy-mm-dd">
                                                            <input type="text" class="form-control form-filter input-sm" readonly name="regtime_to" placeholder="到">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-sm default" type="button">
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="margin-bottom-5">
                                                            <input type="text" class="form-control form-filter input-sm" name="money_from" placeholder="从" /> </div>
                                                        <input type="text" class="form-control form-filter input-sm" name="money_to" placeholder="到" />
													</td>
                                                    <td>
														<select name="vip" class="form-control form-filter input-sm">
															<option value="">全部</option>
															<option value="0">普通会员</option>
															<option value="1">白金会员</option>
															<option value="2">钻石会员</option>
														</select>
                                                    </td>
													<td>
														<select name="master" class="form-control input-sm form-filter">
															<option value="">全部</option>
                                                            <option value="-1">渠道用户</option>
															<option value="1">导师</option>
															<option value="0">普通用户</option>
														</select>
													</td>
													<td>
														<select class="form-control form-filter input-sm select2" name="o_master"></select>
													</td>
													<td>
														<select class="form-control form-filter input-sm select2" name="oid"></select>
													</td>
													
                                                    <td>
                                                        #
                                                    </td>
                                                    <td>
                                                    #
                                                    </td>
                                                    <td>
                                                    	<select class="form-control form-filter input-sm" name="source">
                                                        	<option value="">全部</option>
                                                            <option value="-1">无来源</option>
                                                            {%section name=source loop=$source%}
                                                            <option value="{%$source[source].id%}">{%$source[source].name%}</option>
                                                            {%/section%}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div class="margin-bottom-5">
                                                            <button class="btn btn-sm btn-success filter-submit margin-bottom">
                                                                <i class="fa fa-search"></i> 搜索</button>
                                                        </div>
                                                        <button class="btn btn-sm btn-default filter-cancel">
                                                            <i class="fa fa-times"></i> 重置</button>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody> </tbody>
                                            <tfoot>
                                                <th>
                                                	#
                                                </th>
                                                <th id="gravatar">
                                                #
                                                </th>
                                                <th id="name">
                                                #
                                                </th>
                                                <th id="telephone">
                                                #
                                                </th>
                                                <th id="invit">
                                                #
                                                </th>
                                                <th id="regtime">
                                                #
                                                </th>
                                                <th id="money">
                                                #
                                                </th>
                                                <th id="teacher">
                                                #
                                                </th>
                                                <th id="master">
                                                #
                                                </th>
                                                <th id="o_master"> 
                                                #
                                                </th>
                                                <th id="oid">
                                                #
                                                </th>
                                                <th id="description">
                                                #
                                                </th>
                                                <th id="wechat_no">
                                                #
                                                </th>
                                                <th>
                                                #
                                                </th>
                                                <th>
                                                #
                                                </th>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- End: life time stats -->
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            {%include file='admin/public/quick_sidebar.html'%}
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        {%include file='admin/public/footer.html'%}
        <!-- END FOOTER -->
        <!--[if lt IE 9]>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/respond.min.js"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{%$VIEW_ROOT%}/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
		<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/scripts/app.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{%$VIEW_ROOT%}/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8" type="text/javascript"></script>
		<script src="{%$VIEW_ROOT%}/assets/pages/scripts/user.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
		<script type="text/javascript">
		$.ajaxSetup({
			headers:{
				'X-CSRF-TOKEN':'{%$x_csrf_token%}'
			}
		});
		
		$('#datatable_orders').on('click','.vip',function(){
			var id = $(this).data('id');
			$('#vipModal').find('input[name=id]').val(id);
			
			var vip = $(this).data('vip');
			$('#vipModal').find('input[name=vip]').removeAttr('checked').parent().removeClass('checked');
			$('#vipModal').find('input[name=vip][value='+vip+']').attr('checked','checked').parent().addClass('checked');
			
			var master = $(this).data('master');
			$('#vipModal').find('input[name=master]').removeAttr('checked').parent().removeClass('checked');
			$('#vipModal').find('input[name=master][value='+master+']').attr('checked','checked').parent().addClass('checked');
			
			$('#vipModal').modal('show');
		});
		
		$('#datatable_orders').on('click','.password',function(){
			var id = $(this).data('id');
			$('#passwordModal').find('input[name=id]').val(id);
			$('#passwordModal').modal('show');
		});
		
		$('#datatable_orders').on('click','.wechat',function(){
			var id = $(this).data('id');
			var wechat = $(this).parents('tr').find('td:eq(12)').html();
			$('#wechatModal').find('input[name=id]').val(id);
			$('#wechatModal').find('input[name=wechat]').val(wechat);
			$('#wechatModal').modal('show');
		});
		
		$('#wechatForm').on('submit',function(){
			var id = $(this).find('input[name=id]').val();
			var wechat = $(this).find('input[name=wechat]').val();
			$.post('{%url m=ajax c=user a=wechat%}',{id:id,wechat:wechat},function(response){
				if(response.code==1)
				{
					$('.wechat[data-id="'+id+'"]').parents('tr').find('td:eq(12)').html(wechat);
					$('#wechatModal').modal('hide');
				}
			});
			return false;
		});
		
		$('#datatable_orders').on('click','.money',function(){
			var id = $(this).data('id');
			$('#moneyModal').find('input[name=id]').val(id);
			$('#moneyModal').modal('show');
		});
		
		$('#passwordModal').on('hide.bs.modal',function(){
			$(this).find('input').val('');
		});
		
		$('#moneyModal').on('hide.bs.modal',function(){
			$(this).find('input').val('');
		});
		
		$('#vipForm').on('submit',function(){
			var id = $(this).find('input[name=id]').val();
			var vip = $(this).find('input[name=vip]:checked').val();
			var master = $(this).find('input[name=master]:checked').val();
			$.post('{%url m=ajax c=user a=vip%}',{id:id,vip:vip,master:master},function(response){
				if(response.code==1)
				{
					$('button.vip[data-id='+id+']').attr('data-vip',vip);
					$('button.vip[data-id='+id+']').attr('data-master',master);
					vip = vip==0?'普通会员':(vip==1?'白金会员':'钻石会员');
					master = master==0?'否':'是';
					$('button.vip[data-id='+id+']').parents('tr').find('td:eq(7)').html(vip);
					$('button.vip[data-id='+id+']').parents('tr').find('td:eq(8)').html(master);
					$('#vipModal').modal('hide');
				}
				else
				{
					alert(response.result);
				}
			});
			return false;
		});
		
		$('#moneyForm').on('submit',function(){
			var id = $(this).find('input[name=id]').val();
			var money = $(this).find('input[name=money]').val();
			var note = $(this).find('input[name=note]').val();
			$.post('{%url m=ajax c=user a=money%}',{id:id,money:money,note:note},function(response){
				$('#moneyModal').modal('hide');
				if(response.code==1)
				{
					var source_money = $('button.money[data-id='+id+']').parents('tr').find('td:eq(6)').html();
					source_money = parseFloat(source_money);
					source_money += parseFloat(money);
					$('button.money[data-id='+id+']').parents('tr').find('td:eq(6)').html(source_money);
				}
				else
				{
					App.alert({
						container: $('#alert_container').val(), // alerts parent container 
						place: 'append', // append or prepent in container 
						type: 'danger', // alert's type 
						message: response.result,
                        close: true,
						focus: true, // auto scroll to the alert after shown
						closeInSeconds: 3, // auto close after defined seconds 
						icon:'fa fa-remove' // put icon class before the message
					});
				}
			});
			return false;
		});
		
		
		$('#passwordForm').on('submit',function(){
			var id = $(this).find('input[name=id]').val();
			var password = $(this).find('input[name=password]').val();
			var paypassword = $(this).find('input[name=paypassword]').val();
			$.post('{%url m=ajax c=user a=password%}',{id:id,password:password,paypassword:paypassword},function(response){
				$('#passwordModal').modal('hide');
				if(response.code!=1)
				{
					App.alert({
						container: $('#alert_container').val(), // alerts parent container 
						place: 'append', // append or prepent in container 
						type: 'danger', // alert's type 
						message: response.result,
                        close: true,
						focus: true, // auto scroll to the alert after shown
						closeInSeconds: 3, // auto close after defined seconds 
						icon:'fa fa-remove' // put icon class before the message
					});
				}
			});
			return false;
		});
		
		$.fn.select2.defaults.set("theme", "bootstrap");
		
		function formatRepo(user) {
			if(!user.loading)
			{
				var markup = "<table class='movie-result'><tr>";
				markup += "<td valign='center'><img src='" + (user.gravatar==null?'http://placehold.it/50x50':user.gravatar) + "' width='50' heigth='50' /></td>";
				markup += "<td align='center' valign='center'><h5> " + user.name + "</h5>";
				markup += "<div class='movie-synopsis'> " + user.telephone + "</div>";
				markup += "</td></tr></table>"
				return markup;
			}
		}

		function formatRepoSelection(repo) {
			return repo.name;
		}

		$(".select2").select2({
			placeholder: '请选择用户',
			allowClear: true,
			language: {
			   noResults: function(){
				   return "没有找到任何匹配项";
			   },
			   inputTooShort:function(){
				   return '请输入用户名称';
				},
				searching:function(){
					return '正在努力搜索...';
				},
				loadingMore:function(){
					return '载入更多...';
				},
				inputTooLong:function(){
					return '输入太多了...';
				}
			},
			ajax: {
				url: "{%url m=ajax c=user a=search%}",
				dataType: 'json',
				delay: 250,
				data: function(params) {
					return {
						keywords: params.term, // search term
						length: params.page
					};
				},
				processResults: function(data, page) {
					return {
						results: data.body.data
					};
				},
				cache: true
			},
			escapeMarkup: function(markup) {
				return markup;
			},
			minimumInputLength: 1,
			templateResult: formatRepo,
			templateSelection: formatRepoSelection
		});
		
		$('#datatable_orders').on('click','.showSwiftBtn',function(){
			$('body').modalmanager('loading');
            var btn = $(this);
			$('#userSwiftModal').load('{%url c=swift a=detail%}',{uid:btn.data('id')}, function(){
			  $('#userSwiftModal').modal();
			});
		});
		
		$('#userSwiftModal').on('click', '.update', function(){
			var uid = $(this).data('id');
		  $('#userSwiftModal').modal('loading');
		  $('#userSwiftModal').load('{%url c=swift a=detail%}',{uid:uid}, function(){
			  $('#userSwiftModal').modal();
			});
		});
		
		$('#datatable_orders').on('click','.remove',function(){
			var ths = $(this);
			$.post('{%url m=ajax c=user a=remove%}',{id:$(this).data('id')},function(response){
				if(response.code==1)
				{
					ths.parents('tr').remove();
				}
			});
		});

		$(document).on('click','.export',function(){
			var ids = $('#datatable_orders_wrapper').find('tbody input.checkboxes:checked');
			var ths = $(this);
			var form = document.createElement("form");
			form.action = '{%url c=export a=user%}';
			form.target = '_blank';
			form.method = 'post';
			var input_all = document.createElement('input');
			input_all.type = 'hidden';
			input_all.name = 'all';

			if (ths.data('all') == 'all')
			{
				input_all.value = 'all';
			}
			if (ths.data('all') == 'noselect')
			{
				input_all.value = 'noselect';
				for(var i=0;i<ids.length;i++)
				{
					var input = document.createElement('input');
					input.type = 'hidden';
					input.name = 'id[]';
					input.value = ids[i].value;
					form.appendChild(input);
				}
			}
			if (ths.data('all') == 'select')
			{
				input_all.value = 'select';
				if(ids.length == 0)
				{
					App.alert({
	                    type: 'danger',
	                    icon: 'warning',
	                    message: '没有选择任何数据',
	                    container: $('#datatable_orders_wrapper'),
	                    place: 'prepend'
	                });
	                return false;
				}
				else
				{
					for(var i=0;i<ids.length;i++)
					{
						var input = document.createElement('input');
						input.type = 'hidden';
						input.name = 'id[]';
						input.value = ids[i].value;
						form.appendChild(input);
					}
				}
			}

			form.appendChild(input_all);
			form.submit();
			return false;
		});
		</script>
    </body>

</html>