<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
</head>
<body>
    <div id="header">
        <header>
            <a href="{%url c=mobile a=account%}" class="left_btn"><i class="icon back"></i></a>
            <h1>账号管理</h1>
        </header>
    </div>
    <div id="content" style="padding-top: 50px;background-color: #f0f0f0;">
        <ul class="account_wrap">
            <li class="head_portrait">
                <a class="item clearfix" onClick="camera();">
                    <div id="gravatar" class="tt left">头像</div>
                    <div class="pic right">
                        <img id="img" src="{%resource file=$user.gravatar%}" onerror="this.src='http://placehold.it/80x80?text=头像';">
                    </div>
                    <div class="rightward"></div>
                </a>
                <form id="form" action="" method="post" style="display:none;">
                    <!--<input type="file" id="img" name="img" data-url="" onchange="setImagePreview(0)" >-->
                    <input type="file" id="file" name="从相册选择" class="album" capture="camera" accept="image/*" onChange="setImagePreview(0)">
                </form>
            </li>
            <li id="name">
                <a class="item clearfix">
                    <div class="tt left">昵称</div>
                    <div class="ww right">{%$user.name%}</div>
                    <div class="rightward"></div>
                </a>
            </li>
            <li>
                <a class="item clearfix" href="{%url c=mobile a=safe%}">
                    <div class="tt left">账号安全</div>
                    <div class="rightward"></div>
                </a>
            </li>
        </ul>
        <ul class="account_wrap">
            <li>
                <a class="item clearfix" href="{%url c=mobile a=description%}">
                    <div class="tt left">个人介绍</div>
                    <div class="rightward"></div>
                </a>
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript">
    function camera(){
        var obj = document.getElementById('img') ;
        obj.outerHTML=obj.outerHTML;
        $('#form input').each(function(){
            console.log($(this).val());
            if(!$(this).val()){
                $(this).click();
                return false;
            }
        });

    }
	
	$('#name').on('click',function(){
		var name = window.prompt('请输入新昵称','{%$user.name%}');
		if(name.length != 0)
		{
			$.post('{%url m=ajax c=user a=name%}',{name:name},function(response){
				if(response.code==1)
				{
					$('#name .right').html(name);
				}
				else
				{
					msg(response.result);
				}
			});
		}
	});

    function setImagePreview(n){
        var docObj=$("#form input")[n];
        var imgObjPreview=$('#img')[n];
        if(docObj.files &&docObj.files[0]){
            //火狐下，直接设img属性
            //imgObjPreview.style.display = 'block';
//            imgObjPreview.style.width = '260px';
//            imgObjPreview.style.height = '260px';
            //imgObjPreview.src = docObj.files[0].getAsDataURL();

            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        }
        else
		{
            //IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("localImag");
            //必须设置初始大小
//            localImagId.style.width = "260px";
//            localImagId.style.height = "260px";
            //图片异常的捕捉，防止用户修改后缀来伪造图片
            try{
                localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            }
            catch(e){
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
		
		var file = $('#file')[0].files[0];
		var formData = new FormData();
		formData.append('file',file);
		var xhr = new XMLHttpRequest();
		xhr.open('POST','{%url m=api c=common a=upload%}',true);
		xhr.onload = function(){
			if(xhr.status == 200 && xhr.readyState == 4)  
			{
				var response = xhr.response;
				response = $.parseJSON(response);
				$('#gravatar').html('头像');
				$.post('{%url m=ajax c=user a=setGravatar%}',{file:response.body.id},function(response){
					if(response.code!=1)
					{
						alert('头像设置异常，请重试');
					}
				});
			}
		}; 
		xhr.upload.addEventListener('progress', function(event){
			if(event.lengthComputable) {
			var howmuch = (event.loaded / event.total) * 100;
				$('#gravatar').html('正在上传:'+Math.ceil(howmuch)+'%');
			} else {
				alert('头像上传成功');
			}
		}, false);
		xhr.send(formData);
        return true;
    }
</script>
</html>