<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
	<link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
</head>
<body style="background-color: #f1f1f1;">
    <div id="header">
        <header>
            <a href="{%url c=mobile a=account%}" class="left_btn"><i class="icon back"></i></a>
            <h1>收货地址管理</h1>
        </header>
    </div>
    <div id="content"style="padding-top: 50px;">
        <div class="address_wrap">
			{%section name=address loop=$address%}
			<div class="address_item">
                <div class="address_top">
                    <div class="first_line clearfix">
                        <div class="addName">{%$address[address].name%}</div>
                        <div class="addAuthen {%if empty($address[address].identify)%}no{%else%}yes{%/if%}">{%if empty($address[address].identify)%}未认证{%else%}已认证{%/if%}</div>
                        <div class="addTel">{%$address[address].telephone%}</div>
                    </div>
                    <div class="line">{%$address[address].province%}省{%$address[address].city%}市{%$address[address].county%}{%$address[address].address%}</div>
                    {%if !empty($address[address].identify)%}
					<div class="line">身份证：{%$address[address].identify%}</div>
					{%/if%}
                </div>
                <div class="address_bottom clearfix">
                    <div class="left rBtn default" data-id="{%$address[address].id%}" sel="{%if $address[address].host==1%}yes{%else%}no{%/if%}" onClick="toggleAttr(this,'sel','yes','no');">设为默认</div>
                    <div class="right flex_box">
                        <div class="rBtn edit" data-id="{%$address[address].id%}">编辑</div>
                        <div class="rBtn del" data-id="{%$address[address].id%}">删除</div>
                    </div>
                </div>
            </div>
			{%/section%}
            <a href="{%url c=mobile a=create_address%}" class="long_btn">新增收货地址</a>
        </div>
    </div>
	{%include file='mobile/public/msg.html'%}
	<script type="text/javascript">
	$.ajaxSetup({
		headers:{
			'X-CSRF-TOKEN':'{%$x_csrf_token%}'
		}
	});
	
	$('.default').on('click',function(){
		$('.default').attr('sel','no');
		$(this).attr('sel','yes');
		var id = $(this).data('id');
		$.post('{%url m=ajax c=address a=setHost%}',{id:id},function(response){
			if(response.code==1)
			{
			}
			else
			{
				msg(response.result);
			}
		});
	});
	
	$('.del').on('click',function(){
		var id = $(this).data('id');
		$(this).parents('.address_item').remove();
		$.post('{%url m=ajax c=address a=remove%}',{id:id},function(response){
			if(response.code==1)
			{
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	});
	
	$('.edit').on('click',function(){
		window.location = '{%url c=mobile a=edit_address%}&id='+$(this).data('id');
	});
	</script>
</body>
</html>