<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
</head>
<body style="background-color: #ebeded;">
    <div id="header">
        <header>
            <a href="{%url c=mobile a=college_detail id=$smarty.get.id%}" class="left_btn"><i class="icon back"></i></a>
            <h1>节目反馈</h1>
            <a href="#" class="right_btn" id="submit">发送</a>
        </header>
    </div>
    <div class="fank-wrap">
    	{%section name=advise loop=$advise%}
        <div class="fank-item clearfix">
             <input type="radio" name="advise{%$advise[advise].id%}" value="{%$advise[advise].id%}" {%if $smarty.section.advise.first%}checked="checked"{%/if%}>
             <label name="advise{%$advise[advise].id%}" {%if $smarty.section.advise.first%}class="checked"{%/if%} for="advise{%$advise[advise].id%}"></label>
            <div class="left">{%$advise[advise].title%}</div>
        </div>
        {%/section%}
    </div>
    {%include file='mobile/public/msg.html'%}
</body>
<script type="text/javascript">
$(function() {
	$('.fank-item').click(function(){
		var radioId = $(this).find('label').attr('name');
		$('label').removeClass('checked') && $(this).find('label').addClass('checked');
		$('input[type="radio"]').removeAttr('checked') && $(this).find('input').attr('checked','checked');
	});
	
	$.ajaxSetup({
		headers:{
			'X-CSRF-TOKEN':'{%$x_csrf_token%}'
		}
	});
  
	$('#submit').on('click',function(){
		$.post('{%url m=ajax c=advise a=submit%}',{id:$('input:checked').val(),cid:'{%$smarty.get.id%}'},function(response){
			if(response.code==1)
			{
				msg('感谢您的反馈',function(){
					window.location = '{%url c=mobile a=college_detail id=$smarty.get.id%}';
				});
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	});
});

</script>
</html>