<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/idangerous.swiper.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/idangerous.swiper.js"></script>
</head>
<body>
    <div id="header">
        <header>
            <a href="javascript:window.history.go(-1);" class="left_btn"><i class="icon back"></i></a>
            <h1>问题详情</h1>
        </header>
    </div>
    <div id="content" style="padding-top: 50px;padding-bottom: 60px;">
        <ul class="question">
            <li>“淘微购”是什么平台？</li>
        </ul>
        <div class="answer-detail">“淘微购”致力于打造专业进口商品购物分享平台，首创会员制移动社交电商平台模式，并拥有专属导师免费终身服务体系。将国外优秀的商品和商家通过平台引进到中国，彻底改变中国代购违法、偷税、假货横行的现状，以最低的运营成本为消费者提供最节省、最方便、最高性价比的购物体验。</div>
    </div>
</body>
<script>
    
</script>
</html>