<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
	<link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery.transit.js"></script>
	<script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
</head>
<body>
<div id="header">
    <header>
        <a href="javascript:history.go(-1);" class="left_btn"><i class="icon back"></i></a>
        <h1>验证支付密码</h1>
    </header>
</div>
<div id="content" style="padding-top: 50px;">
    <div class="pages">
        <div class="page_1">
            <h3>请输入原六位支付密码</h3>
            <div class="pwd-box">
                <input type="tel" maxlength="6" class="pwd-input" id="pwd-input" autofocus="autofocus">
                <div class="fake-box1">
                    <input type="password" readonly>
                    <input type="password" readonly>
                    <input type="password" readonly>
                    <input type="password" readonly>
                    <input type="password" readonly>
                    <input type="password" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
{%include file='mobile/public/msg.html'%}
</body>
<script type="text/javascript">
    $(function() {
		if(window.localStorage)
		{
			window.localStorage.setItem('auth_pay_password',0);
		}
		
		$.ajaxSetup({
			headers:{
				'X-CSRF-TOKEN':'{%$x_csrf_token%}'
			}
		});
		
		function GetQueryString(name)
		{
			 var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
			 var r = window.location.search.substr(1).match(reg);
			 if(r!=null)return  unescape(r[2]); return null;
		}
		
        var $input = $(".fake-box1 input");
        $("#pwd-input").on("input", function () {
            var pwd = $(this).val().trim();
            for (var i = 0, len = pwd.length; i < len; i++) {
                $input.eq("" + i + "").val(pwd[i]);
            }
            $input.each(function () {
                var index = $(this).index();
                if (index >= len) {
                    $(this).val("");
                }
            });
            if (len == 6) {
                var paypassword = $.trim($('#pwd-input').val());
				$.post('{%url m=ajax c=user a=auth_pay_password%}',{pay_password:paypassword},function(response){
					if(response.code==1)
					{
						if(window.localStorage)
						{
							window.localStorage.setItem('auth_pay_password',1);
						}
						var href = GetQueryString('href');
						if(href!=null && href.length>1)
						{
							window.location = href;
						}
					}
					else
					{
						msg('支付密码错误');
						$('input').val('');
					}
				});
				
            }
        })
    })
</script>
</html>