<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
</head>
<body>
    <div id="content" style="padding-bottom: 60px;">
        {%include file='mobile/public/search.html'%}
        <div class="fen_lei_box">
            {%section name=category loop=$category%}
			<div onClick="window.location='{%url c=mobile a=category_product id=$category[category].id%}';" class="item" {%if !empty($category[category].logo)%}style="background-image:url({%$category[category].logo%});"{%/if%}>
                <div class="black_cloth">
                    <div class="theme">{%$category[category].name%}</div>
                    <br>
                    <a class="look_btn">查看全部</a>
                </div>
            </div>
			{%/section%}
        </div>
    </div>
    <div id="footer">
        <footer>
            <ul class="nav_inner">
                <li><a href="{%url c=mobile a=index%}" class="a_item "><div class="home"></div><p>首页</p></a></li>
                <li><a href="{%url c=mobile a=category%}" class="a_item cur"><div class="classify"></div><p>分类</p></a></li>
                <li><a href="{%url c=mobile a=cart%}" class="a_item "><div class="car"></div><p>购物车</p></a></li>
                <li><a href="{%url c=mobile a=account%}" class="a_item "><div class="mine"></div><p>我的</p></a></li>
            </ul>
        </footer>
    </div>
</body>
</html>