<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
</head>
<body>
    <div id="header">
        <header>
            <a href="{%url c=mobile a=safe%}" class="left_btn"><i class="icon back"></i></a>
            <h1>修改密码</h1>
        </header>
    </div>
    <div id="content" style="padding-top: 50px;">
        <div class="register_form">
            <div class="item">
                <input type="text" placeholder="请输入你的手机号码" id="mobile">
            </div>
            <div class="item">
                <input type="text" placeholder="请输入验证码" id="yzm">
                <a id="get_yzm">获取验证码</a>
            </div>
			<div class="item">
                <input type="password" placeholder="请输入新密码" id="password">
            </div>
            <div class="item">
                <input type="password" placeholder="请确认密码" id="repassword">
            </div>
        </div>
        <a class="short_btn" id="submit">修改密码</a>
    </div>
    {%include file='mobile/public/msg.html'%}
	<script type="text/javascript">
	$.ajaxSetup({
		headers:{
			'X-CSRF-TOKEN':'{%$x_csrf_token%}'
		}
	});
	
	$('#get_yzm').on('click',function(){
		var ths = $(this);
		if($(this).hasClass('disabled'))
			return false;
		var telephone = $.trim($('#mobile').val());
		if(telephone.length==0)
		{
			msg('请输入手机号码');
			return false;
		}
		$(this).addClass('disabled').attr('disabled','disabled');
		$.post('{%url m=ajax c=user a=code%}',{telephone:telephone},function(response){
			if(response.code==1)
			{
				var s = 60;
				var timer = setInterval(function(){
					if(s>0)
					{
						s--;
						$('#get_yzm').html('已发送('+s+')');
					}
					else
					{
						$('#get_yzm').html('发送验证码').removeAttr('disabled').removeClass('disabled');
						clearInterval(timer);
					}
				},1000);
			}
			else
			{
				msg(response.result);
				ths.removeAttr('disabled').removeClass('disabled');
			}
		});
		return false;
	});
	
	$('#submit').on('click',function(){
		var telephone = $.trim($('#mobile').val());
		var smscode = $.trim($('#yzm').val());
		var password = $.trim($('#password').val());
		var repassword = $.trim($('#repassword').val());
		if(telephone.length == 0)
		{
			msg('请输入手机号码');
			return false;
		}
		if(smscode.length == 0)
		{
			msg('请输入验证码');
			return false;
		}
		if(password.length == 0)
		{
			msg('请输入新密码');
			return false;
		}
		if(password != repassword)
		{
			msg('两次输入的密码不一致');
			return false;
		}
		$.post('{%url m=ajax c=user a=setpassword%}',{telephone:telephone,smscode:smscode,password:password},function(response){
			if(response.code==1)
			{
				window.location = '{%url c=mobile a=safe%}';
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	});
	</script>
</body>
</html>