<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
</head>
<body style="background-color: #fff;">
	{%if !(isset($smarty.get.webview) && $smarty.get.webview==1)%}
    <div id="header">
        <header>
            <a href="javascript:window.history.go(-1);" class="left_btn"><i class="icon back"></i></a>
            <h2>{%$college.title%}</h2>
            <a href="{%url c=mobile a=advise id=$smarty.get.id%}" class="right_btn">投诉</a>
        </header>
    </div>
    {%/if%}
    <div class="cd-wrap" {%if isset($smarty.get.webview) && $smarty.get.webview==1%}style="margin-top:0px;"{%/if%}>
        <div class="cd-head clearfix" style="padding-bottom:10px;">
        <div class="cd-head-right">
                <div class="cdhr-item1">
                    <div class="cdhr-item1-right">浏览：{%$college.browse%}</div>
                    <div class="cdhr-item1-left">{%$teacher.name%}</div>
                </div>
                <div class="cdhr-item2"></div>
                <div class="cdhr-item3">{%$college.description%}</div>
                <div class="bofang" style="margin-top: 15px;height:60px;line-height:60px;">
                	<div class="bf-text" id="read-text" style="float:left;color:#f32529;
                	margin:5px;font-size:14px;">点击收听</div>
                	<button id="readBtn" class="read" style="display: inline;float:left;width:60px;height:60px;background:none;border:none"><img src="{%$VIEW_ROOT%}/mobile/image/stop.png"style="display: block;width:100%;height:100%;float:left;"></button>
                	<div class="bf-text" style="float:left;color:#f32529;
                	margin:5px;font-size:14px;">本次课程</div>
                </div>
                
            </div>
            <div class="cd-head-left"><img src="{%resource file=$teacher.gravatar%}"></div>
            
        </div>
        <div class="cd-middle" style="padding-right: 10px;">
        	课堂记录
        	<!-- <button id="readBtn" class="read" style="display: inline;float: right;color: green; height:25px;">朗读本文</button> -->
        </div>
        {%if !empty($college.video)%}
        <video style="width:100%;" src="{%resource file=$college.video%}" controls preload="auto">
        </video>
        {%/if%}
        <div class="cd-foot">
			{%$college.content%}
		</div>
    </div>
	<script type="text/javascript">
	$.ajaxSetup({
		headers:{
			'X-CSRF-TOKEN':'{%$x_csrf_token%}'
		}
	});
	
	$('.cd-foot').find('p').css({marginLeft:'0px',marginRight:'0px'});
	
	function play(paths)
	{
		//当前播放的音轨
		var current_audio_id = 0;
		
		//创建n个音频文件
		var audio = [];
		for(var i=0;i<paths.length;i++)
		{
			audio[i] = $('<audio preload="auto" data-id='+i+' src='+paths[i]+'></audio>');
			
			if(i!=paths.length-1)
			{
				audio[i].on('ended',function(event){
					current_audio_id = parseInt($(event.currentTarget).data('id'));
					//播放下一个
					audio[current_audio_id+1][0].play();
					$('#readBtn').attr('data-id',current_audio_id+1);
				});
			}
			else
			{
				audio[i].on('ended',function(event){
					$('#readBtn').unbind('click');
					$('#readBtn').addClass('read');
					$('#read-text').html('重新播放');
				});
			}
		}
		
		var pause = function(event){
			for(var i=0;i<audio.length;i++)
			{
				audio[i][0].pause();
			}
			$('#readBtn').html('继续播放').unbind('click').bind('click',play);
		}
		
		var play = function(){
			var current_audio_id = parseInt($('#readBtn').data('id'));
			audio[current_audio_id][0].play();
			console.log(current_audio_id);
			$('#readBtn').html('暂停').unbind('click').bind('click',pause);
		}
		
		//$('#readBtn').html('暂停').bind('click',pause);
		
		//从第一个开始播放
		audio[0][0].play();
		$('#readBtn').attr('data-id',0);
	}
	
	$(document).on('click','.read',function(){
		var ths = $(this);
		$(this).find("img").attr("src","{%$VIEW_ROOT%}/mobile/image/play.png");
		// ths.html('载入中...').removeClass('read');
		$(this).removeClass('read');
		
		$.post('{%url m=ajax c=college a=read%}',{id:'{%$smarty.get.id|default:0%}'},function(response){
			if(response.code==1)
			{
				// ths.html('正在播放...');
				play(response.body);
			}
			else
			{
				// ths.html('转换失败');
			}
		});
		return false;
	});
	</script>
</body>
</html>