<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
	<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101307831" data-redirecturi="http://weigou.hzlianhai.com" charset="utf-8"></script>
</head>
<body style="background-color: #fff;">
    <!-- <div class="godownload clearfix">
        <div class="godownload-pic"><img src="{%$VIEW_ROOT%}/mobile/image/logo233.png" alt=""></div>
        <div class="godownload-text">
            <h3>淘微购-精选全球</h3>
            <p><img src="{%$VIEW_ROOT%}/mobile/image/yes233.png" alt="" style="width:12px;margin-bottom: -3px;margin-right: 3px;">去伪存真，专属服务，不一样的购物体验</p>
        </div>
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.lianhai.MicroBuy">
            <div class="godownload-btn">
                立即下载
            </div>
        </a>
        <img src="{%$VIEW_ROOT%}/mobile/image/close233.png" alt="" class="godownload-close">
    </div>
    <script type="text/javascript">
 
        $(".godownload-close").click(function(){
            $(".godownload").hide();
            $("#header").css("margin-top","0");
            $("#content").css("padding-top","50px");

        })

       
    </script> -->
    <div id="header" style="">
        <header>
            <a href="{%url c=mobile a=index%}" class="left_btn"><i class="icon back"></i></a>
            <h1>登录</h1>
            <a href="" class="registerBtn right_btn">注册</a>
        </header>
    </div>
    <div id="content" style="padding-top: 50px;">
        <div class="login_form">
			<input id="wx_openid" type="hidden" value="{%$wx_openid|default:''%}">
            <div class="item">
                <input type="text" placeholder="请输入你的手机号码" autocomplete="off" id="mobile">
            </div>
            <div class="item">
                <input type="password" placeholder="请输入密码" autocomplete="off" id="pwd">
            </div>
        </div>
        <a class="short_btn" id="submit">登录</a>
        <div class="under_form">
            <a class="right" href="{%url c=mobile a=forgetpwd%}">忘记密码？</a>
        </div>
        <div class="third"></div>
        <div class="third_login">
            <ul class="flex_box">
				{%if isset($isWechat) && $isWechat%}
                <li class="wechat flex" onClick="window.location='{%url c=wechat a=login%}';"></li>
				{%/if%}
				{%if !empty($qq_appid)%}
				<li class="QQ flex" onClick="window.location = 'https://graph.qq.com/oauth2.0/authorize?client_id={%$qq_appid%}&response_type=code&scope=all&redirect_uri={%url c=qq a=login urlencode=1%}';"></li>
				{%/if%}
				{%if !empty($weibo_appkey)%}
                <li class="microblogging flex" onClick="window.location = 'https://api.weibo.com/oauth2/authorize?client_id={%$weibo_appkey%}&response_type=code&redirect_uri={%url c=weibo a=login urlencode=1%}';"></li>
				{%/if%}
            </ul>
        </div>
    </div>
    {%include file='mobile/public/msg.html'%}
</body>
<script type="text/javascript">
	$.ajaxSetup({
		headers:{
			'X-CSRF-TOKEN':'{%$x_csrf_token%}'
		}
	});
		
	$('#submit').on('click',function(){
		login();
	});
	
	$('.registerBtn').on('click',function(){
		if(window.localStorage)
		{
			window.localStorage.removeItem('href');
			window.localStorage.removeItem('href_time');
		}
		window.location = '{%url c=mobile a=register1%}';
		return false;
	});
	
	function dologin()
	{
		var telephone = $('#mobile').val();
		var password = $('#pwd').val();
		var wx_openid = '{%$smarty.session.wx_openid|default:""%}';
		$.post('{%url m=ajax c=user a=login%}',{telephone:telephone,password:password,wx_openid:wx_openid},function(response){
			if(response.code==1)
			{
				if(getParameter('href')!=null)
				{
					window.location = getParameter('href');
				}
				else
				{
					window.location = '{%url c=mobile a=account%}';
				}
			}
			else
			{
				$(".alert_added").html(response.result);
            	alert_pations();
			}
		});
	}

    function login(){
        if(!valid()){
            return false;
        }
        dologin();
		return false;
    }
    function valid () {
        if(!$('#mobile').val()){
            $(".alert_added").html('请填写手机号！');
            alert_pations();
            return false;
        }
        if(!$('#pwd').val()){
            $(".alert_added").html('请填写密码！');
            alert_pations();
            return false;
        }
        if(!checkMobile($('#mobile').val())){
            $(".alert_added").html('手机号码格式错误！');
            alert_pations();
            return false;
        }
        return true;
    }
    function checkMobile(text){
        var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
        if(!myreg.test(text)){
            return false;
        }else{
            return true;
        }
    }
</script>
</html>