<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
</head>
<body>
	{%if !isset($smarty.get.webview) || $smarty.get.webview!=1%}
    <div id="header">
        <header>
            <a href="{%url c=mobile a=spread%}" class="left_btn"><i class="icon back"></i></a>
            <h1>二维码邀请</h1>
        </header>
    </div>
    {%/if%}
    <div class="content" {%if !isset($smarty.get.webview) || $smarty.get.webview!=1%}style="padding-top: 50px;"{%/if%}>
    <div class="bg-pic" >
       <!--  <img src="{%$VIEW_ROOT%}/mobile/image/bgerweima.png"> -->
        <div class="code_box" style="
    margin-top: 200px;">
            <div class="name">我是{%$user.name%}</div>
            <div class="state">我为淘微购代言</div>
            <div class="code">
                <div class="pic">
                    <img src="{%$eqcode%}">
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>