<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
</head>
<body>
{%if !isset($smarty.get.webview) || $smarty.get.webview!=1%}
<div id="header">
    <header>
        <a href="javascript:window.history.go(-1);" class="left_btn"><i class="icon back"></i></a>

        <h1>我的邀请记录</h1>
    </header>
</div>
{%/if%}
<div id="content">
   <div class="myinvit-top">
        <div class="myt-item1">
            <div>学生专属邀请码</div>
            <div>TWG<span>{%$user.invit%}</span></div>
        </div>
        <div class="myt-item2">
            <div>1. 好友通过此邀请码成功注册后，计1人</div>
            <div>2. 成功邀请<span>5</span>人后，自动升级为白金会员</div>
        </div>
        <div class="myt-item3"><a href="index.php?c=mobile&a=spread">立即邀请</a></div>
   </div>
   <div class="myinvit-mid">已成功邀请 <span>{%$count%}人</span> 距离目标不远了哦~</div>
   <div class="myinvit-bottom">
        <div class="myb-title">我的邀请记录</div>
        <div class="myb-con">
            {%if empty($userd)%}
            <p class="tishi" >暂无邀请记录</p>
            {%else%}
            <table>
                <tr>
                    <th></th>
                    <th>昵称</th>
                    <th>注册时间</th>
                </tr>
                {%foreach from=$userd  item=u%}
                <tr>
                    <td><img src="{%$u.path%}" alt=""></td>
                    <td>{%$u.name%}</td>
                    <td>{%$u.createtime%}</td>
                </tr>
                {%/foreach%}

            </table>
            {%/if%}
        </div>
   </div>
</div>



<script>

</script>

</body>
</html>