<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
	<link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
	<script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
</head>
<body>
    <div id="header">
        <header>
            <a href="{%url c=mobile a=account%}" class="left_btn"><i class="icon back"></i></a>
            <h1>我的订单</h1>
        </header>
    </div>
    <div id="content" style="padding-top: 50px;">
        <div class="fixtop">
            <ul class="orderTop flex_box">
                <li class="flex active" id="tab1" onClick="tabb(this,1)">
                    <a>全部</a>
                </li>
                <li class="flex" id="tab2" onClick="tabb(this,2)">
                    <a>待付款</a>
                </li>
                <li class="flex" id="tab3" onClick="tabb(this,3)">
                    <a>待发货</a>
                </li>
                <li class="flex" id="tab4" onClick="tabb(this,4)">
                    <a>待收货</a>
                </li>
            </ul>
        </div>
        <div class="orderListCont" style="padding-top: 45px;">
            <div class="orderListCont1 contitem">
				{%section name=order loop=$order%}
                <div class="order" onClick="window.location = '{%url c=mobile a=orderinfo orderno=$order[order].orderno%}';">
                    <div class="order_time">
                    	{%$order[order].createtime|date_format:'Y-m-d'%}
                        <div style="display: inline;float: right;padding-right: 10px;"><font color="red" style="margin-right:5px;">{%if $order[order].pay_status==2%}(已退款){%else if $order[order].pay_status==4%}(有退款){%/if%}</font>{%if $order[order].status==0%}订单关闭{%else%}{%if $order[order].pay_status==0%}待支付{%elseif $order[order].way_status==0%}待发货{%elseif $order[order].receive==0%}待收货{%else%}已完成{%/if%}{%/if%}</div>
                    </div>
						{%section name=product loop=$order[order].product%}
                        <div class="order_goods flex_box">
                            <div class="pic">
                                <img src="{%$order[order].product[product].image%}">
                            </div>
                            <div class="infor">
                            	{%if $order[order].is_task%}
                            	<div class="" style="display:inline; color:red;">团</div>
                                {%/if%}
                                <div class="word" style="display:inline;">{%$order[order].product[product].name%}</div>
                                <div class="word">￥{%$order[order].product[product].price%}&nbsp;×{%$order[order].product[product].num%}
                                    <span class="through">￥{%$order[order].product[product].oldprice%}</span>
                                    <span class="through">税率:{%$order[order].product[product].tax * 100%}%</span>
                                </div>
                            </div>
                        </div>
						{%/section%}
                    
                    <div class="order_bottom">
                        <div class="top flex_box">
                            <div class="price">合计：￥{%$order[order].orderamount%}</div>
                            <div class="num">共{%$order[order].product_num%}件商品</div>
                        </div>
                        <div class="bottom flex_box">
							{%if $order[order].status==1%}
								{%if $order[order].pay_status==0%}
								<a class="small_btn red_bg" data-orderno="{%$order[order].orderno%}">去付款</a>
                                {%if !$order[order].is_task%}
                                <a class="small_btn gray_bg quit" data-orderno="{%$order[order].orderno%}">取消订单</a>
								{%/if%}
                                {%/if%}
								{%if $order[order].pay_status==1 && $order[order].way_status==0%}
								<!--等待发货-->
								{%/if%}
								{%if $order[order].way_status==1 && $order[order].receive==0%}
								<a class="small_btn red_bg receive" data-orderno="{%$order[order].orderno%}">立即</a>
								{%/if%}
							{%/if%}
                        </div>
                    </div>
                </div>
				{%/section%}
            </div>
            <div class="orderListCont2 contitem hide">
				{%section name=order loop=$order%}
				{%if $order[order].pay_status==0 && $order[order].status==1%}
                <div class="order" onClick="window.location = '{%url c=mobile a=orderinfo orderno=$order[order].orderno%}';">
                    <div class="order_time">{%$order[order].createtime|date_format:'Y-m-d'%}</div>
                    {%section name=product loop=$order[order].product%}
                    <div class="order_goods flex_box">
                        <div class="pic">
                            <img src="{%$order[order].product[product].image%}">
                        </div>
                        <div class="infor">
                       		{%if $order[order].is_task%}
                            <div class="" style="display:inline; color:red;">团</div>
                            {%/if%}
                            <div class="word" style="display:inline;">{%$order[order].product[product].name%}</div>
                            <div class="word">￥{%$order[order].product[product].price%}&nbsp;×{%$order[order].product[product].num%}
								<span class="through">￥{%$order[order].product[product].oldprice%}</span>
								<span class="through">税率:{%$order[order].product[product].tax * 100%}%</span>
							</div>
                        </div>
                    </div>
                    {%/section%}

                    <div class="order_bottom">
                        <div class="top flex_box">
                            <div class="price">合计：￥{%$order[order].orderamount%}</div>
                            <div class="num">共{%$order[order].product_num%}件商品</div>
                        </div>
                        <div class="bottom flex_box">
                            <a class="small_btn red_bg payed" data-orderno="{%$order[order].orderno%}">去付款</a>
                            {%if !$order[order].is_task%}
							<a class="small_btn gray_bg quit" data-orderno="{%$order[order].orderno%}">取消订单</a>
                            {%/if%}
                        </div>
                    </div>
                </div>
				{%/if%}
				{%/section%}
			</div>
            <div class="orderListCont3 contitem hide">
				{%section name=order loop=$order%}
				{%if $order[order].way_status==0 && ($order[order].pay_status==1 || $order[order].pay_status==4) && $order[order].status==1%}
                <div class="order" onClick="window.location = '{%url c=mobile a=orderinfo orderno=$order[order].orderno%}';">
                    <div class="order_time">{%$order[order].createtime|date_format:'Y-m-d'%}</div>
                    
                    {%section name=product loop=$order[order].product%}
                    <div class="order_goods flex_box">
						
                        <div class="pic">
                            <img src="{%$order[order].product[product].image%}">
                        </div>
                        <div class="infor">
                            <div class="word">{%$order[order].product[product].name%}</div>
                            <div class="word">￥{%$order[order].product[product].price%}&nbsp;×{%$order[order].product[product].num%}
								<span class="through">￥{%$order[order].product[product].oldprice%}</span>
								<span class="through">税率:{%$order[order].product[product].tax * 100%}%</span>
							</div>
                        </div>
						
                    </div>
                    {%/section%}
                    <div class="order_bottom">
                        <div class="top flex_box">
                            <div class="price">合计：￥{%$order[order].orderamount%}</div>
                            <div class="num">共{%$order[order].product_num%}件商品</div>
                        </div>
                        <div class="bottom flex_box">
                            <!--等待发货-->
                        </div>
                    </div>
                </div>
				{%/if%}
				{%/section%}
			</div>
            <div class="orderListCont4 contitem hide">
				{%section name=order loop=$order%}
				{%if $order[order].receive==0 && $order[order].way_status==1 && $order[order].status==1%}
                <div class="order" onClick="window.location = '{%url c=mobile a=orderinfo orderno=$order[order].orderno%}';">
                    <div class="order_time">{%$order[order].createtime|date_format:'Y-m-d'%}</div>

                    {%section name=product loop=$order[order].product%}
                    <div class="order_goods flex_box">
                        <div class="pic">
                            <img src="{%$order[order].product[product].image%}">
                        </div>
                        <div class="infor">
                            <div class="word">{%$order[order].product[product].name%}</div>
                            <div class="word">￥{%$order[order].product[product].price%}&nbsp;×{%$order[order].product[product].num%}
								<span class="through">￥{%$order[order].product[product].oldprice%}</span>
								<span class="through">税率:{%$order[order].product[product].tax * 100%}%</span>
							</div>
                        </div>
						
                    </div>
                    {%/section%}
                    <div class="order_bottom">
                        <div class="top flex_box">
                            <div class="price">合计：￥{%$order[order].orderamount%}</div>
                            <div class="num">共{%$order[order].product_num%}件商品</div>
                        </div>
                        <div class="bottom flex_box">
                            <a class="small_btn red_bg receive" data-orderno="{%$order[order].orderno%}">立即收货</a>
						</div>
                    </div>
                </div>
				{%/if%}
				{%/section%}
			</div>
        </div>
    </div>

     <div id="black_bg" style="display: none">
     	<input type="hidden" id="orderno">
        <input type="hidden" id="paytype" value="alipay">
        <div class="order-payway" style="display: block;">
           <div class="op-head"><img src="{%$VIEW_ROOT%}/mobile/image/close.png"><p>支付方式</p></div>
           <div class="op-itme-first clearfix">
                <div class="op-itme3-1"><img src="{%$VIEW_ROOT%}/mobile/image/yes_w.png"></div>
               <div class="op-itme1"><img src="{%$VIEW_ROOT%}/mobile/image/zhifubao.png"></div>
               <div class="op-itme2">支付宝支付</div>
           </div>
           <div class="op-itme-second clearfix">
                <div class="op-itme3-2"><img src="{%$VIEW_ROOT%}/mobile/image/yes_w.png"></div>
               <div class="op-itme1"><img src="{%$VIEW_ROOT%}/mobile/image/weixin.png"></div>
               <div class="op-itme2">微信支付</div>
            </div>
            <div class="op-check" id="submit">确认</div>
        </div>

    </div>
</body>
<script type="text/javascript">
    function tabb(obj,n){
        $(obj).siblings().removeClass('active');
        $(obj).addClass('active');
        var statusCur = n;
        $('.contitem').hide();
        $('.orderListCont'+statusCur).show();
    }
	
	$.ajaxSetup({
		headers:{
			'X-CSRF-TOKEN':'{%$x_csrf_token%}'
		}
	});
	
	$('#submit').on('click',function(){
		var orderno = $('#orderno').val();
		var paytype = $('#paytype').val();
		window.location = '{%url c=order a=payment%}&orderno='+orderno+'&paytype='+paytype;
	});

    $(".op-itme-second").click(function(){
        $(".op-itme3-2 img").css("display","block");
        $(".op-itme3-1").hide();
		$('#paytype').val('wechat');
    })
    $(".op-itme-first").click(function(){
        $(".op-itme3-2 img").hide();
        $(".op-itme3-1").show();
		$('#paytype').val('alipay');
    })
	
    $(".payed").on('click',function(){
        $("#black_bg").toggle();
		$('#orderno').val($(this).data('orderno'));
		return false;
    })
    $(".order-payway .op-head img").click(function(){
        $("#black_bg").hide();
		$('#orderno').val('');
    })

	
	$('.quit').on('click',function(){
		var orderno = $(this).data('orderno');
		var ths = $(this);
		$.post('{%url m=ajax c=order a=quit%}',{orderno:orderno},function(response){
			if(response.code==1)
			{
				ths.parents('.order').find('.small_btn').remove();
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	});
	
	$('.receive').on('click',function(){
		var orderno = $(this).data('orderno');
		var ths = $(this);
		$.post('{%url m=ajax c=order a=receive%}',{orderno:orderno},function(response){
			if(response.code==1)
			{
				msg('确认收货成功',function(){
					ths.parents('.order').find('.small_btn').remove();
				});
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	});

    function GetQueryString(name) {
       var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
       var r = window.location.search.substr(1).match(reg);
       if (r!=null) return (r[2]); return null;
    }
    if(GetQueryString("pay_status"))
        $('#tab2').trigger("click");
    if(GetQueryString("way_status"))
        $('#tab3').trigger("click");
    if(GetQueryString("complete"))
        $('#tab4').trigger("click");
</script>
</html>