<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
</head>
<body>
    <div id="header">
        <header>
            <a href="{%url c=mobile a=order%}" class="left_btn"><i class="icon back"></i></a>
            <h1>订单详情</h1>
        </header>
    </div>
    <div class="order-wrap clearfix">
        <div class="order-line1">
            <div class="ol-left"><img src="{%$VIEW_ROOT%}/mobile/image/icon_address.png"></div>
            <div class="ol-right">
                <div class="ol-text1">
                	{%if $order.status==1%}
                    	{%if $order.pay_status==0%}待付款{%/if%}
                        {%if $order.pay_status==1 && $order.way_status==0%} 待发货 {%/if%}
                        {%if $order.way_status==1 && $order.receive == 0%} 已发货 {%/if%}
                        {%if $order.receive==1%}已完成{%/if%}
                    {%else%}
                    	已关闭
                    {%/if%}
                </div>
                {%if $order.status==1%}
                    {%if $order.pay_status==0%}
                    	<div class="ol-text2">
                            您的订单已提交，请在{%($order.createtime+3600)|date_format:'H:i:s'%}前完成支付，超时订单将自动取消
                        </div>
                    {%/if%}
                    {%if $order.pay_status==1 && $order.way_status==0%}
                    	<div class="ol-text2">
                            您的款项我们已经收到，我们会尽快为您派送
                        </div>
                    {%/if%}
                    {%if $order.way_status==1 && $order.receive == 0%}
                   		<div class="ol-text2">
                            您的包裹已经出发，请留意快递信息
                        </div>
                    {%/if%}
                    {%if $order.receive==1%}
                   		<div class="ol-text2">
                            这个订单已经完成，感谢您对我们的支持与信任
                        </div>
                    {%/if%}
                {%else%}
                    <div class="ol-text2">
                        关闭的订单假如已经付款，会自动退款，并且返还使用的优惠卷
                    </div>
                {%/if%}
            </div>
        </div>
        <div class="order-line1-next clearfix">
            <div class="ol-left"><img src="{%$VIEW_ROOT%}/mobile/image/dizhi@3x.png"></div>
            <div class="ol-right">
                <div class="ol-tel">{%$address.telephone%}</div>
                <div class="ol-text1">{%$address.name%}</div>
                <div class="ol-text2">{%$address.province%} {%$address.city%} {%$address.county%} {%$address.address%}</div>
                {%if !empty($address.identify)%}
                <div class="ol-text3">身份证：{%$address.identify|substr:0:4%}**********{%$address.identify|substr:-4%}</div>
                {%/if%}
            </div>
        </div>
        <div class="order-line2">
        	{%section name=package loop=$package%}
            <div class="order-head">
            	{%$package[package].ship_type%}
            	<div style="margin-left: 10px;font-size: 12px;display: inline;color: grey;">{%$package[package].ship_number%}</div>
                <div style="display: inline;height: 40px;float: right;padding: 5px;"><button style="background: #FFF;height: 30px;display: inline;" class="order-foot1-btn1" onClick="window.location = '{%url c=mobile a=wuliu id=$package[package].id%}';">查看物流</button></div>
            </div>
            <div class="order-hr"></div>
                {%section name=product loop=$package[package].product%}
                <div class="order-detail clearfix">
                    <div class="order-img"><img src="{%$package[package].product[product].image%}"></div>
                    <div class="order-text clearfix">
                        <div class="order-text-right">
                            <div class="otr-itme1">￥{%$package[package].product[product].price%}</div>
                            <div class="otr-itme2">×{%$package[package].product[product].num%}</div>
                        </div>
                        <div class="order-text-left">
                            {%if $order.is_task%}
                            <div class="" style="display:inline; color:red;">团</div>
                            {%/if%}
                            <div class="otl-item1" style="display:inline;">{%$package[package].product[product].name%}</div>
                            <div class="otl-itme2">{%$package[package].product[product].content%}</div>
                        </div>
                    </div>
                </div>
                {%/section%}
            {%/section%}
        </div>

        <div class="order-line3-head">
             <div class="order-line3-right">￥{%$order.orderamount%}</div>
            <div class="order-line3-left">应付总额</div>
        </div>
         <div class="order-line3">
             <div class="order-line3-right">￥{%$order.goodsamount%}</div>
            <div class="order-line3-left">商品总价</div>
        </div>
         <div class="order-line3">
             <div class="order-line3-right">-￥{%$order.discount%}</div>
            <div class="order-line3-left">优惠</div>
        </div>
         <div class="order-line3">
             <div class="order-line3-right">￥{%$order.feeamount%}</div>
            <div class="order-line3-left">运费</div>
        </div>
         <div class="order-line3">
             <div class="order-line3-right">￥{%$order.taxamount%}</div>
            <div class="order-line3-left">税费</div>
        </div>


        <div class="order-foot">
            <div class="order-foot1 clearfix">
                <div class="order_foot1-right">
                	{%if $order.status==1%}
                    	{%if $order.pay_status==0%}
                        <div class="order-foot1-btn2 payed" data-orderno="{%$order.orderno%}">立即付款</div>
                        {%if !$order.is_task%}
                    	<div class="order-foot1-btn1 quit" data-orderno='{%$order.orderno%}'>取消订单</div>
                        {%/if%}
                        {%/if%}
                        {%if $order.pay_status==1 && $order.way_status==0%}
                        {%/if%}
                        {%if $order.way_status==1 && $order.receive == 0%}
                        <div class="order-foot1-btn1 receive" data-orderno='{%$order.orderno%}'>确认收货</div>
                        {%/if%}
                        {%if $order.receive==1%}
                        {%/if%}
                    {%/if%}
                    
                </div>
            </div> 
        </div>
    </div>
    {%include file='mobile/public/msg.html'%}

<div id="black_bg" style="display: none">
    <div class="order-payway" style="display: block;">
        <div class="op-head"><img src="{%$VIEW_ROOT%}/mobile/image/close.png"><p>支付方式</p></div>
       <div class="op-itme-first clearfix">
            <div class="op-itme3-1"><img src="{%$VIEW_ROOT%}/mobile/image/yes_w.png" {%if isset($isWechat) && $isWechat%}style="display:none;"{%else%}style="display:block;"{%/if%}></div>
           <div class="op-itme1"><img src="{%$VIEW_ROOT%}/mobile/image/zhifubao.png"></div>
           <div class="op-itme2">支付宝支付</div>
       </div>
		<input type="hidden" id="orderno" value="{%$order.orderno%}">
        <input type="hidden" id="paytype" value="{%if isset($isWechat) && $isWechat%}wechat{%else%}alipay{%/if%}">
       <div class="op-itme-second clearfix">
            <div class="op-itme3-2"><img src="{%$VIEW_ROOT%}/mobile/image/yes_w.png" {%if isset($isWechat) && $isWechat%}style="display:block;"{%else%}style="display:none;"{%/if%}></div>
           <div class="op-itme1"><img src="{%$VIEW_ROOT%}/mobile/image/weixin.png"></div>
           <div class="op-itme2">微信支付</div>
       </div>
       <div class="op-check" id="submit">确认</div>
    </div>
</div>
<script type="text/javascript">
	$.ajaxSetup({
		headers:{
			'X-CSRF-TOKEN':'{%$x_csrf_token%}'
		}
	});
	
	$('#submit').on('click',function(){
		var orderno = $('#orderno').val();
		var paytype = $('#paytype').val();
		window.location = '{%url c=order a=payment%}&orderno='+orderno+'&paytype='+paytype;
	});

    $(".op-itme-second").click(function(){
        $(".op-itme3-2 img").css("display","block");
        $(".op-itme3-1").hide();
		$('#paytype').val('wechat');
    })
    $(".op-itme-first").click(function(){
        $(".op-itme3-2 img").hide();
        $(".op-itme3-1").show();
		$('#paytype').val('alipay');
    })

    $(".payed").on('click',function(){
        $("#black_bg").toggle();
    })
    $(".order-payway .op-head img").click(function(){
        $("#black_bg").hide();
    })
	
	$('.quit').on('click',function(){
		var orderno = $(this).data('orderno');
		var ths = $(this);
		$.post('{%url m=ajax c=order a=quit%}',{orderno:orderno},function(response){
			if(response.code==1)
			{
				msg('订单取消成功',function(){
					$('.order_foot1-right').empty();
				});
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	});
	
	$('.receive').on('click',function(){
		var orderno = $(this).data('orderno');
		var ths = $(this);
		$.post('{%url m=ajax c=order a=receive%}',{orderno:orderno},function(response){
			if(response.code==1)
			{
				msg('确认收货成功',function(){
					$('.order_foot1-right').empty();
				});
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	});

    var str=$(".order-text1").text();
    if(str.length>20)
        $(".order-text1").text(str.substr(0,20)+"...");

</script>
</body>
</html>
