<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
</head>
<style type="text/css">
	.sou-goods-itme .left img{
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
</style>
<body style="background-color: #fff;">
    <div id="header">
        <header>
            <a href="javascript:window.history.go(-1);" class="left_btn"><i class="icon back"></i></a>
        </header>
    </div>
    <div class="sou-goods">
    	{%section name=product loop=$product%}
        <div class="sou-goods-itme clearfix" onClick="window.location = '{%url c=mobile a=product id=$product[product].id%}';">
            <div class="left">
                <img src="{%$product[product].image%}">
            </div>
            <div class="right">
	            <div class="sou-goods-line1">
	                	{%if !empty($product[product].origin)%}<img src="{%$product[product].origin.logo%}">{%/if%}
	                	<p>{%if !empty($product[product].origin)%}{%$product[product].origin.name%}品牌{%/if%} {%if !empty($product[product].store)%}{%$product[product].store%}发货{%/if%}</p>
	           	</div>
	            <div class="sou-goods-line2">{%$product[product].name%}</div>
	            <div class="sou-goods-line3">
	            	￥{%if isset($user) && $user.vip==1%}{%$product[product].v1price%}{%elseif isset($user) && $user.vip==2%}{%$product[product].v2price%}{%else%}{%$product[product].price%}{%/if%}
	            	<span> ￥{%$product[product].oldprice%}</span>
	            </div>
            </div>
        </div>
        {%/section%}
    </div>
</body>
<script type="text/javascript">
function createProductTpl(product)
{
	var tpl = $('<div></div>').addClass('sou-goods-itme clearfix').on('click',function(){
		window.location = 'index.php?c=mobile&a=product&id='+product.id;
	});
	var imgDiv = $('<div class="left"></div>').append('<img src="'+product.image+'">');
	tpl.append(imgDiv);
	var rightDiv = $('<div class="right"></div>');
	var line1 = $('<div class="sou-goods-line1"></div>');
	rightDiv.append(line1);
	if(product.origin)
	{
		line1.append($('<img src="'+product.origin.logo+'">'));
		line1.append($('<p>'+product.origin.name+'品牌 '+(product.store?(product.store+'发货'):'')+'</p>' ));
	}
	rightDiv.append('<div class="sou-goods-line2">'+product.name+'</div>');
	
	if ({%$user.vip%} == '1') {
		var price = product.1price;
	}
	else if ({%$user.vip%} == '2') {
		var price = product.v2price;
	}
	else
	{
		var price = product.price;
	}
	
	rightDiv.append('<div class="sou-goods-line3">￥'+price+'<span> ￥'+product.oldprice+'</span></div>');
	tpl.append(rightDiv);
	return tpl;
}
function GetQueryString(name)
{
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
}
var start = 0,
	length = 10;

$.get('{%url m=ajax c=product a=search%}',{keywords:GetQueryString('keywords'),start:start,length:length},function(response){
	if(response.code==1)
	{
		for(var i=0;i<response.body.length;i++)
		{
			createProductTpl(response.body[i]);
		}
		
	}
});
</script>
</html>