<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
</head>
<style>
.keyword{
	cursor:pointer;
}
</style>
<body>
    <div id="content">
        {%include file='mobile/public/search.html'%}
        <div class="search_keyword">
            <div class="lately">
                <h3>最近搜索</h3>
                <div class="l_keyword clearfix">
					无搜索历史
                </div>
                <div id="del" class="del"></div>
            </div>
            <div class="hot">
                <h3>热门搜索</h3>
                <div class="h_keyword clearfix">
					{%section name=words loop=$words%}
                    {%if !empty($words[words].keywords)%}
                    <div class="keyword">{%$words[words].keywords%}</div>
					{%/if%}
                    {%/section%}
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        $('#del').on('click',function(){
            $('.l_keyword').html('无搜索历史');
			if(window.localStorage)
			{
				window.localStorage.clear();
			}
        });
		
		$('.keyword').live('click',function(){
			window.location = '{%url c=mobile a=searchResult%}&keywords='+$(this).text();
		});
		
		if(window.localStorage)
		{
			var storageKeywords = window.localStorage.getItem('keywords');
			if(storageKeywords != null)
			{
				$('.l_keyword').empty();
				var keywords = JSON.parse(storageKeywords);
				for(var i=0;i<keywords.length;i++)
				{
					$('.l_keyword').prepend('<div class="keyword">'+keywords[i]+'</div>');
				}
			}
		}
    });
</script>
</html>