<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
</head>
<body>
	{%if !isset($smarty.get.webview) || $smarty.get.webview!=1%}
    <div id="header">
        <header>
            <a href="javascript:history.go(-1);" class="left_btn"><i class="icon back"></i></a>
            <h1>什么是免费VIP</h1>
        </header>
    </div>
    {%/if%}
    <div id="content" {%if !isset($smarty.get.webview) || $smarty.get.webview!=1%}style="padding-top: 50px;"{%/if%}>
        <div class="head">
            <div class="ji_fen">经验值：<span class="red">{%$user.score%}</span></div>
            <div class="progress_bar">
                <div id="white"><div id="red" style="max-width:100%;width:{%$user.score / 100 * 100%}%;"></div></div>
            </div>
            <div class="bg_white">您的当前经验值为{%$user.score%}分{%if isset($user) && $user.vip==0%}，距离升级还需要{%100 - $user.score%}分{%/if%}</div>
        </div>
        <div class="freeVip">
            <h3>什么是免费VIP</h3>
            <div class="word">
            <script type="text/javascript">
				$.get('{%url c=page a=detail id=13%}',function(response){
					$('.word').html(response);
				});
			</script>
            </div>
        </div>
    </div>
</body>
</html>