<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/idangerous.swiper.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/idangerous.swiper.js"></script>
</head>
<body style="background-color: #ebeded;">
    <div class="godownload clearfix">
        <div class="godownload-pic"><img src="{%$VIEW_ROOT%}/mobile/image/logo233.png" alt=""></div>
        <div class="godownload-text">
            <h3>淘微购-精选全球</h3>
            <p><img src="{%$VIEW_ROOT%}/mobile/image/yes233.png" alt="" style="width:12px;margin-bottom: -3px;margin-right: 3px;">去伪存真，专属服务，不一样的购物体验</p>
        </div>
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.lianhai.MicroBuy">
            <div class="godownload-btn">
                立即下载
            </div>
        </a>
        <img src="{%$VIEW_ROOT%}/mobile/image/close233.png" alt="" class="godownload-close">
    </div>
    <script type="text/javascript">
 
        $(".godownload-close").click(function(){
            $(".godownload").hide();
            $("#header").css("margin-top","0");
            $(".goods-cont").css("padding-top","50px");

        })

       
    </script>
    <div id="header" style="margin-top: 56px;">
        <header>
            <a href="javascript:window.history.go(-1);" class="left_btn"><i class="icon back"></i></a>
            <h1>免费VIP</h1>
            <a href="{%url c=mobile a=taskProgress%}" class="right_btn">什么是免费VIP</a>
        </header>
    </div>
    <div class="goods-cont clearfix" style="padding-top: 106px; padding-bottom:60px;">
        <div class="goods_box">
            <div class="goods_pic booth">
        <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {%foreach item=image from=$product.image%}
                        <div class="swiper-slide"><img src="{%$image%}" style="width:100%;"></div>
                        {%/foreach%}
                    </div>
                </div>
                <div class="pagination"></div>
            <!-- <img src="{%$VIEW_ROOT%}/mobile/image/goods_big.png"> -->
        </div>
        </div>
        <div class="goods-title">
            <div class="item1">{%if !empty($product.origin)%}<img src="{%$product.origin.logo%}"> {%$product.origin.name%}品牌{%/if%}{%if !empty($product.store)%} {%$product.store%}发货{%/if%}</div>
            <div class="item2">{%$product.name%}</div>
        </div>
        <div class="goods-jingyan">
            <div class="goods-tip">{%$task.score%}经验值</div>
            <div class="goods-people">
                <div class="goods-i2">需要{%$task.teamnum%}人组团</div>
                <div class="goods-i3">抱团价</div>
                <div class="goods-i4">￥{%$task.price%}</div>
            </div>
        </div>  
        <div class="goods-shuifei">
            <div class="gs-right" onClick="$('.message').show();$.get('{%url c=page a=detail id=7%}',function(response){$('#tax_content').html(response)});">税费？</div>
            <div class="gs-left">
                <div>时 限：{%$task.day%}天</div>
                <div>关 税：本商品适用税率为{%$product.tax * 100%}%</div>
            </div>
        </div>
        <div class="graphic_details" style="background-color:#fff;">
            <div class="picture">
                <h3>产品详情</h3>
                <p>{%$product.description%}</p>
            </div>
        </div>
        <div class="goods-foot clearfix">
            <div class="goods-foot2 clearfix">
                <div class="gf2-right"><span>立即购买</span></div>
                <div class="gf2-left" onClick="window.location = 'http://kefu.easemob.com/webim/im.html?tenantId=16641&hide=false&sat=false&user=&referrer={%url c=mobile a=taskdetail id=$smarty.get.id urlencode=1%}&show=true';"><img src="{%$VIEW_ROOT%}/mobile/image/kefu.png"></div>
            </div>
        </div>
    </div>
    <div class="message" style="width: 100%; height: 100%; position: fixed; left: 0; top: 0; background-color: rgba(0,0,0,0.5); z-index: 1000; display:none;">
		<div class="message_dialog" style="background-color: #fff; position: absolute; bottom: 0; left: 0; width: 100%;">
			<div class="title" style="padding: 10px; line-height: 30px; font-size: 14px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; position: relative;">
				税费
				<span class="close_btn" onClick="$('.message').hide();"></span>
			</div>
			<div class="title" style="padding: 10px; line-height: 30px; font-size: 14px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; position: relative;">
				{%$product.tax * 100%}%
			</div>
			<div id="tax_content" style="padding:10px; margin-bottom:100px;">
				
			</div>
		</div>
	</div>
    {%include file='mobile/public/msg.html'%}	
    
<div class="black_bg" style="display: none">
	{%if isset($isWechat) && $isWechat%}
    <div class="" style="width:50%; float:right;">
    	<img src="{%$VIEW_ROOT%}/mobile/image/share-it.png" style="width:50%; float:right;">
        <div class="" style="color: white; font-size: x-large; float: right;">
        	<nobr>点击这里分享给其他的小伙伴</nobr>
        </div>
    </div>
    {%else%}
    <div class="spread-share" style="display: block;">
        <div class="ss-head"><img src="{%$VIEW_ROOT%}/mobile/image/close.png"><p>分享给更多的朋友</p></div>
        <div class="ss-box">
            <!--
            <div class="ss-box1">
                <img src="{%$VIEW_ROOT%}/mobile/image/btn_weixin.png">
                <p>微信</p>
            </div>
            <div class="ss-box2">
                <img src="{%$VIEW_ROOT%}/mobile/image/btn_friendCircle.png">
                <p>朋友圈</p>
            </div>
            -->
            <div class="ss-box3 sharetoqq">
                <img src="{%$VIEW_ROOT%}/mobile/image/btn_qq.png">
                <p>QQ</p>
            </div>
            <div class="ss-box4 sharetoweibo">
                <img src="{%$VIEW_ROOT%}/mobile/image/btn_weibo.png">
                <p>微博</p>
            </div>
        </div>
    </div>
    {%/if%}
</div>
 <div id="black_bg" style="display: none">
 		{%include file='mobile/public/xieyi.html'%}
        <div id="payment_box" class="payment_box" style="display: none;">
            <div class="title">
                <span class="arrow_left"></span>
            </div>
            <ul>
                <li class="clearfix" id="modifyAddress">
                    <div class="left">收货地址</div>
                    <div class="right">{%if empty($address)%}添加地址{%else%}{%$address[0].name%},{%$address[0].address%}{%/if%}</div>
                    <span class="down"></span>
                </li>
                <li class="clearfix" id="selectPayment" onClick="$('#payment_method').slideToggle('slow'); return false;">
                    <div class="left">支付方式</div>
                    <div class="right">{%if $isWechat%}微信支付{%else%}支付宝{%/if%}</div>
                    <span class="down"></span>
                </li>
                <li class="clearfix" onClick="$('#amount').slideToggle('slow'); return false;">
                    <div class="left">应付金额</div>
                    <div class="right orderamount">￥163.00</div>
                    <span class="down"></span>
                    
                </li>
                <div class="look" style="float: right;margin-right: 10px;font-size:12px;">点击查看价格明细</div>
                <li style="margin-top: 18px;">
                	<input type="checkbox" checked="checked" id="agreement_checkbox">
                    <div class="agreement">本人接受<a>《进口个人委托申报委托》与《淘微购服务协议》</a></div>
                    <a class="long_btn" id="submit">确认支付</a>
                </li>
            </ul>
        </div>
        <div id="address_box" class="address_box" style="display: none;">
            <div class="title">
                收货地址
                <span class="up"></span>
            </div>
            <div class="have_address">
                <div class="min">
                	{%section name=address loop=$address%}
                    <div class="row flex_box {%if $smarty.section.address.first%}active{%/if%}" data-id="{%$address[address].id%}">
                        <div class="edit"></div>
                        <div class="address">
                            <div class="line1">{%$address[address].name%}</div>
                            <div class="line2"><span class="red"></span>{%$address[address].province%}&nbsp;{%$address[address].city%}&nbsp;{%$address[address].county%}&nbsp;{%$address[address].address%}</div>
                        </div>
                    </div>
					{%/section%}
                    <div class="tianjia">
                        <div class="left">添加新地址</div>
                    </div>
                </div>
                <a class="long_btn" id="selectAddress">确认</a>
            </div>
            <div id="addAddress" class="wrap" style="display: none;">
                <div class="row">
                    <strong class="red">*</strong>
                    <input type="text" name="name" placeholder="收货人姓名">
                </div>
                <div class="row">
                    <strong class="red">*</strong>
                    <input type="text" name="telephone" placeholder="手机号码">
                </div>
                <div class="row">
                    <strong class="red">*</strong>
                    <input type="text" name="identify" placeholder="身份证号码(跨境购物，海关特殊要求)">
                </div>
                <div class="row">
                    <strong class="red">*</strong>
                    <select name="province" id="province">
                        <option value="">省份...</option>
                        {%section name=province loop=$province%}
                        <option value="{%$province[province].id%}">{%$province[province].name%}</option>
                        {%/section%}
                    </select>
                </div>
                <div class="row">
                    <strong class="red">*</strong>
                    <select name="city" id="city">
                        <option value="">城市...</option>
                    </select>
                </div>
                <div class="row">
                    <strong class="red">*</strong>
                    <select name="county" id="county">
                        <option value="">地区...</option>
                    </select>
                </div>
                <div class="row">
                    <strong class="red">*</strong>
                    <input type="text" name="address" placeholder="详细地址">
                </div>
                <div class="default" sel="no">设为默认地址</div>
                <a class="long_btn" id="saveAddress">保存</a>
            </div>
        </div>
        <div id="payment_method" class="payment_method" style="display: none;">
            <div class="title">
                支付方式
                <span class="up"></span>
            </div>
            <div class="wrap">
                <div class="row {%if !$isWechat%}active{%/if%}" data-type="alipay">
                    <div class="left zhifu">支付宝</div>
                </div>
                <div class="row {%if $isWechat%}active{%/if%}" data-type="wechat">
                    <div class="left weixin">微信支付</div>
                </div>
            </div>
            <a class="long_btn">确认</a>
        </div>
        <div id="amount" style="display: none">
            <div class="title">
                价格明细
                <span class="up"></span>
            </div>
            <div class="wrap">
                <div class="row clearfix">
                    <div class="left">商品总价</div>
                    <div class="right" id="goodsamount">￥0</div>
                </div>
                <div class="row clearfix">
                    <div class="left">运费</div>
                    <div class="right" id="feeamount">￥0</div>
                </div>
                <div class="row clearfix">
                    <div class="left">税费</div>
                    <div class="right" id="taxamount">￥0</div>
                </div>
                <div class="row clearfix">
                    <div class="left">优惠</div>
                    <div class="right" id="discount">￥0</div>
                </div>
                <div class="row clearfix">
                    <div class="left">应付总额</div>
                    <div class="right red" id="orderamount">￥0</div>
                </div>
            </div>
            <a class="long_btn" id="priceDetail" style="margin-top: 10px;">关闭</a>
        </div>
    </div>
</body>
<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container',{
        pagination: '.pagination',
        grabCursor: true,
        paginationClickable: true,
        autoplay: 3000,
        speed: 1500,
        calculateHeight: true,
        onSwiperCreated: function(swiper){
            $(".swiper-pagination-switch:eq(0)").addClass('swiper-visible-switch').addClass('swiper-active-switch');
            swiper.reInit();
        }
    });
	
	$('.agreement').on('click',function(){
		$.when(
			$.get('{%url c=page a=detail id=5 html=false%}'),
			$.get('{%url c=page a=detail id=6 html=false%}')
		).done(function(response1,response2){
			$('#xieyi').slideToggle();
			$('#geren_content').html(response1[0]);
			$('#fuwu_content').html(response2[0]);
		});
	});
	
	$('.sharetoqq').on('click',function(){
		window.location = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={%url c=mobile a=taskdetail id=$smarty.get.id urlencode=1%}&title={%$product.name|urlencode%}&desc={%$product.short_description|urlencode%}&pics=http://{%$smarty.server.HTTP_HOST%}{%$product.image[0]|trim:"."%}&site=淘微购';
	});
	//http://service.weibo.com/share/share.php?url=http%3A%2F%2Fopen.weibo.com%2Fsharebutton&type=button&ralateUid=1864189161&language=zh_cn&title=%E6%96%87%E5%AD%97&pic=http%3A%2F%2Fplacehold.it%2F300x300%7C%7Chttp%3A%2F%2Fplacehold.it%2F300x300&searchPic=false&style=simple
	$('.sharetoweibo').on('click',function(){
		window.location = 'http://service.weibo.com/share/share.php?searchPic=true{%if !empty($share.logo)%}&pic={%resource file=$share.logo full=1%}{%/if%}&appkey=3216109176&title={%$product.name|urlencode%}&url={%url c=mobile a=taskdetail id=$smarty.get.id urlencode=1%}&source=bshare&retcode=0';
	});
	
	$('.black_bg').on('click',function(){
		$(this).hide();
		return false;
	});
	
	$('#selectAddress').on('click',function(){
		
		$.post('{%url m=ajax c=task a=start%}',{prepay:1,tid:'{%$smarty.get.id%}',address:$('#address_box .have_address .flex_box.active').data('id')},function(response){
			if(response.code==1)
			{
				$('#address_box').slideToggle();
				var addressString = $('#address_box .have_address .active .line1').html() +','+ $('#address_box .have_address .active .line2').html().split('&nbsp;').pop();
				$('#modifyAddress .right').html(addressString);
				
				$('.orderamount').html('￥'+response.body.orderamount);
				$('#orderamount').html('￥'+response.body.orderamount);
				$('#goodsamount').html('￥'+response.body.goodsamount);
				$('#taxamount').html('￥'+response.body.taxamount);
				$('#feeamount').html('￥'+response.body.feeamount);
				$('#discount').html('￥'+response.body.discount);
			}
			else if(response.code==2)
			{
				window.location = '{%url m=mobile a=login%}&href={%url urlencode=1 m=mobile a=product id=$smarty.get.id%}';
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	});
	
	$('.have_address .flex_box').live('click',function(){
		$('.have_address .flex_box').removeClass('active');
		$(this).addClass('active');
	});
	
	$.ajaxSetup({
		headers:{
			'X-CSRF-TOKEN':'{%$x_csrf_token%}'
		}
	});
	
	$('#submit').on('click',function(){
		if(!$('#agreement_checkbox').is(':checked'))
		{
			msg('请先同意我们的协议');
			return false;
		}
		var address = $('.have_address .flex_box.active').data('id');
		$.post('{%url m=ajax c=task a=start%}',{tid:'{%$smarty.get.id%}',address:address},function(response){
			if(response.code==1)
			{
				var paytype = $('#payment_method .row.active').data('type');
				window.location = '{%url c=order a=payment%}&orderno='+response.body.orderno+'&paytype='+paytype;
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	});

    $('.goods-foot2 .gf2-right').on('click',function(){
		var address = $('.have_address .flex_box.active').data('id');
		$.post('{%url m=ajax c=task a=start%}',{tid:'{%$smarty.get.id%}',prepay:1,address:address},function(response){
			if(response.code==1)
			{
				$('#black_bg').show();
				$('#payment_box').slideToggle("slow");
				$('.orderamount').html('￥'+response.body.orderamount);
				$('#orderamount').html('￥'+response.body.orderamount);
				$('#goodsamount').html('￥'+response.body.goodsamount);
				$('#taxamount').html('￥'+response.body.taxamount);
				$('#feeamount').html('￥'+response.body.feeamount);
				$('#discount').html('￥'+response.body.discount);
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
    });
	
    $('#modifyAddress').on('click',function(){
		$('#address_box').slideToggle();
		return false;
	});

    $('#priceDetail').on('click',function(){
		$('#amount').slideToggle();
	});
    $('#amount .title').on('click',function(){
		$('#amount').slideToggle("slow");
	});

	$('#province').on('change',function(){
		$.get('{%url m=api c=common a=address%}',{type:'city',pid:$(this).val()},function(response){
			if(response.code==1)
			{
				$('#city').empty().append('<option>请选择</option>');
				for(var i=0;i<response.body.length;i++)
				{
					$('#city').append('<option value="'+response.body[i].id+'">'+response.body[i].name+'</option>');
				}
			}
		});
	});

	$('#city').on('change',function(){
		$.get('{%url m=api c=common a=address%}',{type:'county',cid:$(this).val()},function(response){
			if(response.code==1)
			{
				$('#county').empty().append('<option>请选择</option>');
				for(var i=0;i<response.body.length;i++)
				{
					$('#county').append('<option value="'+response.body[i].id+'">'+response.body[i].name+'</option>');
				}
			}
		});
	});
	
	$('#saveAddress').on('click',function(){
		var data = {
			name:$('#addAddress input[name=name]').val(),
			telephone:$('#addAddress input[name=telephone]').val(),
			identify:$('#addAddress input[name=identify]').val(),
			province:$('#province').val(),
			city:$('#city').val(),
			county:$('#county').val(),
			address:$('#addAddress input[name=address]').val(),
			host:$('#addAddress .default').attr('sel') == 'yes'?1:0,
		};
		$.post('{%url m=ajax c=address a=create%}',data,function(response){
			if(response.code==1)
			{
				$('#addAddress').hide();
				$('#address_box .have_address').show();
				$('#address_box .have_address .flex_box').removeClass('active');
				$('<div class="row flex_box active" data-id="'+response.body.id+'"><div class="edit"></div><div class="address"><div class="line1">'+response.body.name+'</div><div class="line2"><span class="red">'+(response.body.host==1?'[默认]':'')+'</span>'+response.body.province+'&nbsp;'+response.body.city+'&nbsp;'+response.body.county+'&nbsp;'+response.body.address+'</div></div></div>').insertBefore('#address_box .have_address .tianjia');
				
				$('#addAddress input[name=name]').val('');
				$('#addAddress input[name=telephone]').val('');
				$('#addAddress input[name=identify]').val('');
				$('#province').val('');
				$('#city').val('');
				$('#county').val('');
				$('#addAddress input[name=address]').val('');
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	});


    $('#address_box .title').on('click',function(){
            if(!$('#addAddress').is(':hidden'))
            {
                $('#addAddress').hide();
                $('#address_box .have_address').show();
            }
            else
            {
                $('#address_box').slideToggle();
            }
            return false;
        });
    $('#address_box .tianjia').on('click',function(){
            $('#addAddress').show();
            $('#address_box .have_address').hide();
            return false;
        });
    $('.default').on('click',function(){
            var sel = $(this).attr('sel');
            if(sel == 'no'){
                $(this).addClass('active');
                $(this).attr('sel','yes');
            }else{
                $(this).removeClass('active');
                $(this).attr('sel','no');
            }
        });
    
    $('#payment_box .title').on('click',function(){
        $('#payment_box').slideToggle("slow",function(){
			$('#black_bg').hide();
		});
    });
    $('#payment_method .title').on('click',function(){
		$('#payment_method').slideToggle("slow");
	});
    $('#payment_method .row').on('click',function(){
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
		$('#payment_method').slideToggle("slow");
		$('#selectPayment .right').html($(this).find('.left').html());
	});

    $("#count_down").click(function(){
		var count=$("#goods_count").val();
		if(count>1){
			count--;
			$("#goods_count").val(count);
		}
	});
    $("#count_up").click(function(){
		var count=$("#goods_count").val();
		if(count>0){
			count++;
			$("#goods_count").val(count);
		}
	});
    $("#goods_count").keyup(function(){
		var cart_id=$(this).attr("cart_id");
		var count=$("#goods_count").val().replace(/\D/g,'');
		if(count==""){
			count=1;
		}
		if(count>0){
			$("#goods_count").val(count);
		}
	});

    $(".goods-foot1 .gf1-right").on('click',function(){
        $(".black_bg").toggle();
    })
    $(".spread-share .ss-head img").click(function(){
        $(".black_bg").hide();
    })
</script>
</html>