<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
</head>
<body>
    <div id="header" style="background-color: transparent">
        <header >
            <a href="javascript:window.history.go(-1);" class="left_btn"><i class="icon back"></i></a>
        </header>
    </div>
    <div id="content">
        <div class="tutor_details">
            <div class="tutor_head">
                <div class="pic">
                    <img src="{%$teacher.gravatar%}" onerror="this.src='http://placehold.it/50x50';">
                </div>
                <div class="t_name v1">{%$teacher.name%}<img src="{%$VIEW_ROOT%}/mobile/image/v1.png"></div>
                <div class="t_about">
                    {%$teacher.description%}
                </div>
                <div class="shadow">
                    已有{%$teacher.browse%}人学习
                </div>
            </div>
            <div class="college_box">
                <div class="course_box">
                    <div class="title">精选课程</div>
                    <div class="course clearfix">
						{%section name=college loop=$teacher.college%}
                        <a class="item" onClick="window.location = '{%url c=mobile a=college_detail id=$teacher.college[college].id%}';">
                            <div class="pic">
                                <img src="{%$teacher.college[college].logo2%}" style="width:100%; height:100px;" onerror="this.src='http://placehold.it/300x100?text=无图像';">
                            </div>
                            <div class="c_name">{%$teacher.college[college].title%}</div>
                            <div class="c_about">{%$teacher.college[college].description%}</div>
                        </a>
						{%/section%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>