<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/idangerous.swiper.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/idangerous.swiper.js"></script>
</head>
<body>
	{%if !isset($smarty.get.webview) || $smarty.get.webview!=1%}
    <div id="header">
        <header>
            <a href="{%url c=mobile a=team%}" class="left_btn"><i class="icon back"></i></a>
            <h1>成员详情</h1>
        </header>
    </div>
    {%/if%}
    <div id="content" {%if !isset($smarty.get.webview) || $smarty.get.webview!=1%}style="padding-top: 50px;"{%/if%}>
        <div class="member_details">
            <div class="head">
                <div class="h_pic">
                    <img src="{%resource file=$current_user.gravatar%}" onerror="this.src='http://placehold.it/100x100?text=无头像';">
                </div>
                <div class="name">{%$current_user.name%}</div>
                <div class="level">{%if $current_user.vip==0%}普通会员{%elseif $current_user.vip==1%}白金会员{%elseif $current_user.vip==2%}钻石会员{%/if%}</div>
            </div>
            <div class="number_income">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="title">团队成员数量</div>
                            <div class="add_wrap">
                                <div class="label">
                                    <div class="tt">今日增加</div>
                                    <div class="num">{%$dayteam%}</div>
                                </div>
                                <div class="label">
                                    <div class="tt">本周增加</div>
                                    <div class="num">{%$weekteam%}</div>
                                </div>
                                <div class="label">
                                    <div class="tt">本月增加</div>
                                    <div class="num">{%$monthteam%}</div>
                                </div>
                            </div>
                            <div class="team_tn">
                                <div class="tt">团队总人数</div>
                                <div class="num">{%$team%}</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="title">推广收益</div>
                            <div class="add_wrap">
                                <div class="label">
                                    <div class="tt">今日收益</div>
                                    <div class="num">{%$dayprofit%}</div>
                                </div>
                                <div class="label">
                                    <div class="tt">本周收益</div>
                                    <div class="num">{%$weekprofit%}</div>
                                </div>
                                <div class="label">
                                    <div class="tt">本月收益</div>
                                    <div class="num">{%$monthprofit%}</div>
                                </div>
                            </div>
                            <div class="team_tn">
                                <div class="tt">总收益</div>
                                <div class="num">{%$profit%}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container',{
        pagination: '.pagination',
        paginationClickable: true,
        centeredSlides: true,
        slidesPerView: 1,
        watchActiveIndex: true
    });
</script>
</html>