<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
</head>
<body>
    <div id="content">
        <div class="search_wrap clearfix">
            <a href="{%url c=mobile a=vip%}" class="left_btn">
            	<i class="icon back"></i>
            </a>
            <div class="s_input">
                <input type="text" id="name" placeholder="张三">
            </div>
            <div class="s_btn" id="submit">搜索</div>
        </div>
        <div class="sort_wrap">
            <div class="sort_item">
                <div class="sort whole_parent" rel="1" sel="no">全部</div>
            </div>
            <div class="sort_item">
                <div class="sort vip_parent" rel="2" sel="no">默认筛选</div>
            </div>
            <div class="sort_item">
                <div class="sort sort_parent" rel="3" sel="no">默认排序</div>
            </div>
        </div>
        <div class="sort_ul">
            <ul id="sort1">
                <li class="whole active" data-value="1">全部</li>
                <li class="whole" data-value="0">直属团队</li>
            </ul>
            <ul id="sort2">
                <li class="vip active" data-value="">全部级别</li>
                <li class="vip" data-value="3">导师</li>
                <li class="vip" data-value="2">SVIP2</li>
                <li class="vip" data-value="1">SVIP1</li>
                <li class="vip" data-value="0">普通</li>
            </ul>
            <ul id="sort3">
                <li class="sort active" data-value="invittime">默认最新</li>
                <li class="sort" data-value="total">总收益</li>
                <li class="sort" data-value="total7">最近7天收益</li>
                <li class="sort" data-value="team">团队发展</li>
                <li class="sort" data-value="team7">最近7天团队发展</li>
            </ul>
        </div>
        <div class="container">
        	
        </div>
        <div class="no_team" style="display:none;">
            <div class="people_icon"></div>
            <div class="np">您还没有队员哦！</div>
            <div class="share_btn">分享推荐招募队员</div>
        </div>
        {%include file='mobile/public/msg.html'%}
    </div>
</body>
<script type="text/javascript">
	function search(name,whole,vip,sort)
	{
		//加载动画 在这里
		$.post('{%url m=ajax c=user a=team%}',{name:name,whole:whole,vip:vip,sort:sort},function(response){
			//隐藏加载动画
			if(response.code==1)
			{
				$('.container').empty();
				if(response.body.length==0)
				{
					$('.no_team').show();
					$('.container').hide();
				}
				else
				{
					$('.no_team').hide();
					$('.container').show();
					for(var i=0;i<response.body.length;i++)
					{
						var tpl = '<div class="person clearfix" data-id="'+response.body[i].id+'"><div class="left headimg"><img src="'+response.body[i].gravatar+'"></div><div class="right"><div class="name">'+response.body[i].name+'</div><div class="desc">'+response.body[i].description+'</div></div></div>';
						$('.container').append(tpl);
					}
				}
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	}

    $(document).ready(function(){
		$.ajaxSetup({
			headers:{
				'X-CSRF-TOKEN':'{%$x_csrf_token%}'
			}
		});
		
		$('.person').live('click',function(){
			var id = $(this).data('id');
			window.location = '{%url c=mobile a=teaminfo%}&id='+id;
		});
	
        $('.sort').on('click',function(){
            var sid = $(this).attr('rel');
            var sr = $(this).attr('sel');
            $('ul[id^=sort]').hide();
            $('.sort').attr('sel','no');
            if(sr == 'no'){
                $('#sort' + sid).show();
                $(this).attr('sel','yes');
            }else{
                $('#sort' + sid).hide();
                $(this).attr('sel','no');
            }
        });
		
        $('.sort_ul li').on('click',function(){
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
			$('.sort').attr('sel','no');
			$('ul').hide();
			
			var name = $('#name').val();
			var whole = $('.whole.active').data('value');
			var vip = $('.vip.active').data('value');
			var sort = $('.sort.active').data('value');
			search(name,whole,vip,sort);
			
			$('.whole_parent').html($('.whole.active').html());
			$('.vip_parent').html($('.vip.active').html());
			$('.sort_parent').html($('.sort.active').html());
        });
		
		$('#submit').on('click',function(){
			var name = $('#name').val();
			var whole = $('.whole.active').data('value');
			var vip = $('.vip.active').data('value');
			var sort = $('.sort.active').data('value');
			search(name,whole,vip,sort);
		});
		
		$('input').on('keydown',function(e){
			if(e.which == 13)
			{
				var name = $('#name').val();
				var whole = $('.whole.active').data('value');
				var vip = $('.vip.active').data('value');
				var sort = $('.sort.active').data('value');
				search(name,whole,vip,sort);
			}
		});
				
		search('',1,'','invittime');
    });
</script>
</html>