<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
</head>
<style>
    .disabled {
        color: grey;
    }
</style>
<body>
<div id="header">
    <header>
        <a href="javascript:window.history.go(-1);" class="left_btn"><i class="icon back"></i></a>

        <h1>升级会员</h1>
    </header>
</div>
<div id="content" style="padding-top: 50px;">
    <div class="upgrade_box">
        <div class="option clearfix">
            <div class="left">
                <img src="{%$VIEW_ROOT%}/mobile/image/zuanshi.png">
            </div>
            <div class="left">
                <img src="{%$VIEW_ROOT%}/mobile/image/baijin.png">
            </div>
        </div>
        <div class="select_box">
            <div class="item {%if $user.vip>=1%}disabled{%/if%}" data-current="{%$user.vip%}" data-vip="1">
                <span class="nn">白金会员</span>
                <span class="rr">￥200</span>
                <span class="ii"></span>
            </div>
            <div class="item {%if $user.vip>=2%}disabled{%/if%}" data-current="{%$user.vip%}" data-vip="2">
                <span class="nn">钻石会员</span>
                <span class="rr">￥800</span>
                <span class="ii"></span>
            </div>
        </div>
        <div class="text" style="width:90%;margin:0 auto;line-height:20px;margin-top:15px;padding-bottom: 80px;">
            <p style="font-size: 16px;">为什么要开通会员：</p>

            <div style="font-size: 14px;">
                “淘微购”微会员制移动社交电商平台，分为三个会员等级：普通会员，白金会员，钻石会员。不同会员等级购物时享有不同的会员价格（商品价格根据会员级别不同自动显示）并在购物分享过程中享有不同的收益。
            </div>
            <p style="font-size: 16px;margin-top:10px;">为什么要绑定导师：</p>

            <div style="font-size: 14px;">
                导师体系是“淘微购”独创体系，您可以通过输入邀请码或系统默认两种方式绑定导师。绑定后您专属导师的联系方式会在“我的”里面显示。绑定后导师无法骚扰到您，但您可以很方便的联系到导师。导师会提供免费的会员体系咨询，会员辅导等服务，并协助解决您在购物过程可能碰到的问题。
            </div>
            <div class="rmb">需花费：<span class="red">￥0</span></div>
        </div>

    </div>

    <div id="payment_method" class="payment_method" style="display:none; position: fixed;">
        <div class="title">
            支付方式
            <span class="up"></span>
        </div>
        <div class="wrap">
            <div class="row active" data-type="alipay">
                <div class="left zhifu">支付宝</div>
            </div>
            <div class="row " data-type="wechat">
                <div class="left weixin">微信支付</div>
            </div>
        </div>
    </div>

    <div class="foot-wrap" style="width:100%;height:60px;background-color:#fff;position:fixed;bottom:0">
        <a class="long_btn disabled" id="liji_btn" style="background-color: grey;">立即开通</a>
    </div>
   
</div>
{%include file='mobile/public/msg.html'%}
<script type="text/javascript">
    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': '{%$x_csrf_token%}'
        }
    });

    $('.select_box .item').on('click', function () {
        if (!$(this).hasClass('disabled')) {
            $('.select_box .item').removeClass('active');
            $(this).addClass('active');

            var current = $(this).data('current');
            var vip = $(this).data('vip');
            var money = 0;
            if (current == 0) {
                switch (vip) {
                    case 1:
                        money = 200;
                        break;
                    case 2:
                        money = 800;
                        break;
                }
            }
            else if (current == 1) {
                switch (vip) {
                    case 1:
                        money = 0;
                        break;
                    case 2:
                        money = 600;
                        break;
                }
            }
            else if (current == 2) {
                money = 0;
            }

            $('.long_btn').removeClass('disabled').css({"background-color":"#f32529"});

            $('.rmb .red').html('￥' + money);
        }
    });

    
	$('#payment_method .title').on('click',function(){
		$('#payment_method').slideToggle();
	});

	$('#payment_method .row').on('click',function(){
		$(this).parent().find('.row').removeClass('active');
		$(this).addClass('active');
		
	});
	
    var pay = '';
    $('.long_btn').on('click', function () {
    	if ($('#payment_method').is(':visible'))
    	{
			var vip = $('.select_box .active').data('vip');
            if (vip != undefined) {
                //继续执行
                var btn = $('.select_box .active');
                var current = btn.data('current');
                var vip = btn.data('vip');
                var paytype = $('.row.active').data('type');
                $.post('{%url m=ajax c=vip a=order%}', {
                    type: current + '-' + vip,
                    paytype: paytype
                }, function (response) {
                    if (response.code == 1) {
                        window.location = '{%url c=vip a=payment%}&paytype='+paytype+'&id=' + response.body.id;
                    }
                    else
                    {
                        msg(response.result);
                    }
                });
            }
            return false;
    	}
    	else
    	{
	    	if ($(this).hasClass('disabled')) {
	    		msg('请选择会员类型');
	    		return false;
	    	};
	    	$('#payment_method').slideToggle();
        }
    });

</script>
</body>
</html>
