<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>淘微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/other.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/js.js"></script>
</head>
<body style="background-color: #f0f0f0;">
    <div id="header">
        <header>
            <a href="javascript:window.history.go(-1);" class="left_btn"><i class="icon back"></i></a>
            <h1>绑定手机号码</h1>
        </header>
    </div>
    <div id="content" style="padding-top: 50px;">
        <div class="register_form">
            <div class="item">
                <input type="text" placeholder="请输入你的手机号码" id="mobile">
            </div>
            <div class="item">
                <input type="text" placeholder="请输入验证码" id="yzm">
                <a id="get_yzm">获取验证码</a>
            </div>
        </div>
        <a class="short_btn" id="submit">下一步</a>
    </div>
    {%include file='mobile/public/msg.html'%}
	<script type="text/javascript">
	$.ajaxSetup({
		headers:{
			'X-CSRF-TOKEN':'{%$x_csrf_token%}'
		}
	});
	
	$('#get_yzm').on('click',function(){
		if($(this).hasClass('disabled'))
			return false;
		var ths = $(this);
		var telephone = $.trim($('#mobile').val());
		if(telephone.length==0)
		{
			msg('请输入手机号码');
			return false;
		}
		$(this).attr('disabled','disabled').addClass('disabled');
		$.post('{%url m=ajax c=user a=code%}',{telephone:telephone},function(response){
			if(response.code==1)
			{
				var s = 60;
				var timer = setInterval(function(){
					if(s>0)
					{
						s--;
						$('#get_yzm').html('已发送('+s+')');
					}
					else
					{
						$('#get_yzm').html('获取验证码').removeAttr('disabled').removeClass('disabled');
						clearInterval(timer);
					}
				},1000);
			}
			else
			{
				ths.removeAttr('disabled').removeClass('disabled');
				msg(response.result);
			}
		});
	});
	
	$('#submit').on('click',function(){
		var telephone = $.trim($('#mobile').val());
		var code = $.trim($('#yzm').val());
		$.post('{%url m=ajax c=user a=weibo_set_telephone2%}',{telephone:telephone,code:code},function(response){
			if(response.code==1)
			{
				window.location = '{%url c=mobile a=account%}';
			}
			else if(response.code==302)
			{
				if(window.localStorage)
				{
					window.localStorage.setItem('qq_set_telephone',1);
					window.localStorage.setItem('telephone',telephone);
					window.localStorage.setItem('code',code);
				}
				window.location = '{%url c=mobile a=weibo_set_password%}';
			}
			else
			{
				msg(response.result);
			}
		});
		return false;
	});
	</script>
</body>
</html>