<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
</head>
<body style="background-color: #ebeded;">
    <div id="header">
        <header>
            <a href="{%url c=mobile a=index%}" class="left_btn"><i class="icon back"></i></a>
            <h1>物流详情</h1>
        </header>
    </div>
    <div class="wuliu-title">
        <img src="{%$VIEW_ROOT%}/mobile/image/profit.png" >
        <div class="wul-text">
            <div class="name">百世汇通</div>
            <div class="tel">电话号码：400-</div>
            <div class="time"><img src="{%$VIEW_ROOT%}/mobile/image/time.png" > 已耗时：3天10小时</div>
        </div>
    </div>
    <section id="wul-timeline" class="wuliu-cont">
        <div class="wul-detail">物流详情</div>
        <div class="wul-itme">
            <div class="wul-point1"></div>
            <div class="wul-content">
                <div class="wul-text10">[杭州市] 快递已到达 杭州运转中心</div>
                <div class="wul-text20">2016-5-13 13：36：3</div>
            </div>
        </div>
        <div class="wul-itme">
            <div class="wul-point"></div>
            <div class="wul-content">
                <div class="wul-text1">[杭州市] 快递已到达 杭州运转中心</div>
                <div class="wul-text2">2016-5-13 13：36：3</div>
            </div>
        </div>
        <div class="wul-itme">
            <div class="wul-point"></div>
            <div class="wul-content">
                <div class="wul-text1">[杭州市] 快递已到达 杭州运转中心</div>
                <div class="wul-text2">2016-5-13 13：36：3</div>
            </div>
        </div>
        <div class="wul-itme">
            <div class="wul-point"></div>
            <div class="wul-content">
                <div class="wul-text1">[杭州市] 快递已到达 杭州运转中心</div>
                <div class="wul-text2">2016-5-13 13：36：3</div>
            </div>
        </div>
        <div class="wul-itme">
            <div class="wul-point"></div>
            <div class="wul-content">
                <div class="wul-text1">[杭州市] 快递已到达 杭州运转中心</div>
                <div class="wul-text2">2016-5-13 13：36：3</div>
            </div>
        </div>
        <div class="wul-itme">
            <div class="wul-point"></div>
            <div class="wul-content" style="border-bottom:none;">
                <div class="wul-text1">[杭州市] 快递已到达 杭州运转中心</div>
                <div class="wul-text2">2016-5-13 13：36：3</div>
            </div>
        </div>
    </section>
</body>
<script type="text/javascript">


</script>
</html>