<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>微购</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/mobile/css/style.css">
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{%$VIEW_ROOT%}/mobile/js/resolution.js"></script>
</head>
<body style="background-color: #fff;">
    <div id="header">
        <header>
            <a href="{%url c=mobile a=index%}" class="left_btn"><i class="icon back"></i></a>
        </header>
    </div>
    <div class="sou-goods">
        <div class="sou-goods-itme clearfix">
            <div class="left">
                <img src="{%$VIEW_ROOT%}/mobile/image/goods.png">
            </div>
            <div class="right">
                <div class="sou-goods-line1"><img src="{%$VIEW_ROOT%}/mobile/image/flag.png">
                <p>法国品牌 杭州报税仓发货</p>
                </div>
                <div class="sou-goods-line2">雅漾 无造基洁肤 125毫升 法国最佳药妆品牌 </div>
                <div class="sou-goods-line3">￥199.00 <span> ￥299.00</span></div>
            </div>
        </div>
        <div class="sou-goods-itme clearfix">
            <div class="left">
                <img src="{%$VIEW_ROOT%}/mobile/image/goods.png">
            </div>
            <div class="right">
                <div class="sou-goods-line1"><img src="{%$VIEW_ROOT%}/mobile/image/flag.png">法国品牌 杭州报税仓发货</div>
                <div class="sou-goods-line2">雅漾 无造基洁肤 125毫升 法国最佳药妆品牌 </div>
                <div class="sou-goods-line3">￥199.00 <span> ￥299.00</span></div>
            </div>
        </div>
        <div class="sou-goods-itme clearfix">
            <div class="left">
                <img src="{%$VIEW_ROOT%}/mobile/image/goods.png">
            </div>
            <div class="right">
                <div class="sou-goods-line1"><img src="{%$VIEW_ROOT%}/mobile/image/flag.png">法国品牌 杭州报税仓发货</div>
                <div class="sou-goods-line2">雅漾 无造基洁肤 125毫升 法国最佳药妆品牌 </div>
                <div class="sou-goods-line3">￥199.00 <span> ￥299.00</span></div>
            </div>
        </div>
        <div class="sou-goods-itme clearfix">
            <div class="left">
                <img src="{%$VIEW_ROOT%}/mobile/image/goods.png">
            </div>
            <div class="right">
                <div class="sou-goods-line1"><img src="{%$VIEW_ROOT%}/mobile/image/flag.png">法国品牌 杭州报税仓发货</div>
                <div class="sou-goods-line2">雅漾 无造基洁肤 125毫升 法国最佳药妆品牌 </div>
                <div class="sou-goods-line3">￥199.00 <span> ￥299.00</span></div>
            </div>
        </div>
        <div class="sou-goods-itme clearfix">
            <div class="left">
                <img src="{%$VIEW_ROOT%}/mobile/image/goods.png">
            </div>
            <div class="right">
                <div class="sou-goods-line1"><img src="{%$VIEW_ROOT%}/mobile/image/flag.png">法国品牌 杭州报税仓发货</div>
                <div class="sou-goods-line2">雅漾 无造基洁肤 125毫升 法国最佳药妆品牌 </div>
                <div class="sou-goods-line3">￥199.00 <span> ￥299.00</span></div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">


</script>
</html>