<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>{%$page_title%}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
       	<meta name="renderer" content="webkit">
        <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
        <!-- reset -->
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<!--icon-->
		<link rel="stylesheet" href="{%$VIEW_ROOT%}/html/css/plugins/font-awesome/css/font-awesome.min.css">
		<!--自定义css-->
		<link rel="stylesheet" href="{%resource path='/html/css/global.css'%}">
		<script type="text/javascript">
			function lpad(num, n) {  
				return Array(n>(''+num).length?(n-(''+num).length+1):0).join(0)+num;  
			}
		</script>
	</head>
	<body>
		{%include file='html/public/header.html'%}
		<div class="body container-fluid">
			<div class="row">
				{%include file='html/public/sidebar.html'%}
				<div class="content">
			  		<div class="content-body">
			  			<div class="white-block">
			  				<div class="wall-block">
								<p>{%$page_title_reverse%}</p>
							</div>
			  			</div>
			  			<div class="divider"></div>
			  			<div class="white-block">
			  				<div class="tab">
			  					<div class="tab-header">
			  						<a class="tab-title active" href="#all">提现申请</a>
			  					</div>
			  					<div class="tab-body">
			  						<div class="tab-page active" id="all">
			  						
										<div class="space"></div>
										<div class="top-tips">
											<div class="top-tips-title">
												操作提示
											</div>
											<div class="top-tips-body">
												<p>会员提现申请，请在确认打款的情况下给予通过</p>
												<p>两个操作的时间间隔不要超过10分钟。</p>
											</div>
										</div>
										<div class="line" style="float: right;">
											<form class="form-inline pull-right" id="all_search">
												<div class="form-group">
													<input type="text" name="search" class="form-control input-sm" placeholder="会员名称/手机号">
												</div>
												<button class="btn btn-small btn-orange pull-right" style="height: 30px; margin-left: 10px;">搜索</button>
											</form>
										</div>
										<div class="">
											<table class="table table-hover table-bordered table-responsive">
												<thead>
													<tr>
														<td width="2%" style="padding-left: 20px;padding-right: 20px;">
															<input type="checkbox" class="select-all">
														</td>
														<td>
															编号
														</td>
														<td>
															申请时间
														</td>
														<td>
															用户名
														</td>
														<td>
															手机号
														</td>
														<td>
															提现金额
														</td>
														<td>
															提现账户
														</td>
														<td>
															状态
														</td>
														<td>
															操作
														</td>
													</tr>
												</thead>
												<tbody>

												</tbody>
												<tfoot>
													<tr>
														<td id="split_page" colspan="15" style="text-align: right;">

														</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
							</div>
			  			</div>
			  		</div>				  
				</div>
			</div>
		</div>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--alert-->
		<script src="//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
		<script src="{%resource path='/html/js/datatables.js'%}"></script>
		<script src="{%resource path='/html/js/global.js'%}"></script>
		<script type="text/javascript">
			$.ajaxSetup({
				headers:{
					'X-CSRF-TOKEN':'{%$x_csrf_token%}'
				}
			});
			
			$('table').on('change','input[type=checkbox].select-all',function(){
				if($(this).is(':checked'))
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',true);
					});
				}
				else
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',false);
					});
				}
				return false;
			});
			
			var all = datatables({
				table:$('#all table'),
				ajax:{
					url:'{%url c=datatables a=drawal%}',
				},
				sort:[{
					column:2,
					dir:'desc',
				}],
				columns:[{
					data:'id',
					name:'drawal.id',
				},{
					data:'id',
					name:'drawal.id',
					pk:true,
				},{
					data:'createtime',
					name:'drawal.createtime',
				},{
					data:'name',
					name:'(select user.name from user where user.id=drawal.uid limit 1)',
				},{
					data:'telephone',
					name:'(select user.telephone from user where user.id=drawal.uid limit 1)',
				},{
					data:'money',
					name:'drawal.money',
				},{
					data:'bankcard_type',
					name:'bankcard.type',
				},{
					data:'pass',
					name:'drawal.pass',
				},{
					data:'id',
					name:'drawal.id',
				},{
					data:'bankcard_account',
					name:'bankcard.account',
					visible:false,
				},{
					data:'bankcard_name',
					name:'bankcard.name',
					visible:false,
				},{
					data:'bankcard_bank',
					name:'bankcard.bank',
					visible:false,
				},{
					data:'bankcard_subbank',
					name:'bankcard.subbank',
					visible:false,
				},{
					data:'bankcard_province',
					name:'(select province.name from province where province.id=bankcard.province limit 1)',
					visible:false,
				},{
					data:'bankcard_city',
					name:'(select city.name from city where city.id=bankcard.city limit 1)',
					visible:false,
				}],
				columnDefs:[{
					targets:0,
					render:function(data,full){
						return '<input type="checkbox" name="id[]" value="'+data+'">';
					}
				},{
					targets:2,
					render:function(data,full){
						return unixtotime(data,true,8);
					}
				},{
					targets:6,
					render:function(data,full){
						if(full.bankcard_type=='alipay')
						{
							return '支付宝 '+full.bankcard_account+' '+full.bankcard_name;
						}
						else
						{
							if(full.pass==1)
							{
								return full.bankcard_bank+' ('+full.bankcard_account.substr(0,4)+') '+full.bankcard_name;
							}
							else
							{
								return `${full.bankcard_bank}  ${full.bankcard_province} ${full.bankcard_city} ${full.bankcard_subbank}<br>账户：${full.bankcard_account}<br>持卡人：${full.bankcard_name}`;
							}
						}
					}
				},{
					targets:7,
					render:function(data,full){
						return parseFloat(data)==0?'<font color="#BCBCBC">未通过</font>':'已通过';
					}
				},{
					targets:8,
					render:function(data,full){
						if(full.pass==0)
						{
							return `<button class="btn btn-default btn-xs pass" data-id="${data}">通过</button>`;
						}
						return '';
					}
				}],
				pagesize:10,
				onRowLoaded:function(row){
					row.find('td:last').css('text-align','center');
					row.find('td:first').css({'padding-left':'20px','padding-right':'20px'});
				}
			});
			
			//刷新同一个订单号的所有页面的数据
			var flushTr = function(id){
				$('tbody tr').each(function(index,value){
					var req_id = $(value).find('td:eq(1)').text();
					if(req_id==id)
					{
						$(value).trigger('flush.datatables');
					}
				});
			}
			
			flushTr(235);
			
			$('#all table').on('click','.pass',function(){
				var id = $(this).data('id');
				bootbox.confirm({
					message:'确认通过?',
					buttons:{
						cancel:{
							label: '<i class="fa fa-times"></i> 取消',
						},
						confirm:{
							label:'<i class="fa fa-check"></i> 确定',
						}
					},
					callback: function(result) {
						if(result) {
							$.post('./index.php?m=ajax&c=drawal&a=passHandle',{id:id},function(response){
								if(response.code==1)
								{
									flushTr(id);
								}
								else
								{
									bootbox.alert(response.result);
								}
							});
						}
					},
				});
				
			});
			
			$('#all_search').on('submit',function(){
				all.search($(this).find('input').val());
				return false;
			});
		</script>
	</body>
</html>