<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>标题</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
       	<meta name="renderer" content="webkit">
        <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
        <!-- reset -->
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		
		<!-- select2 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/select2/4.0.3/css/select2.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css">
		
		<!--自定义css-->
		<link rel="stylesheet" href="{%$VIEW_ROOT%}/html/css/global.css">
		<script type="text/javascript">
			function lpad(num, n) {  
				return Array(n>num?(n-(''+num).length+1):0).join(0)+num;  
			}
		</script>
	</head>
	<body>
		<header>
			<div class="nav">
				<div class="left">
					<div class="logo">LOGO</div>
					<div class="version">V2.0</div>
				</div>
				<div class="center">
					<div class="navigator active"><a href="">平台</a></div>
					<div class="navigator"><a href="">商城</a></div>
					<div class="logout">
						<a href="./index.php?c=admin&a=logout">
							<span class="glyphicon glyphicon-off"></span>
							退出
						</a>
					</div>
					<div class="message">
						<a href="">
							<span class="glyphicon glyphicon-envelope"></span>
							消息
						</a>
					</div>
					<div class="admin">
						<a href="">
							<img src="{%$VIEW_ROOT%}/html/images/u88.png">
							i'm coming
						</a>
					</div>	
				</div>
			</div>
		</header>
		<div class="body container-fluid">
			<div class="row">
				<div class="sidebar">
					<div class="datetime">
						<div class="week">星期<script type="text/javascript">document.write(['日','一','二','三','四','五','六'][new Date().getDay()]);</script></div>
						<div class="time"><script type="text/javascript">document.write(lpad(new Date().getHours(),2)+':'+lpad(new Date().getMinutes(),2));</script></div>
						<div class="date"><script type="text/javascript">document.write(new Date().getFullYear()+'-'+lpad(new Date().getMonth()+1,2)+'-'+lpad(new Date().getDate(),2));</script></div>
					</div>
					<div class="menu">
						<div class="menu1">
							<div class="menu1-item active">
								<a href="">
									<img src="{%$VIEW_ROOT%}/html/images/u11.png">
									用户管理
								</a>
							</div>
							<div class="menu1-item">
								<a href="">
									<img src="{%$VIEW_ROOT%}/html/images/u11.png">
									内容管理
								</a>
							</div>
							<div class="menu1-item">
								<a href="">
									<img src="{%$VIEW_ROOT%}/html/images/u11.png">
									页面管理
								</a>
							</div>
						</div>
						<div class="menu2">
							<div class="menu2-item">
								<a href="">
									•&nbsp;会员列表
								</a>
							</div>
							<div class="menu2-item">
								<a href="">
									•&nbsp;学生管理
								</a>
							</div>
							<div class="menu2-item">
								<a href="">
									•&nbsp;会员订单
								</a>
							</div>
							<div class="menu2-item">
								<a href="">
									•&nbsp;会员团队
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="content">
			  		<div class="content-body">
			  			<div class="white-block">
			  				<div class="wall-block">
								<p>这是什么鬼</p>
							</div>
			  			</div>
			  			<div class="divider"></div>
			  			<div class="white-block">
			  				<div class="top-tips">
			  					<div class="top-tips-title">
			  						操作提示
			  					</div>
			  					<div class="top-tips-body">
			  						<p>标识“*”的选项为必填项，其余为选填项。</p>
			  						<p>请按提示文案填写信息，以免出错。</p>
			  					</div>
			  				</div>
			  			</div>
			  			<div class="divider"></div>
			  			<div class="white-block">
			  				<form class="form-horizontal" role="form">
			  					<div class="form-body">
			  						<div class="form-group">
										<label class="col-md-offset-3 col-md-1 control-label">品牌中文名</label>
										<div class="col-md-5">
											<input type="text" class="form-control" name="ch_name" autocomplete="off">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-offset-3 col-md-1 control-label">品牌英文名</label>
										<div class="col-md-5">
											<input type="text" class="form-control" name="en_name" autocomplete="off">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-offset-3 col-md-1 control-label">品牌LOGO</label>
										<div class="col-md-5">
											<button id="uploadBtn" class="btn-grey">上传LOGO</button>&nbsp;(建议120*120的图片)
											<input type="file" name="uploadInput" class="hide">
											<input type="hidden" name="uploadValue">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-offset-3 col-md-1 control-label">国籍</label>
										<div class="col-md-5">
											<select class="form-control">
												<option value="1">中国</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-offset-3 col-md-1 control-label">描述</label>
										<div class="col-md-5">
											<textarea class="form-control" rows="6"></textarea>
										</div>
									</div>
			  					</div>
			  				</form>
			  			</div>
			  		</div>				  
				</div>
			</div>
		</div>
		<footer>
			footer
		</footer>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script src="//cdn.bootcss.com/select2/4.0.3/js/select2.min.js"></script>
		<script src="//cdn.bootcss.com/select2/4.0.3/js/i18n/zh-CN.js"></script>
		<script type="text/javascript">
			setInterval(function(){
				var datetimeController = new Date();
				var date = datetimeController.getFullYear()+'-'+lpad(datetimeController.getMonth()+1,2)+'-'+lpad(datetimeController.getDate(),2);
				$('.date').text(date);
				
				var time = lpad(datetimeController.getHours(),2)+':'+lpad(datetimeController.getMinutes(),2);
				$('.time').text(time);
			
				var week = datetimeController.getDay();
				var weekArray = ['日','一','二','三','四','五','六'];
				var week = '星期'+weekArray[week];
				$('.week').text(week);
			},1000);
			 
			
			$.fn.select2.defaults.set("theme", "bootstrap");
			$('select').select2();
			
			
			//点击上传按钮弹窗
			$('#uploadBtn').on('click',function(){
				$('input[name=uploadInput]').trigger('click');
				return false;
			});
			
			$('input[name=uploadInput]').on('change',function(){
				if($.trim($(this).val()).length==0)
				{
					$('#uploadBtn').text('上传LOGO');
				}
				else
				{
					$('#uploadBtn').text($(this).val());
					var file = $(this)[0].files[0];
					var formData = new FormData();
					formData.append('file',file);
					var xhr = new XMLHttpRequest();
					xhr.open('POST','http://localhost/weigou/index.php?m=api&c=common&a=upload',true);
					xhr.onload = function(){  
						if(xhr.status == 200 && xhr.readyState == 4)  
						{
							var response = xhr.response;
							response = $.parseJSON(response);
							if(response.code==1)
							{
								button.html('文件上传成功：'+file.name).removeClass('disabled').removeClass('red').addClass('blue');
								fileInput.val(response.body.id);
								$('video').parents('.form-group').removeClass('hide');
								$('video').attr('src',response.body.path);
							}
							else
							{
								button.html(response.result).removeClass('disabled').addClass('red').removeClass('blue');
							}
						}
					};
					xhr.upload.addEventListener('progress', function(event){
						if(event.lengthComputable) {
							var howmuch = (event.loaded / event.total) * 100;
							button.html('正在上传:'+Math.ceil(howmuch)+'%').addClass('disabled').removeClass('red').addClass('blue');
						} else {
							button.html('无法计算上传进度').addClass('disabled').removeClass('blue').addClass('red');
						}
					}, false);
					xhr.send(formData);
				}
				return false;
			});
		</script>
	</body>
</html>