<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>{%$page_title%}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
       	<meta name="renderer" content="webkit">
        <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
        <!-- reset -->
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<!--icon-->
		<link rel="stylesheet" href="{%$VIEW_ROOT%}/html/css/plugins/font-awesome/css/font-awesome.min.css">
		<!--自定义css-->
		<link rel="stylesheet" href="{%resource path='/html/css/global.css'%}">
		<script type="text/javascript">
			function lpad(num, n) {  
				return Array(n>(''+num).length?(n-(''+num).length+1):0).join(0)+num;  
			}
		</script>
	</head>
	<body>
		<div id="sendModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form class="form-horizontal" role="form">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">一键发货</h4>
						</div>
						<div class="modal-body">
							<input type="hidden" name="orderno" value="">
							<div class="form-group">
								<label class="col-md-2 control-label">配送方</label>
								<div class="col-md-9">
									<select name="ship_type" class="form-control">
										{%section name=ship loop=$ship%}
										<option value="{%$ship[ship].code%}">{%$ship[ship].name%}</option>
										{%/section%}
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">物流单号</label>
								<div class="col-md-9">
									<input type="text" name="ship_number" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">备注</label>
								<div class="col-md-9">
									<textarea style="resize: none;" placeholder="详细原因描述" name="ship_note" rows="5" class="form-control"></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer" style="padding: 0px;">
							<div class="modal-button-group">
								<div class="modal-button submit">确认</div>
								<div data-dismiss="modal" class="modal-button">取消</div>
							</div>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		{%include file='html/public/header.html'%}
		<div class="body container-fluid">
			<div class="row">
				{%include file='html/public/sidebar.html'%}
				<div class="content">
			  		<div class="content-body">
			  			<div class="white-block">
			  				<div class="wall-block">
								<p>{%$page_title_reverse%}</p>
							</div>
			  			</div>
			  			<div class="divider"></div>
			  			<div class="white-block">
							<div class="space"></div>
							<div class="top-tips">
								<div class="top-tips-title">
									操作提示
								</div>
								<div class="top-tips-body">
									<p>全部订单指全部有效订单，无效的订单暂不显示。</p>
									<p>可输入商品名称关键字进行搜索，侧边栏进行高级搜索。</p>
								</div>
							</div>
							<div class="line">
								<div class="btn-group">
									<a class="btn red btn-outline btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										导出 <span class="caret"></span>
									</a>
									<ul class="dropdown-menu red">
										<li><a href="#">所有的商品</a></li>
										<li><a href="#">搜索结果中的商品</a></li>
										<li><a href="#">选中的商品</a></li>
									</ul>
								</div>
								<form class="form-inline pull-right" id="sending_search">
									<div class="form-group">
										<select class="input-sm form-control">
											<option value="" selected="selected">订单状态</option>
											<option value="status:1,pay_status:0">待付款</option>
											<option value="status:1,(pay_status:1|pay_status:4),way_status:0">待发货</option>
											<option value="status:1,(way_status:1|way_status:2),receive:0">待收货</option>
											<option value="status:1,receive:1">已完成</option>
										</select>
									</div>
									<div class="form-group">
										<input type="text" name="search" class="form-control input-sm" placeholder="订单号 / 手机号 / 用户名 / 收货人   ">
									</div>
									<button class="btn btn-small btn-orange pull-right" style="height: 30px; margin-left: 10px;">搜索</button>
								</form>
							</div>
							<div class="">
								<table class="table table-hover table-bordered table-responsive">
									<thead>
										<tr>
											<td width="2%" style="padding-left: 20px;padding-right: 20px;">
												<input type="checkbox" class="select-all">
											</td>
											<td width="13%" style="min-width: 160px;">
												订单号
											</td>
											<td width="13%" style="min-width: 128px;">
												下单时间
											</td>
											<td width="15%" style="min-width: 132px;">
												收货人信息
											</td>
											<td width="10%" style="min-width: 105px;">
												支付信息
											</td>
											<td width="10%" style="min-width: 80px;">
												应付金额
											</td>
											<td width="5%" style="min-width: 66px;">
												订单类型
											</td>
											<td width="10%" style="min-width: 100px; text-align: center;">
												订单状态
											</td>
											<td style="text-align: center; min-width: 240px;">
												操作
											</td>
										</tr>
									</thead>
									<tbody>

									</tbody>
									<tfoot>
										<tr>
											<td colspan="5">
												<div class="col-md-4">
													<select class="form-control multipleSelect">
														<option>请选择...</option>
														<option value="delete">删除</option>
													</select>

												</div>
												<div class="col-md-2">
													<button class="btn multipleBtn">确定</button>
												</div>
											</td>
											<td id="split_page" colspan="4" style="text-align: right;">

											</td>
										</tr>
									</tfoot>
								</table>
							</div>
			  			</div>
			  		</div>				  
				</div>
			</div>
		</div>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--alert-->
		<script src="//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
		<!--datatables-->
		<script src="{%resource path='/html/js/datatables.js'%}"></script>
		<script src="{%resource path='/html/js/global.js'%}"></script>
		<script type="text/javascript">
			$.ajaxSetup({
				headers:{
					'X-CSRF-TOKEN':'{%$x_csrf_token%}'
				}
			});
			
			var sending = datatables({
				table:$('table'),
				ajax:{
					url:'./index.php?c=datatables&a=order',
					data:{
						status:1,
						way_status:[0,2],
						pay_status:[1,4],
						where:"(need_erp=1 and erp=1) or need_erp=0",
					},
				},
				columns:[{
					data:'orderno',
					name:'order.orderno',
				}, 
				//订单号
				{
					data:'orderno',
					name:'order.orderno',
				},
				//下单时间
				{
					data:'createtime',
					name:'order.createtime',
				},{
					data:'username',
					name:'(select user.name from user where user.id=order.uid limit 1)',
					visible:false,
				},
				//收货人信息
				{
					data:'address_name',
					name:'order.address_name',
				},{
					data:'address_province',
					name:'order.address_province',
					visible:false,
				},{
					data:'address_city',
					name:'order.address_city',
					visible:false,
				},{
					data:'address_county',
					name:'order.address_county',
					visible:false,
				},{
					data:'address_address',
					name:'order.address_address',
					visible:false,
				},{
					data:'address_telephone',
					name:'order.address_telephone',
					visible:false,
				},
				//支付信息 
				{
					data:'pay_status',
					name:'order.pay_status',
				},{
					data:'pay_money',
					name:'order.pay_money',
					visible:false,
				},{
					data:'pay_type',
					name:'order.pay_type',
					visible:false,
				},{
					data:'device',
					name:'order.device',
					visible:false,
				},
				//应付金额
				{
					data:'orderamount',
					name:'order.orderamount',
				},
				//订单类型
				{
					data:'orderType',//判断是否未空，未空普通订单，否则是团购订单
					name:'(select task_user.orderno from task_user where task_user.orderno=order.orderno limit 1)',
				},
				//订单状态
				{
					data:'way_status',//是否发货
					name:'order.way_status',
				},{
					data:'refund_money',
					name:'(select sum(money) from refund where refund.orderno=order.orderno and refund.status=1)',
					visible:false,
				},{
					data:'task_user_status',
					name:'(select task_user.status from task_user where task_user.orderno=order.orderno limit 1)',
					visible:false,
				},{
					data:'need_erp',
					name:'order.need_erp',
					visible:false,
				},{
					data:'receive',
					name:'order.receive',
					visible:false,
				},{
					data:'status',
					name:'order.status',
					visible:false,
				},
				//操作
				{
					data:'orderno',
					name:'order.orderno',
				},{
					data:'erp',
					name:'order.erp',
					visible:false,
				}],
				sort:[{
					column:2,
					dir:'desc',
				}],
				columnDefs:[{
					targets:0,
					render:function(data){
						return '<input type="checkbox" name="id[]" value="'+data+'">';
					}
				},{
					targets:2,
					render:function(data,full){
						return full.username+'<br>'+unixtotime(data,true,8);
					}
				},{
					targets:4,
					render:function(data,full){
						return full.address_name+' '+full.address_telephone+'<br>'+full.address_province+' '+full.address_city+' '+full.address_county+'<br>'+full.address_address;
					}
				},{
					targets:10,
					render:function(data,full){
						if(full.pay_status == 0)
						{
							return '未支付';
						}
						var device = '';
						if(full.pay_type=='alipay')
						{
							pay_type = '<font color="#3399FF">支付宝</font>';
						}
						else if(full.pay_type == 'wechat')
						{
							pay_type = '<font color="#339900">微信</font>';
							if(full.device == 'android')
							{
								device = 'Android(安卓)';
							}
							if(full.device == 'ios')
							{
								device = 'IOS(苹果)';
							}
							else
							{
								device = '微信公众号';
							}
						}

						return '支付金额:'+full.pay_money+'<br>'+'支付方式:'+pay_type+'<br>'+device;
					}
				},{
					targets:15,
					render:function(data){
						return data==null?'普通订单':'团购订单';
					}
				},{
					targets:16,
					render:function(data,full){
						content = '';
						if(full.status==0)
						{
							content += '<font color="#868686">订单关闭</font>';
							if(full.pay_status==2)
							{
								content += '<br><font color="#FF3300">已退款('+full.refund_money+')</font>';
							}
							return content;
						}
						else
						{
							if(full.pay_status==0)
							{
								return '<font color="#0099FF">待付款</font>';
							}

							if(full.orderType!=null)
							{
								if(full.pay_status==1)
								{
									content += '<font color="#009900">已支付</font>';
									if(full.task_user_status==0)
									{
										content += ',<font color="#6B6B6B">未成团</font>';
										return content;
									}
									else if(full.task_user_status==2)
									{
										return warning('团购订单退款失败');
									}
									else if(full.task_user_status==1)
									{
										if(full.way_status==0)
										{
											return '<font color="#FF6600">待发货，已成团</font>';
										}
										else if(full.way_status==1)
										{
											if(full.receive==0)
											{
												return '<font color="#9900FF">待收货</font>';
											}
											else
											{
												return '<font color="#FF00FF">已完成</font>';
											}
										}
										else if(full.way_status==2)
										{
											return warning('团购订单不应该出现部分发货的情况');
										}
									}
								}
								if(full.pay_status==3)
								{
									return warning('支付宝正在退款');
								}
								if(full.pay_status==2)
								{
									return warning('团购订单出现已退款，但是订单状态却依然有效的状态');
								}
								if(full.pay_status==4)
								{
									return warning('团购订单不会出现部分退款');
								}
								return warning();
							}
							else
							{
								if(full.pay_status==2)
								{
									return warning('已经退款但是没有取消订单?');
								}
								else if(full.pay_status==3)
								{
									return warning('订单正在处理退款');
								}
								else if((full.pay_status==1 || full.pay_status==4))
								{
									if(full.way_status==0)
									{
										content += '<font color="#FF6600">待发货</font>';
										if(full.pay_status==4)
										{
											content += '<br><font color="#FF6600">【部分退款】</font>';
										}
										if(full.need_erp == 1)
										{
											if(full.erp==1)
											{
												content += '<br><font color="#000000">（已推送）</font>';
											}
											else if(full.erp==0)
											{
												content += '<br><font color="#868686">（未推送）</font>';
											}
											else if(full.erp==2)
											{
												content += '<br><font color="#868686">（部分推送）</font>';
											}
										}
										return content;
									}
									else if(full.way_status==1)
									{
										if(full.receive==0)
										{
											return '<font color="#9900FF">待收货</font>';
										}
										else
										{
											return '<font color="#FF00FF">已完成</font>';
										}
									}
									else if(full.way_status==2)
									{
										return '<font color="#FF6600">部分发货</font>';
									}
								}
								return warning();
							}
						}
					}
				},{
					targets:22,
					render:function(data,full){
						showRefundBtn = false;
						showErpBtn = false;
						showWayBtn = false;
						showLogisticsBtn = false;

						content = '<button class="btn btn-outline btn-xs orderdetail" data-id="'+data+'">查看</button>';
						if(full.status==1)
						{
							if(full.need_erp==1 && (full.pay_status == 1 || full.pay_status == 4) && full.erp_not_sending_num>0 && full.way_status==0)
							{
								showErpBtn = true;
							}
							
							if(full.need_erp==0)
							{
								//不要发ERP的只要没发货并且付款了的直接可以发货
								if((full.pay_status == 1 || full.pay_status == 4) && (full.way_status==0 || full.way_status==2))
								{
									showWayBtn = true;
								}
							}
							else
							{
								//需要发erp的，必须erp发送了之后才可以发货
								if(full.erp!=0 && (full.pay_status == 1 || full.pay_status == 4) && (full.way_status==0 || full.way_status==2))
								{
									showWayBtn = true;
								}
							}

							if((full.way_status==1 || full.way_status==2))
							{
								showLogisticsBtn = true;
							}
						}
						content += '<div class="space '+(showRefundBtn?'':'display-none')+'"></div><button class="btn btn-outline btn-xs '+(showRefundBtn?'':'display-none')+' refundBtn" data-id="'+data+'">全额退款</button>';
						content += '<div class="space '+(showErpBtn?'':'display-none')+'"></div><button class="btn btn-outline btn-xs '+(showErpBtn?'':'display-none')+' erpBtn" data-id="'+data+'">推送ERP</button>';
						content += '<div class="space '+(showWayBtn?'':'display-none')+'"></div><button class="btn btn-outline btn-xs '+(showWayBtn?'':'display-none')+' sendBtn" data-id="'+data+'">一键发货</button>';
						content += '<div class="space '+(showLogisticsBtn?'':'display-none')+'"></div><button class="btn btn-outline btn-xs '+(showLogisticsBtn?'':'display-none')+' logisticsBtn" data-id="'+data+'">查看物流</button>';
						return content;
					}
				}],
				pagesize:10,
				onRowLoaded:function(row){
					//row.find('td:last').css('text-align','center');
					row.find('td:last').prev().css('text-align','center');
					row.find('td:first').css({'padding-left':'20px','padding-right':'20px'});

				}
			});

			$('#sending_search').on('submit',function(){
				sending.addAjaxParameter('status',$(this).find('select').val());
				sending.search($(this).find('input').val());
				return false;
			});

			//批量操作
			$('#sending .multipleBtn').on('click',function(){
				var table = $(this).parents('table');
				var id = getSelectedCheckbox(table);
				if($(this).parents('td').find('.multipleSelect').val() == '')
				{
					return false;
				}
				if(id.length == 0)
				{
					bootbox.alert('请选择商品');
					return false;
				}
				if($(this).parents('td').find('.multipleSelect').val() == 'delete')
				{
					bootbox.confirm({
						message:'确认删除?',
						buttons:{
							cancel:{
								label: '<i class="fa fa-times"></i> 取消',
							},
							confirm:{
								label:'<i class="fa fa-check"></i> 确定',
							}
						},
						callback: function(result,a) {
							if(result) {
								sending.addAjaxParameter('customActionType','group_action');
								sending.addAjaxParameter('id',id);
								sending.addAjaxParameter('customActionName','remove');
								sending.reload();
							}
						},
					});
				}
				return false;
			});
			
			//刷新同一个订单号的所有页面的数据
			var flushTr = function(order){
				$('tbody tr').each(function(index,value){
					var orderno = $(value).find('td:eq(1)').text();
					if(orderno==order)
					{
						$(value).trigger('flush.datatables');
					}
				});
			}
			
			
			$('table').on('change','input[type=checkbox].select-all',function(){
				if($(this).is(':checked'))
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',true);
					});
				}
				else
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',false);
					});
				}
				return false;
			});
			
			var warning = function(msg){
				msg = msg||'错误的订单状态';
				return '<font color="color:#FF3300;">'+msg+'</font>';
			}
			
			var getSelectedCheckbox = function(table){
				$_id = [];
				table.find('tbody input[type=checkbox]').each(function(index,value){
					if($(value).is(':checked'))
					{
						$_id.push($(value).val());
					}
				});
				return $_id;
			}
			
			$('table').on('click','.refundBtn',function(){
				$('#refundModal input[name=orderno]').val($(this).data('id'));
				$('#refundModal').modal('show');
			});
			
			$('#refundModal .submit').on('click',function(){
				var orderno = $('#refundModal input[name=orderno]').val();
				var refund_reason = $('#refundModal select[name=refund_reason]').val();
				var refund_note = $.trim($('#refundModal [name=refund_note]').val());
				$.post('./index.php?m=ajax&c=order&a=refund',{orderno:orderno,refund_reason:refund_reason,refund_note:refund_note},function(response){
					if(response.code==1)
					{
						flushTr(orderno);
						$('#refundModal').modal('hide');
					}
					else
					{
						bootbox.alert(response.result);
					}
				});
				return false;
			});
			
			$('table').on('click','.sendBtn',function(){
				$('#sendModal input[name=orderno]').val($(this).data('id'));
				$('#sendModal').modal('show');
			});
			
			$('#sendModal .submit').on('click',function(){
				var orderno = $('#sendModal input[name=orderno]').val();
				var ship_type = $('#sendModal select[name=ship_type]').val();
				var ship_number = $.trim($('#sendModal input[name=ship_number]').val());
				var ship_note = $.trim($('#sendModal [name=ship_note]').val());
				$.post('./index.php?m=ajax&c=order&a=send',{orderno:orderno,ship_type:ship_type,ship_number:ship_number,ship_note:ship_note},function(response){
					if(response.code==1)
					{
						flushTr(orderno);
						$('#sendModal').modal('hide');
					}
					else
					{
						bootbox.alert(response.result);
					}
				});
				return false;
			});
			
			$('table').on('click','.erpBtn',function(){
				$('#erpModal').modal('show');
				$('#erpModal input[name=orderno]').val($(this).data('id'));
			});
			
			$('#erpModal .submit').on('click',function(){
				var orderno = $('#erpModal input[name=orderno]').val();
				var note = $.trim($('#erpModal [name=erp_note]').val());
				$.post('./index.php?m=ajax&c=order&a=erp',{orderno:orderno,note:note},function(response){
					if(response.code==1)
					{
						flushTr(orderno);
						$('#erpModal').modal('hide');
					}
					else
					{
						bootbox.alert(response.result);
					}
				});
				return false;
			});
			
			$('table').on('click','.logisticsBtn',function(){
				$('#logisticsModal').modal('show');
				$('#logisticsModal .white-block').load('./index.php?c=order&a=way&orderno='+$(this).data('id'));
			});
			
			$('table').on('click','.orderdetail',function(){
				window.location = './index.php?c=html&a=orderdetail&orderno='+$(this).data('id');
			});
		</script>
	</body>
</html>