<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>{%$page_title%}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
       	<meta name="renderer" content="webkit">
        <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
        <!-- reset -->
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<!--icon-->
		<link rel="stylesheet" href="{%$VIEW_ROOT%}/html/css/plugins/font-awesome/css/font-awesome.min.css">
		<!--自定义css-->
		<link rel="stylesheet" href="{%resource path='/html/css/global.css'%}">
		<script type="text/javascript">
			function lpad(num, n) {  
				return Array(n>(''+num).length?(n-(''+num).length+1):0).join(0)+num;  
			}
		</script>
	</head>
	<body>
		{%include file='html/public/header.html'%}
		<div class="body container-fluid">
			<div class="row">
				{%include file='html/public/sidebar.html'%}
				<div class="content">
			  		<div class="content-body">
			  			<div class="white-block">
			  				<div class="wall-block">
								<p>{%$page_title_reverse%}</p>
							</div>
			  			</div>
			  			<div class="divider"></div>
			  			<div class="white-block">
			  				
			  				<div class="tab">
			  					<div class="tab-header">
			  						<a class="tab-title active" href="#all">全部商品</a>
			  						<a class="tab-title" href="#sale">在售商品</a>
			  						<a class="tab-title" href="#unshelf">已下架</a>
			  						<a class="tab-title" href="#rubbish">回收站</a>
			  					</div>
			  					<div class="tab-body">
			  						<div class="tab-page active" id="all">
			  							<div class="space"></div>
										<div class="top-tips">
											<div class="top-tips-title">
												操作提示
											</div>
											<div class="top-tips-body">
												<p>该页面展示了商城所有的商品信息，可对商品进行编辑修改操作。</p>
												<p>可输入商品名称关键字进行搜索，侧边栏进行高级搜索。</p>
												<p>搜索结果和选中商品的导出一次最多2000条。</p>
											</div>
										</div>
										<div class="line" style="float: right;">
											{%hasPower keyword=create_product_from_list type=button%}
											<a href="./index.php?c=html&a=product_create&from=list" class="btn red btn-outline btn-small">添加商品</a>
											{%/hasPower%}
											{%hasPower keyword=multi_modify_product type=button%}
											<a class="btn red btn-outline btn-small">批量修改商品信息</a>
											{%/hasPower%}
											{%hasPower keyword=export_product type=button%}
											<div class="btn-group" id="exportBtn">
												<a class="btn red btn-outline btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													导出 <span class="caret"></span>
												</a>
												<ul class="dropdown-menu red">
													<li><a href="#" id="export_all">所有的商品</a></li>
													<li><a href="#" id="export_search">搜索结果中的商品</a></li>
													<li><a href="#" id="export_selected">选中的商品</a></li>
												</ul>
											</div>
											{%/hasPower%}
											<form class="form-inline pull-right" id="all_search">
												<div class="form-group">
													<select class="input-sm form-control">
														<option value="" selected="selected">商品状态</option>
														<option value="examine_final:0,examine:1,examine_stock:1,examine_price:1">待审核</option>
														<option value="examine_final:2,examine:1,examine_stock:1,examine_price:1">审核中</option>
														<option value="examine_final:-1,examine:1,examine_stock:1,examine_price:1">审核未通过</option>
														<option value="status:0,examine_final:1,downStatus:0">已下架</option>
														<option value="status:0,examine_final:1,downStatus:1">已下架，编辑中</option>
														<option value="status:1">销售中</option>
														<option value="status:1,stock:0">销售中，库存不足</option>
													</select>
												</div>
												<div class="form-group">
													<input type="text" name="search" class="form-control input-sm" placeholder="商品名称/SPU">
												</div>
												<button class="btn btn-small btn-orange pull-right" style="height: 30px; margin-left: 10px;">搜索</button>
											</form>
										</div>
										<div class="">
											<table class="table table-hover table-bordered table-responsive">
												<thead>
													<tr>
			  											<td width="2%" style="padding-left: 20px;padding-right: 20px;">
			  												<input type="checkbox" class="select-all">
			  											</td>
			  											<td width="25%" style="min-width: 305px;">
			  												商品名称
			  											</td>
			  											<td width="10%" style="min-width: 80px;">
			  												SPU编号
			  											</td>
			  											<td width="10%" style="min-width: 65px;">
			  												商品类型
			  											</td>
			  											<td width="10%" style="min-width: 115px;">
			  												价格
			  											</td>
			  											<td width="10%" style="min-width: 80px;">
			  												商品来源
			  											</td>
			  											<td width="10%">
			  												商品状态
			  											</td>
			  											<td style="text-align: center;">
			  												操作
			  											</td>
			  										</tr>
												</thead>
												<tbody>
													
												</tbody>
												<tfoot>
													<tr>
														<td colspan="4">
															<div class="col-md-4">
																<select class="form-control" id="multipleSelect">
																	<option value="">请选择...</option>
																	{%hasPower keyword=up_product type=button%}
																	<option value="sale">上架</option>
																	{%/hasPower%}
																	{%hasPower keyword=down_product type=button%}
																	<option value="unshelf">下架</option>
																	{%/hasPower%}
																	{%hasPower keyword=recycle_product type=button%}
																	<option value="remove">回收</option>
																	{%/hasPower%}
																</select>
																
															</div>
															<div class="col-md-2">
																<button class="btn" id="multipleBtn">确定</button>
															</div>
														</td>
														<td id="split_page" colspan="4" style="text-align: right;">
			  											
			  											</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
			  						<div class="tab-page" id="sale">
			  							<div class="space"></div>
										<div class="top-tips">
											<div class="top-tips-title">
												操作提示
											</div>
											<div class="top-tips-body">
												<p>该页面展示了商城正在销售的商品信息。</p>
												<p>操作商品必须先下架后才可以进行进一步操作。</p>
												<p>可输入商品名称关键字进行搜索，侧边栏进行高级搜索。</p>
												<p>搜索结果和选中商品的导出一次最多2000条。</p>
											</div>
										</div>
										<div class="line" style="float: right;">
											{%hasPower keyword=create_product_from_list type=button%}
											<a href="./index.php?c=html&a=product_create&from=list" class="btn red btn-outline btn-small">添加商品</a>
											{%/hasPower%}
											{%hasPower keyword=multi_modify_product type=button%}
											<a class="btn red btn-outline btn-small">批量修改商品信息</a>
											{%/hasPower%}
											{%hasPower keyword=export_product type=button%}
											<div class="btn-group" id="exportBtn">
												<a class="btn red btn-outline btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													导出 <span class="caret"></span>
												</a>
												<ul class="dropdown-menu red">
													<li><a href="#" id="export_all">所有的商品</a></li>
													<li><a href="#" id="export_search">搜索结果中的商品</a></li>
													<li><a href="#" id="export_selected">选中的商品</a></li>
												</ul>
											</div>
											{%/hasPower%}
											<form class="form-inline pull-right" id="sale_search">
												<div class="form-group">
													<select class="input-sm form-control">
														<option value="" selected="selected">商品状态</option>
														<option value="status:1,isdelete:0">销售中</option>
														<option value="status:1,stock:0,isdelete:0">销售中，库存不足</option>
													</select>
												</div>
												<div class="form-group">
													<input type="text" name="search" class="form-control input-sm" placeholder="商品名称/SPU">
												</div>
												<button class="btn btn-small btn-orange pull-right" style="height: 30px; margin-left: 10px;">搜索</button>
											</form>
										</div>
										<div class="">
											<table class="table table-hover table-bordered table-responsive">
												<thead>
													<tr>
			  											<td width="2%" style="padding-left: 20px;padding-right: 20px;">
			  												<input type="checkbox" class="select-all">
			  											</td>
			  											<td width="25%" style="min-width: 305px;">
			  												商品名称
			  											</td>
			  											<td width="10%" style="min-width: 80px;">
			  												SPU编号
			  											</td>
			  											<td width="10%" style="min-width: 65px;">
			  												商品类型
			  											</td>
			  											<td width="10%" style="min-width: 115px;">
			  												价格
			  											</td>
			  											<td width="10%" style="min-width: 80px;">
			  												商品来源
			  											</td>
			  											<td width="10%">
			  												商品状态
			  											</td>
			  											<td style="text-align: center;">
			  												操作
			  											</td>
			  										</tr>
												</thead>
												<tbody>
													
												</tbody>
												<tfoot>
													<tr>
														<td colspan="4">
															<div class="col-md-4">
																<select class="form-control" id="multipleSelect">
																	<option value="">请选择...</option>
																	{%hasPower keyword=down_product type=button%}
																	<option value="unshelf">下架</option>
																	{%/hasPower%}
																</select>
																
															</div>
															<div class="col-md-2">
																<button class="btn" id="multipleBtn">确定</button>
															</div>
														</td>
														<td id="split_page" colspan="4" style="text-align: right;">
			  											
			  											</td>
													</tr>
												</tfoot>
											</table>
										</div>
			  						</div>
			  						<div class="tab-page" id="unshelf">
			  							<div class="space"></div>
										<div class="top-tips">
											<div class="top-tips-title">
												操作提示
											</div>
											<div class="top-tips-body">
												<p>该页面展示了商城所有的已下架商品信息，商品重新上架需要审核通过后将显示在前台。</p>
												<p>可输入商品名称关键字进行搜索，侧边栏进行高级搜索。</p>
												<p>搜索结果和选中商品的导出一次最多2000条。</p>
											</div>
										</div>
										<div class="line" style="float: right;">
											{%hasPower keyword=multi_modify_product type=button%}
											<a class="btn red btn-outline btn-small">批量修改商品信息</a>
											{%/hasPower%}
											{%hasPower keyword=export_product type=button%}
											<div class="btn-group" id="exportBtn">
												<a class="btn red btn-outline btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													导出 <span class="caret"></span>
												</a>
												<ul class="dropdown-menu red">
													<li><a href="#" id="export_all">所有的商品</a></li>
													<li><a href="#" id="export_search">搜索结果中的商品</a></li>
													<li><a href="#" id="export_selected">选中的商品</a></li>
												</ul>
											</div>
											{%/hasPower%}
											<form class="form-inline pull-right" id="unshelf_search">
												<div class="form-group">
													<select class="input-sm form-control">
														<option value="" selected="selected">商品状态</option>
														<option value="status:0,examine_final:1,downStatus:0">已下架</option>
														<option value="status:0,examine_final:1,downStatus:1">已下架，编辑中</option>
													</select>
												</div>
												<div class="form-group">
													<input type="text" name="search" class="form-control input-sm" placeholder="商品名称/SPU">
												</div>
												<button class="btn btn-small btn-orange pull-right" style="height: 30px; margin-left: 10px;">搜索</button>
											</form>
										</div>
										<div class="">
											<table class="table table-hover table-bordered table-responsive">
												<thead>
													<tr>
			  											<td width="2%" style="padding-left: 20px;padding-right: 20px;">
			  												<input type="checkbox" class="select-all">
			  											</td>
			  											<td width="25%" style="min-width: 305px;">
			  												商品名称
			  											</td>
			  											<td width="10%" style="min-width: 80px;">
			  												SPU编号
			  											</td>
			  											<td width="10%" style="min-width: 65px;">
			  												商品类型
			  											</td>
			  											<td width="10%" style="min-width: 115px;">
			  												价格
			  											</td>
			  											<td width="10%" style="min-width: 80px;">
			  												商品来源
			  											</td>
			  											<td width="10%">
			  												商品状态
			  											</td>
			  											<td style="text-align: center;">
			  												操作
			  											</td>
			  										</tr>
												</thead>
												<tbody>
													
												</tbody>
												<tfoot>
													<tr>
														<td colspan="4">
															<div class="col-md-4">
																<select class="form-control" id="multipleSelect">
																	<option value="">请选择...</option>
																	{%hasPower type=button keyword=recycle_product%}
																	<option value="remove">回收</option>
																	{%/hasPower%}
																	{%hasPower type=button keyword=up_product%}
																	<option value="sale">上架</option>
																	{%/hasPower%}
																</select>
																
															</div>
															<div class="col-md-2">
																<button class="btn" id="multipleBtn">确定</button>
															</div>
														</td>
														<td id="split_page" colspan="4" style="text-align: right;">
			  											
			  											</td>
													</tr>
												</tfoot>
											</table>
										</div>
			  						</div>
			  						<div class="tab-page" id="rubbish">
			  							<div class="space"></div>
										<div class="top-tips">
											<div class="top-tips-title">
												操作提示
											</div>
											<div class="top-tips-body">
												<p>删除后的商品可在商品回收站保存。</p>
												<p>可以进行商品还原，也可以彻底删除。</p>
											</div>
										</div>
										<div class="line" style="float: right;">
											<form class="form-inline pull-right" id="rubbish_search">
												<div class="form-group">
													<input type="text" name="search" class="form-control input-sm" placeholder="商品名称/SPU">
												</div>
												<button class="btn btn-small btn-orange pull-right" style="height: 30px; margin-left: 10px;">搜索</button>
											</form>
										</div>
										<div class="">
											<table class="table table-hover table-bordered table-responsive">
												<thead>
													<tr>
			  											<td width="2%" style="padding-left: 20px;padding-right: 20px;">
			  												<input type="checkbox" class="select-all">
			  											</td>
			  											<td width="25%" style="min-width: 305px;">
			  												商品名称
			  											</td>
			  											<td width="10%" style="min-width: 80px;">
			  												SPU编号
			  											</td>
			  											<td width="10%" style="min-width: 65px;">
			  												商品类型
			  											</td>
			  											<td width="10%" style="min-width: 115px;">
			  												价格
			  											</td>
			  											<td width="10%" style="min-width: 80px;">
			  												商品来源
			  											</td>
			  											<td width="10%">
			  												商品状态
			  											</td>
			  											<td style="text-align: center;">
			  												操作
			  											</td>
			  										</tr>
												</thead>
												<tbody>
													
												</tbody>
												<tfoot>
													<tr>
														<td colspan="4">
															<div class="col-md-4">
																<select class="form-control" id="multipleSelect">
																	<option value="">请选择...</option>
																	{%hasPower type=button keyword=recycle_product%}
																	<option value="restore">还原</option>
																	{%/hasPower%}
																	{%hasPower type=button keyword=delete_product%}
																	<option value="clear_delete">彻底删除</option>
																	{%/hasPower%}
																</select>
																
															</div>
															<div class="col-md-2">
																<button class="btn" id="multipleBtn">确定</button>
															</div>
														</td>
														<td id="split_page" colspan="4" style="text-align: right;">
			  											
			  											</td>
													</tr>
												</tfoot>
											</table>
										</div>
			  						</div>
								</div>
							</div>
							
			  			</div>
			  		</div>				  
				</div>
			</div>
		</div>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--alert-->
		<script src="//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
		<!--datatables-->
		<script src="{%resource path='/html/js/datatables.js'%}"></script>
		<script src="{%resource path='/html/js/tab.js'%}"></script>
		<script src="{%resource path='/html/js/global.js'%}"></script>
		<script type="text/javascript">
			$.ajaxSetup({
				headers:{
					'X-CSRF-TOKEN':'{%$x_csrf_token%}'
				}
			});
			
			var $_edit_product = 0;//商品编辑权限
			var $_recycle_product = 0;//商品回收权限
			var $_delete_product = 0;//商品删除权限
			var $_up_product = 0;//商品上架权限
			var $_down_product = 0;//商品下架权限
			{%hasPower type=button keyword=edit_product%}
			$_edit_product = 1
			{%/hasPower%}
			{%hasPower type=button keyword=recycle_product%}
			$_recycle_product = 1
			{%/hasPower%}
			{%hasPower type=button keyword=delete_product%}
			$_delete_product = 1
			{%/hasPower%}
			{%hasPower type=button keyword=up_product%}
			$_up_product = 1
			{%/hasPower%}
			{%hasPower type=button keyword=down_product%}
			$_down_product = 1
			{%/hasPower%}
			
			$('table').on('change','input[type=checkbox].select-all',function(){
				if($(this).is(':checked'))
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',true);
					});
				}
				else
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',false);
					});
				}
				return false;
			});
			
			var getSelectedCheckbox = function(table){
				$_id = [];
				table.find('tbody input[type=checkbox]').each(function(index,value){
					if($(value).is(':checked'))
					{
						$_id.push($(value).val());
					}
				});
				return $_id;
			}
		</script>
		<script src="{%resource path='/html/js/product/all.js'%}"></script>
		<script src="{%resource path='/html/js/product/sale.js'%}"></script>
		<script src="{%resource path='/html/js/product/unshelf.js'%}"></script>
		<script src="{%resource path='/html/js/product/rubbish.js'%}"></script>
		<script type="text/javascript">
			tab.on('tab.click.all',function(){
				all.clearAjaxParameter();
				all.reload();
			}).on('tab.click.sale',function(){
				sale.clearAjaxParameter();
				sale.reload();
			}).on('tab.click.unshelf',function(){
				unshelf.clearAjaxParameter();
				unshelf.reload();
			}).on('tab.click.rubbish',function(){
				rubbish.clearAjaxParameter();
				rubbish.reload();
			});
		</script>
		{%hasPower type=button keyword=export_product%}
		<script type="text/javascript">
			$('#all #exportBtn').on('click','#export_all',function(){
				post("./index.php?c=export&a=product",{isdelete:0,examine_final:1});
			}).on('click','#export_search',function(){
				var ids = all.getResultPrimaryKey();
				if(ids.length>0)
				{
					post('./index.php?c=export&a=product',{id:ids});
				}
				else
				{
					bootbox.alert('没有搜索结果');
				}
			}).on('click','#export_selected',function(){
				var ids = getSelectedCheckbox($('#all'));
				if(ids.length>0)
				{
					post('./index.php?c=export&a=product',{id:ids});
				}
				else
				{
					bootbox.alert('请选择商品');
				}
			});
			
			$('#sale #exportBtn').on('click','#export_all',function(){
				post("./index.php?c=export&a=product",{isdelete:0,examine_final:1,status:1});
			}).on('click','#export_search',function(){
				var ids = all.getResultPrimaryKey();
				if(ids.length>0)
				{
					post('./index.php?c=export&a=product',{id:ids});
				}
				else
				{
					bootbox.alert('没有搜索结果');
				}
			}).on('click','#export_selected',function(){
				var ids = getSelectedCheckbox($('#all'));
				if(ids.length>0)
				{
					post('./index.php?c=export&a=product',{id:ids});
				}
				else
				{
					bootbox.alert('请选择商品');
				}
			});
			
			$('#unshelf #exportBtn').on('click','#export_all',function(){
				post("./index.php?c=export&a=product",{isdelete:0,examine_final:1,status:0});
			}).on('click','#export_search',function(){
				var ids = all.getResultPrimaryKey();
				if(ids.length>0)
				{
					post('./index.php?c=export&a=product',{id:ids});
				}
				else
				{
					bootbox.alert('没有搜索结果');
				}
			}).on('click','#export_selected',function(){
				var ids = getSelectedCheckbox($('#all'));
				if(ids.length>0)
				{
					post('./index.php?c=export&a=product',{id:ids});
				}
				else
				{
					bootbox.alert('请选择商品');
				}
			});
		</script>
		{%/hasPower%}
	</body>
</html>