<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>{%$page_title%}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
       	<meta name="renderer" content="webkit">
        <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
        <!-- reset -->
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<!--icon-->
		<link rel="stylesheet" href="{%$VIEW_ROOT%}/html/css/plugins/font-awesome/css/font-awesome.min.css">
		<!--自定义css-->
		<link rel="stylesheet" href="{%resource path='/html/css/global.css'%}">
		<script type="text/javascript">
			function lpad(num, n) {  
				return Array(n>(''+num).length?(n-(''+num).length+1):0).join(0)+num;  
			}
		</script>
	</head>
	<style>
	.table-bordered>tbody>tr>td{
		border: none;
	}
	.table-bordered>thead>tr>td{
		border-left: none;
		border-right: none;
	}
	.table-bordered>thead>tr>td{
		border-bottom-width: 1px;
	}
	</style>
	<body>
		{%include file='html/public/header.html'%}
		<div class="body container-fluid">
			<div class="row">
				{%include file='html/public/sidebar.html'%}
				<div class="content">
			  		<div class="content-body">
			  			<div class="white-block">
			  				<div class="wall-block">
								<p>{%$page_title_reverse%}</p>
							</div>
			  			</div>
			  			<div class="divider"></div>
			  			<div class="white-block">
			  				
			  				<div class="tab">
			  					<div class="tab-header">
			  						<a class="tab-title active" href="#stock">库存盘点</a>
			  						<a class="tab-title" href="./index.php?c=html&a=price_manager">价格盘点</a>
			  					</div>
			  					<div class="tab-body">
			  						<div class="tab-page active" id="stock">
			  							<div class="space"></div>
										<div class="top-tips">
											<div class="top-tips-title">
												操作提示
											</div>
											<div class="top-tips-body">
												<p>该页面展示了商城所有的商品信息，可对商品进行编辑修改操作。</p>
												<p>可输入商品名称关键字进行搜索，侧边栏进行高级搜索。</p>
											</div>
										</div>
										<div class="line">
											<div class="btn-group">
												<a class="btn red btn-outline btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													导出 <span class="caret"></span>
												</a>
												<ul class="dropdown-menu red">
													<li><a href="#">所有的商品</a></li>
													<li><a href="#">搜索结果中的商品</a></li>
													<li><a href="#">选中的商品</a></li>
												</ul>
											</div>
											<a href="./index.php?c=html&a=product_stock_manager" class="btn red btn-outline btn-small">库存盘点</a>
											<form class="form-inline pull-right" id="dt_search">
												<div class="form-group">
													<select class="input-sm form-control">
														<option value="" selected="selected">商品状态</option>
														<option value="examine:0">待审核</option>
														<option value="examine:2">审核中</option>
														<option value="examine:-1">审核未通过</option>
														<option value="examine:1,status:0,downStatus:0">已下架</option>
														<option value="status:0,downStatus:1">已下架，编辑中</option>
														<option value="status:1,stock:1">销售中</option>
														<option value="status:1,stock:0">销售中，库存不足</option>
													</select>
												</div>
												<div class="form-group">
													<input type="text" name="search" class="form-control input-sm" placeholder="商品名称/SPU">
												</div>
												<button class="btn btn-small btn-orange pull-right" style="height: 30px; margin-left: 10px;">搜索</button>
											</form>
										</div>
										<div class="">
											<table class="table table-hover table-bordered table-responsive">
												<thead>
													<tr>
			  											<td width="2%" style="padding-left: 20px;padding-right: 20px;">
			  												<input type="checkbox" class="select-all">
			  											</td>
			  											<td width="25%" style="min-width: 305px;">
			  												商品名称
			  											</td>
			  											<td width="10%" style="min-width: 80px;">
			  												SKU
			  											</td>
			  											<td width="10%" style="min-width: 65px;">
			  												供货商
			  											</td>
			  											<td width="10%" style="min-width: 115px;">
			  												仓库
			  											</td>
			  											<td width="10%" style="min-width: 80px;">
			  												条形码
			  											</td>
			  											<td width="10%">
			  												单位
			  											</td>
			  											<td width="10%">
			  												库存
			  											</td>
			  											<td style="text-align: center;">
			  												操作
			  											</td>
			  										</tr>
												</thead>
												<tbody>
													
												</tbody>
												<tfoot>
													<tr>
														<!--<td colspan="5">
															<div class="col-md-4">
																<select class="form-control" id="multipleSelect">
																	<option>请选择...</option>
																	<option value="delete">删除</option>
																</select>
																
															</div>
															<div class="col-md-2">
																<button class="btn" id="multipleBtn">确定</button>
															</div>
														</td>-->
														<td id="split_page" colspan="9" style="text-align: right;">
			  											
			  											</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
			  					</div>
							</div>
						</div>
			  		</div>				  
				</div>
			</div>
		</div>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--alert-->
		<script src="//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
		<!--datatables-->
		<script src="{%resource path='/html/js/datatables.js'%}"></script>
		<script src="{%resource path='/html/js/tab.js'%}"></script>
		<script src="{%resource path='/html/js/global.js'%}"></script>
		<script type="text/javascript">
			$.ajaxSetup({
				headers:{
					'X-CSRF-TOKEN':'{%$x_csrf_token%}'
				}
			});
			
			$('table').on('change','input[type=checkbox].select-all',function(){
				if($(this).is(':checked'))
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',true);
					});
				}
				else
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',false);
					});
				}
				return false;
			});
			
			var dt = datatables({
				table:$('#stock table'),
				ajax:{
					url:'{%url c=datatables a=product_stock%}',
					data:{
						'product.isdelete':0,
					},
				},
				empty:function(){
					return '<tr><td colspan="10" style="text-align:center;">尚无数据</td></tr>';
				},
				columns:[{
					data:'id',
					name:'product.id',
				},{
					data:'name',
					name:'product.name',
				},{
					data:'sku',
					name:'product.sku',
				},{
					data:'publish',
					name:'publish.name',
				},{
					data:'store',
					name:'(select store.name from store where store.id=product_publish.store limit 1)',
				},{
					data:'barcode',
					name:'product.barcode',
				},{
					data:'MeasurementUnit',
					name:'(select dictionary.name from dictionary where dictionary.id=product.MeasurementUnit and dictionary.type="MeasurementUnit" limit 1)',
				},{
					data:'stock',
					name:'product_publish.stock',
				},{
					data:'id',
					name:'product.id',
				},
				
				{
					data:'pic',
					name:'(select upload.path from product_img left join upload on upload.id=product_img.fid where product_img.pid=product.id order by product_img.position asc limit 1)',
					visible:false,
				},{
					data:'brand',
					name:'(select brand.name_cn from brand where brand.id=product.brand limit 1)',
					visible:false,
				}],
				columnDefs:[{
					targets:0,
					render:function(data,full){
						return '<input type="checkbox" name="id[]" value="'+data+'">';
					}
				},{
					targets:1,
					render:function(data,full){
						return '<div style="display: inline-block;width: 70px;height: 60px;vertical-align:middle;"><img onerror="this.src=\'https://placeholdit.imgix.net/~text?txtsize=18&txt=%E6%AD%A4%E5%A4%84%E6%97%A0%E5%9B%BE&w=60&h=60\';" src="'+full.pic+'" width="60px" height="60px"></div><div style="display: inline-block;width: 70%;height: 60px;vertical-align:middle;"><div style="display: block;width: 100%;word-break: break-all;overflow: hidden;height: 40px;line-height: 20px;">'+data+'</div><div style="height:20px;line-height: 20px;width:100%;overflow: hidden;">品牌：'+(full.brand==null?'':full.brand)+'</div></div>';
					}
				},{
					targets:8,
					render:function(data,full){
						content = '<button class="btn btn-outline btn-xs" data-id="'+data+'">明细</button>';
						return content;
					}
				}],
				pagesize:10,
				onRowLoaded:function(row){
					row.find('td:last').css('text-align','center');
					row.find('td:first').css({'padding-left':'20px','padding-right':'20px'});
				}
			});
			
			
			$('#dt_search').on('submit',function(){
				dt.addAjaxParameter('status',$(this).find('select').val());
				dt.search($(this).find('input').val());
				return false;
			});
		</script>
	</body>
</html>