<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>{%$page_title%}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
       	<meta name="renderer" content="webkit">
        <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
        <!-- reset -->
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<!--icon-->
		<link rel="stylesheet" href="{%$VIEW_ROOT%}/html/css/plugins/font-awesome/css/font-awesome.min.css">
		<!--自定义css-->
		<link rel="stylesheet" href="{%resource path='/html/css/global.css'%}">
		<script type="text/javascript">
			function lpad(num, n) {  
				return Array(n>(''+num).length?(n-(''+num).length+1):0).join(0)+num;  
			}
		</script>
	</head>
	<body>
		{%include file='html/public/header.html'%}
		<div class="body container-fluid">
			<div class="row">
				{%include file='html/public/sidebar.html'%}
				<div class="content">
			  		<div class="content-body">
			  			<div class="white-block">
			  				<div class="wall-block">
								<p>{%$page_title_reverse%}</p>
							</div>
			  			</div>
			  			<div class="divider"></div>
			  			<div class="white-block">
			  				
			  				<div class="tab">
			  					<div class="tab-header">
			  						<a class="tab-title active" href="#all">库存临界值/销售价格/税率设置</a>
			  					</div>
			  					<div class="tab-body">
			  						<div class="tab-page active" id="all">
			  							<div class="space"></div>
										<div class="top-tips">
											<div class="top-tips-title">
												操作提示
											</div>
											<div class="top-tips-body">
												<p>配置商品库存临界值、配置商品的销售价比例</p>
											</div>
										</div>
										
										<div class="line"></div>
										<div class="row">
											<div class="col-md-4">
												<div class="select-multiple-search">
													<input type="text" placeholder="输入名称查找" class="search">
													<div class="icon">
														<span class="glyphicon glyphicon-search"></span>
													</div>
												</div>
												<div class="select-multiple font-dark">
												
												</div>
											</div>
											
											<div class="col-md-4">
												<div class="select-multiple-search">
													<input type="text" placeholder="输入名称查找" class="search">
													<div class="icon">
														<span class="glyphicon glyphicon-search"></span>
													</div>
												</div>
												<div class="select-multiple font-dark">
													
												</div>
											</div>
											
											<div class="col-md-4">
												<form id="setting" class="disabled">
													<div class="panel panel-default">
														<div class="panel-heading">
															<h4 class="panel-title" style="font-size: 12px;">库存临界值设置</h4>
														</div>
														<div class="panel-body">
															<div class="center-block" style="width: 70%;">
																<input type="text" name="stock" class="form-control input-sm" style="margin-bottom: 5px;">
																<span class="help-block" style="font-size: 12px;line-height: 14px;margin: 0px;">请根据实际情况设置库存临界值</span>
																<span class="help-block" style="font-size: 12px;line-height: 14px;margin: 0px;">输入的数值必须在0~100区间内</span>
															</div>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading">
															<h4 class="panel-title" style="font-size: 12px;">销售价的比例设置</h4>
														</div>
														<div class="panel-body">
															<div class="center-block" style="width: 70%;">
																<table style="margin-bottom: 5px;">
																	<tr style="margin-bottom: 5px;">
																		<td style="text-align: center;">原价</td>
																		<td></td>
																		<td style="text-align: center;">普通</td>
																		<td></td>
																		<td style="text-align: center;">白金</td>
																		<td></td>
																		<td style="text-align: center;">钻石</td>
																	</tr>
																	<tr>
																		<td><input type="text" name="price_old" class="form-control input-sm"></td>
																		<td style="width: 10px;text-align: center;">:</td>
																		<td><input type="text" name="price_v0" class="form-control input-sm"></td>
																		<td style="width: 10px;text-align: center;">:</td>
																		<td><input type="text" name="price_v1" class="form-control input-sm"></td>
																		<td style="width: 10px;text-align: center;">:</td>
																		<td><input type="text" name="price_v2" class="form-control input-sm"></td>
																	</tr>
																</table>

																<span class="help-block" style="font-size: 12px;line-height: 14px;margin: 0px;">
																	输入示例：“20：18：13：5”
																</span>
																<span class="help-block" style="font-size: 12px;line-height: 14px;margin: 0px;">
																	原价 = 基准价*（100+ 20）%
																</span>
																<span class="help-block" style="font-size: 12px;line-height: 14px;margin: 0px;">
																	普通价格 = 基准价*（100+18）%
																</span>
																<span class="help-block" style="font-size: 12px;line-height: 14px;margin: 0px;">
																	白金价格 = 基准价*（100+13）%
																</span>
																<span class="help-block" style="font-size: 12px;line-height: 14px;margin: 0px;">
																	钻石价格 = 基准价*（100+5）%
																</span>
															</div>
														</div>
													</div>
													<button type="submit" class="btn btn-green btn-width center-block submit" disabled="disabled">保存</button>
												</form>
											</div>
										</div>
										
										
			  						</div>
								</div>
							</div>
							
			  			</div>
			  		</div>				  
				</div>
			</div>
		</div>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--alert-->
		<script src="//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
		<script src="{%resource path='/html/js/tab.js'%}"></script>
		<script src="{%resource path='/html/js/global.js'%}"></script>
		<script type="text/javascript">
			$.ajaxSetup({
				headers:{
					'X-CSRF-TOKEN':'{%$x_csrf_token%}'
				}
			});
			
			//搜索分类
			$('.search').on('keyup',function(){
				if($.trim($(this).val()).length != 0)
				{
					var searchText = $.trim($(this).val());
					$(this).parents('.col-md-4').find('.option').each(function(index,value){
						if($(value).text().indexOf(searchText) >= 0)
						{
							$(value).show();
						}
						else
						{
							$(value).hide();
						}
					});
				}
				else
				{
					$(this).parents('.col-md-4').find('.option').each(function(index,value){
						$(value).show();
					});
				}
			});
			//点击分类项目的时候设置为选中状态
			$('.select-multiple').on('click','.option',function(){
				if(!$(this).hasClass('active'))
				{
					$(this).siblings().removeClass('active');
					$(this).addClass('active');
					loadCategory($(this).data('id'),parseInt($(this).data('level'))+1,function(tpl,info){
						tpl.on('click',function(){
							$.post('./index.php?m=ajax&c=bcategory&a=find',{id:info.id},function(response){
								if(response.code==1)
								{
									info=response.body;
									$('input[name=stock]').val(info.stock_limit);
									$('input[name=price_old]').val(info.price_old);
									$('input[name=price_v0]').val(info.price_v0);
									$('input[name=price_v1]').val(info.price_v1);
									$('input[name=price_v2]').val(info.price_v2);

									$('#setting').addClass('disabled');
									$('#setting .submit').prop('disabled',true);
								}
								
							});
						});
					});
				}
				return false;
			});
			//载入分类的统一的函数
			function loadCategory(bc_id,c_level,callback)
			{
				let $_icon = '';
				if (c_level == 0)
                {
                    $('.col-md-4:eq(1) .select-multiple').empty();
                }
				if(c_level>=2)
				{
					return false;
				}
				else if(c_level==0)
				{
					bc_id = null;
				}
				$('.col-md-4:eq('+c_level+') .select-multiple').empty();
				$.post('{%url m=ajax c=bcategory a=show%}',{bc_id:bc_id},function(response){
					if(response.code==1)
					{
						for(var i=0;i<response.body.length;i++)
						{
							if(c_level==1)
							{
								$_icon = '<span class="pull-right" style="color:#6B6B6B;">'+response.body[i].stock_limit+'</span>';
							}
							tpl = $('<div class="option" data-id="'+response.body[i].id+'" data-level="'+c_level+'" data-sort="'+response.body[i].sort+'">'+response.body[i].name+$_icon+'</div>');
							if(callback)
							{
								callback(tpl,response.body[i]);
							}
							$('.col-md-4:eq('+c_level+') .select-multiple').append(tpl);
						}
					}
					else
					{
						alert('异常！');
					}
				});
				return false;
			}
			
			//载入第一级分类
			loadCategory(null,0);
			
			$('#setting input').on('keydown',function(event){
				if($('.col-md-4:eq(1) .option.active').length==0)
				{
					return false;
				}
				if((event.which>=48 && event.which<=57) || event.which==8 || (event.which>=96 && event.which<=105))
				{
					$(this).parents('#setting').removeClass('disabled');
					$('#setting .submit').prop('disabled',false);
				}
			});
			
			$('#setting').on('submit',function(){
				if($('.col-md-4:eq(1) .option.active').length==0)
				{
					return false;
				}
				console.log($('#setting .submit').prop('disabled'));
				if($('#setting .submit').prop('disabled'))
				{
					alert('123');
					return false;
				}
				let data = {
					stock_limit:$('input[name=stock]').val(),
					price_old:$('input[name=price_old]').val(),
					price_v0:$('input[name=price_v0]').val(),
					price_v1:$('input[name=price_v1]').val(),
					price_v2:$('input[name=price_v2]').val(),
					id:$('.col-md-4:eq(1) .option.active').data('id'),
				};
				$.post('./index.php?m=ajax&c=bcategory&a=setting',data,function(response){
					if(response.code==1)
					{
						$('#setting').find('.submit').prop('disabled',true);
						$('#setting').addClass('disabled');
						$('.col-md-4:eq(1) .option.active').find('span').text(parseInt(data.stock_limit));
					}
					else
					{
						bootbox.alert(response.result);
					}
				});
				return false;
			});
		</script>
	</body>
</html>