<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>{%$page_title%}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
       	<meta name="renderer" content="webkit">
        <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
        <!-- reset -->
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<!--icon-->
		<link rel="stylesheet" href="{%$VIEW_ROOT%}/html/css/plugins/font-awesome/css/font-awesome.min.css">
		<!--自定义css-->
		<link rel="stylesheet" href="{%resource path='/html/css/global.css'%}">
		<script type="text/javascript">
			function lpad(num, n) {  
				return Array(n>(''+num).length?(n-(''+num).length+1):0).join(0)+num;  
			}
		</script>
	</head>
	<body>
		{%include file='html/public/header.html'%}
		<div class="body container-fluid">
			<div class="row">
				{%include file='html/public/sidebar.html'%}
				<div class="content">
			  		<div class="content-body">
			  			<div class="white-block">
			  				<div class="wall-block">
								<p>{%$page_title_reverse%}</p>
							</div>
			  			</div>
			  			<div class="divider"></div>
			  			<div class="white-block">
			  				
			  				<div class="tab">
			  					<div class="tab-header">
			  						<a class="tab-title active" href="#all">会员列表</a>
			  						{%hasPower type=button keyword=blacklist%}
			  						<a class="tab-title" href="#blacklist">黑名单</a>
			  						{%/hasPower%}
			  					</div>
			  					<div class="tab-body">
			  						<div class="tab-page active" id="all">
			  							<div class="space"></div>
										<div class="top-tips">
											<div class="top-tips-title">
												操作提示
											</div>
											<div class="top-tips-body">
												<p>受浏览器限制，导出搜索结果和选中项目有最大数量限制:chrome浏览器2500个,其他未知。</p>
											</div>
										</div>
										<div class="line" style="float: right;">
											{%hasPower type=button keyword=export_user%}
											<div class="btn-group" id="exportBtn">
												<a class="btn red btn-outline btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													导出 <span class="caret"></span>
												</a>
												<ul class="dropdown-menu red">
													<li><a href="#" id="export_all">所有的用户</a></li>
													<li><a href="#" id="export_search">搜索结果中的用户</a></li>
													<li><a href="#" id="export_selected">选中的用户</a></li>
												</ul>
											</div>
											{%/hasPower%}
											<form class="form-inline pull-right" id="all_search">
												<div class="form-group">
													<input type="text" name="search" class="form-control input-sm" placeholder="会员名称/手机号">
												</div>
												<button class="btn btn-small btn-orange pull-right" style="height: 30px; margin-left: 10px;">搜索</button>
											</form>
										</div>
										<div class="">
											<table class="table table-hover table-bordered table-responsive">
												<thead>
													<tr>
			  											<td width="2%" style="padding-left: 20px;padding-right: 20px;">
			  												<input type="checkbox" class="select-all">
			  											</td>
			  											<td>
			  												头像
			  											</td>
			  											<td>
			  												用户昵称
			  											</td>
			  											<td>
			  												等级
			  											</td>
			  											<td>
			  												手机号
			  											</td>
			  											<td>
			  												微信号
			  											</td>
			  											<td>
			  												上级导师
			  											</td>
			  											<td>
			  												推广人
			  											</td>
			  											<td>
			  												余额
			  											</td>
			  											<td>
			  												个人推广码
			  											</td>
			  											<td>
			  												注册时间
			  											</td>
			  											<td>
			  												类型
			  											</td>
			  											<td style="text-align: center;">
			  												操作
			  											</td>
			  										</tr>
												</thead>
												<tbody>
													
												</tbody>
												<tfoot>
													<tr>
														<td id="split_page" colspan="15" style="text-align: right;">
			  											
			  											</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
		  							{%hasPower type=button keyword=blacklist%}
			  						<div class="tab-page" id="blacklist">
			  							<div class="space"></div>
										<div class="top-tips">
											<div class="top-tips-title">
												操作提示
											</div>
											<div class="top-tips-body">
												<p>受浏览器限制，导出搜索结果和选中项目有最大数量限制:chrome浏览器2500个,其他未知。</p>
											</div>
										</div>
										<div class="line" style="float: right;">
											{%hasPower type=button keyword=export_user%}
											<div class="btn-group" id="export_user">
												<a class="btn red btn-outline btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													导出 <span class="caret"></span>
												</a>
												<ul class="dropdown-menu red">
													<li><a href="#" id="export_all">所有的用户</a></li>
													<li><a href="#" id="export_search">搜索结果中的用户</a></li>
													<li><a href="#" id="export_selected">选中的用户</a></li>
												</ul>
											</div>
											{%/hasPower%}
											<form class="form-inline pull-right" id="blacklist_search">
												<div class="form-group">
													<input type="text" name="search" class="form-control input-sm" placeholder="会员名称/手机号">
												</div>
												<button class="btn btn-small btn-orange pull-right" style="height: 30px; margin-left: 10px;">搜索</button>
											</form>
										</div>
										<div class="">
											<table class="table table-hover table-bordered table-responsive">
												<thead>
													<tr>
			  											<td width="2%" style="padding-left: 20px;padding-right: 20px;">
			  												<input type="checkbox" class="select-all">
			  											</td>
			  											<td>
			  												头像
			  											</td>
			  											<td>
			  												用户昵称
			  											</td>
			  											<td>
			  												等级
			  											</td>
			  											<td>
			  												手机号
			  											</td>
			  											<td>
			  												微信号
			  											</td>
			  											<td>
			  												上级导师
			  											</td>
			  											<td>
			  												推广人
			  											</td>
			  											<td>
			  												余额
			  											</td>
			  											<td>
			  												个人推广码
			  											</td>
			  											<td>
			  												注册时间
			  											</td>
			  											<td>
			  												类型
			  											</td>
			  											<td style="text-align: center;">
			  												操作
			  											</td>
			  										</tr>
												</thead>
												<tbody>
													
												</tbody>
												<tfoot>
													<tr>
														<td id="split_page" colspan="15" style="text-align: right;">
			  											
			  											</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
									{%/hasPower%}
			  					</div>
							</div>
							
			  			</div>
			  		</div>				  
				</div>
			</div>
		</div>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--alert-->
		<script src="//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
		<!--datatables-->
		<script src="{%resource path='/html/js/datatables.js'%}"></script>
		<script src="{%resource path='/html/js/tab.js'%}"></script>
		<script src="{%resource path='/html/js/global.js'%}"></script>
		<script type="text/javascript">
			$.ajaxSetup({
				headers:{
					'X-CSRF-TOKEN':'{%$x_csrf_token%}'
				}
			});
			
			$('table').on('change','input[type=checkbox].select-all',function(){
				if($(this).is(':checked'))
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',true);
					});
				}
				else
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',false);
					});
				}
				return false;
			});
			
			var all = datatables({
				table:$('#all table'),
				ajax:{
					url:'{%url c=datatables a=user%}',
					data:{
						close:0
					},
				},
				columns:[{
					data:'id',
					name:'user.id',
				},{
					data:'gravatar',
					name:'(select upload.path from upload where upload.id=user.gravatar limit 1)',
				},{
					data:'name',
					name:'user.name',
				},{
					data:'vip',
					name:'user.vip',
				},{
					data:'telephone',
					name:'user.telephone',
				},{
					data:'wechat_no',
					name:'user.wechat_no',
				},{
					data:'o_master',
					name:'(select u.name from user as u where u.id=user.o_master limit 1)',
				},{
					data:'oid',
					name:'(select us.name from user as us where us.id=user.oid limit 1)',
				},{
					data:'money',
					name:'user.money',
				},{
					data:'invit',
					name:'user.invit',
				},{
					data:'regtime',
					name:'user.regtime',
				},{
					data:'master',
					name:'user.master',
				},{
					data:'id',
					name:'user.id',
				}],
				columnDefs:[{
					targets:0,
					render:function(data,full){
						return '<input type="checkbox" name="id[]" value="'+data+'">';
					}
				},{
					targets:1,
					render:function(data,full){
						return '<img src="'+data+'" onerror="this.src=\'https://placeholdit.imgix.net/~text?txtsize=13&txt=%E5%A4%B4%E5%83%8F&w=50&h=50\';" width="50" height="50" class="img-circle">';
					}
				},{
					targets:3,
					render:function(data,type){
						switch(parseInt(data))
						{
							case 0:return '普通';
							case 1:return '白金';
							case 2:return '钻石';
						}
						return '错误';
					}
				},{
					targets:5,
					render:function(data,type){
						if(data.length==0)
						{
							return '<font color="BCBCBC">暂无</font>';
						}
						return data;
					}
				},{
					targets:6,
					render:function(data,type){
						if(data==null)
						{
							return '<font color="BCBCBC">暂无</font>';
						}
						return data;
					}
				},{
					targets:7,
					render:function(data,type){
						if(data==null)
						{
							return '<font color="BCBCBC">暂无</font>';
						}
						return data;
					}
				},{
					targets:10,
					render:function(data,type){
						return unixtotime(data,true,8);
					}
				},{
					targets:11,
					render:function(data,type){
						return '<div style="cursor:default;" class="checkbox '+(data==1?'active blue':'')+'">'+(data==1?'导师':'普通')+'</div>';
					}
				},{
					targets:12,
					render:function(data,full){
						var look_disable = 'disabled="disabled"';
						{%hasPower keyword=user_look type=button%}
						look_disable = '';
						{%/hasPower%}
						
						var blacklist_disable = 'disabled="disabled"';
						{%hasPower keyword=create_blacklist type=button%}
						blacklist_disable = '';
						{%/hasPower%}
						
						
						content = 
						`
						<div class="btn-group" role="group">
							<button class="btn btn-default btn-xs look" data-id="${data}" ${look_disable}>
								查看/编辑
							</button>
							<button class="btn btn-xs btn-default btn-icon dropdown-toggle" data-toggle="dropdown" ${blacklist_disable}>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-sm">
							  <li><a class="blacklist" data-id="${data}" href="#">加入黑名单</a></li>
							</ul>
						</div>`;
						return content;
					}
				}],
				pagesize:10,
				onRowLoaded:function(row){
					row.find('td:last').css('text-align','center');
					row.find('td:first').css({'padding-left':'20px','padding-right':'20px'});
				}
			});
			
			{%hasPower type=button keyword=blacklist%}
			var blacklist = datatables({
				table:$('#blacklist table'),
				ajax:{
					url:'{%url c=datatables a=user%}',
					data:{
						close:1
					},
				},
				columns:[{
					data:'id',
					name:'user.id',
				},{
					data:'gravatar',
					name:'(select upload.path from upload where upload.id=user.gravatar limit 1)',
				},{
					data:'name',
					name:'user.name',
				},{
					data:'vip',
					name:'user.vip',
				},{
					data:'telephone',
					name:'user.telephone',
				},{
					data:'wechat_no',
					name:'user.wechat_no',
				},{
					data:'o_master',
					name:'(select u.name from user as u where u.id=user.o_master limit 1)',
				},{
					data:'oid',
					name:'(select us.name from user as us where us.id=user.oid limit 1)',
				},{
					data:'money',
					name:'user.money',
				},{
					data:'invit',
					name:'user.invit',
				},{
					data:'regtime',
					name:'user.regtime',
				},{
					data:'master',
					name:'user.master',
				},{
					data:'id',
					name:'user.id',
				}],
				columnDefs:[{
					targets:0,
					render:function(data,full){
						return '<input type="checkbox" name="id[]" value="'+data+'">';
					}
				},{
					targets:1,
					render:function(data,full){
						return '<img src="'+data+'" onerror="this.src=\'https://placeholdit.imgix.net/~text?txtsize=13&txt=%E5%A4%B4%E5%83%8F&w=50&h=50\';" width="50" height="50" class="img-circle">';
					}
				},{
					targets:3,
					render:function(data,type){
						switch(parseInt(data))
						{
							case 0:return '普通';
							case 1:return '白金';
							case 2:return '钻石';
						}
						return '错误';
					}
				},{
					targets:5,
					render:function(data,type){
						if(data.length==0)
						{
							return '<font color="BCBCBC">暂无</font>';
						}
						return data;
					}
				},{
					targets:6,
					render:function(data,type){
						if(data==null)
						{
							return '<font color="BCBCBC">暂无</font>';
						}
						return data;
					}
				},{
					targets:7,
					render:function(data,type){
						if(data==null)
						{
							return '<font color="BCBCBC">暂无</font>';
						}
						return data;
					}
				},{
					targets:10,
					render:function(data,type){
						return unixtotime(data,true,8);
					}
				},{
					targets:11,
					render:function(data,type){
						return '<div style="cursor:default;" class="checkbox '+(data==1?'active blue':'')+'">'+(data==1?'导师':'普通')+'</div>';
					}
				},{
					targets:12,
					render:function(data,full){
						var look_disable = 'disabled="disabled"';
						{%hasPower keyword=user_look type=button%}
						look_disable = '';
						{%/hasPower%}
						
						var blacklist_disable = 'disabled="disabled"';
						{%hasPower keyword=create_blacklist type=button%}
						blacklist_disable = '';
						{%/hasPower%}
						
						content = 
						`
						<div class="btn-group" role="group">
							<button class="btn btn-default btn-xs look" data-id="${data}" ${look_disable}>
								查看/编辑
							</button>
							<button class="btn btn-xs btn-default btn-icon dropdown-toggle" data-toggle="dropdown" ${blacklist_disable}>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-sm">
							  <li><a class="unblacklist" data-id="${data}" href="#">移出黑名单</a></li>
							</ul>
						</div>`;
						return content;
					}
				}],
				pagesize:10,
				onRowLoaded:function(row){
					row.find('td:last').css('text-align','center');
					row.find('td:first').css({'padding-left':'20px','padding-right':'20px'});
				}
			});
			{%/hasPower%}
			
			//点击tab的时候刷新
			tab.on('tab.click.blacklist',function(){
				blacklist.clearAjaxParameter();
				blacklist.reload();
			}).on('tab.click.all',function(){
				all.clearAjaxParameter();
				all.reload();
			});
			
			$('#all_search').on('submit',function(){
				all.search($(this).find('input').val());
				return false;
			});
			{%hasPower type=button keyword=blacklist%}
			$('#blacklist_search').on('submit',function(){
				blacklist.search($(this).find('input').val());
				return false;
			});
			{%/hasPower%}
			{%hasPower type=button keyword=create_blacklist%}
			$('#all table').on('click','.blacklist',function(){
				var id =$(this).data('id');
				var tr = $(this).parents('tr');
				bootbox.confirm({
					message:'确认把这个用户加入黑名单?',
					buttons:{
						cancel:{
							label: '<i class="fa fa-times"></i> 取消',
						},
						confirm:{
							label:'<i class="fa fa-check"></i> 确定',
						}
					},
					callback: function(result) {
						if(result) {
							$.post('./index.php?m=ajax&c=user&a=close',{id:id},function(response){
								if(response.code==1)
								{
									tr.remove();
								}
								else
								{
									bootbox.alert(response.result);
								}
							});
						}
					},
				});
				return false;
			});
			{%/hasPower%}
			{%hasPower type=button keyword=user_look%}
			$('#all table').on('click','.look',function(){
				window.location = './index.php?c=html&a=userinfo&id='+$(this).data('id');
			});
			{%/hasPower%}
			
			{%hasPower type=button keyword=blacklist%}
			{%hasPower type=button keyword=create_blacklist%}
			$('#blacklist table').on('click','.unblacklist',function(){
				var id =$(this).data('id');
				var tr = $(this).parents('tr');
				$.post('./index.php?m=ajax&c=user&a=close',{id:id},function(response){
					if(response.code==1)
					{
						tr.remove();
					}
					else
					{
						bootbox.alert(response.result);
					}
				});
				return false;
			});
			{%/hasPower%}
			{%/hasPower%}
			
			{%hasPower type=button keyword=user_look%}			
			$('#blacklist table').on('click','.look',function(){
				window.location = './index.php?c=html&a=userinfo&id='+$(this).data('id');
			});
			{%/hasPower%}
			
			var getSelectedCheckbox = function(obj){
				$_id = [];
				obj.find('table tbody input[type=checkbox]').each(function(index,value){
					if($(value).is(':checked'))
					{
						$_id.push($(value).val());
					}
				});
				return $_id;
			}
		</script>
		{%hasPower type=button keyword=export_user%}
		<script type="text/javascript">
			$('#all #exportBtn').on('click','#export_all',function(){
				post("./index.php?c=export&a=user",{close:0});
			}).on('click','#export_search',function(){
				var ids = all.getResultPrimaryKey();
				if(ids.length>0)
				{
					post('./index.php?c=export&a=user',{id:ids});
				}
				else
				{
					bootbox.alert('没有搜索结果');
				}
			}).on('click','#export_selected',function(){
				var ids = getSelectedCheckbox($('#all'));
				if(ids.length>0)
				{
					post('./index.php?c=export&a=user',{id:ids});
				}
				else
				{
					bootbox.alert('请选择用户');
				}
			});
			{%hasPower type=button keyword=blacklist%}
			$('#blacklist #exportBtn').on('click','#export_all',function(){
				post("./index.php?c=export&a=user",{close:1});
			}).on('click','#export_search',function(){
				var ids = blacklist.getResultPrimaryKey();
				if(ids.length>0)
				{
					post('./index.php?c=export&a=user',{id:ids});
				}
				else
				{
					bootbox.alert('没有搜索结果');
				}
			}).on('click','#export_selected',function(){
				var ids = getSelectedCheckbox($('#blacklist'));
				if(ids.length>0)
				{
					post('./index.php?c=export&a=user',{id:ids});
				}
				else
				{
					bootbox.alert('请选择用户');
				}
			});
			{%/hasPower%}
		</script>
		{%/hasPower%}
	</body>
</html>