<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>{%$page_title%}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
       	<meta name="renderer" content="webkit">
        <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
        <!-- reset -->
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<!--icon-->
		<link rel="stylesheet" href="{%$VIEW_ROOT%}/html/css/plugins/font-awesome/css/font-awesome.min.css">
		<!--自定义css-->
		<link rel="stylesheet" href="{%resource path='/html/css/global.css'%}">
		<script type="text/javascript">
			function lpad(num, n) {  
				return Array(n>(''+num).length?(n-(''+num).length+1):0).join(0)+num;  
			}
		</script>
	</head>
	<body>
		{%include file='html/public/header.html'%}
		<div class="body container-fluid">
			<div class="row">
				{%include file='html/public/sidebar.html'%}
				<div class="content">
			  		<div class="content-body">
			  			<div class="white-block">
			  				<div class="wall-block">
								<p>{%$page_title_reverse%}</p>
							</div>
			  			</div>
			  			<div class="divider"></div>
			  			<div class="white-block">
			  				<div class="tab">
			  					<div class="tab-header">
			  						<a class="tab-title active" href="#all">会员订单</a>
			  					</div>
			  					<div class="tab-body">
			  						<div class="tab-page active" id="all">
			  						
										<div class="space"></div>
										<div class="top-tips">
											<div class="top-tips-title">
												操作提示
											</div>
											<div class="top-tips-body">
												<p>该页面展示了商城所有的商品信息，可对商品进行编辑修改操作。</p>
												<p>可输入商品名称关键字进行搜索，侧边栏进行高级搜索。</p>
											</div>
										</div>
										<div class="line">
											<div class="btn-group">
												<a class="btn red btn-outline btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													导出 <span class="caret"></span>
												</a>
												<ul class="dropdown-menu red">
													<li><a href="#">所有的用户</a></li>
													<li><a href="#">搜索结果中的用户</a></li>
													<li><a href="#">选中的用户</a></li>
												</ul>
											</div>
											<form class="form-inline pull-right" id="all_search">
												<div class="form-group">
													<input type="text" name="search" class="form-control input-sm" placeholder="会员名称/手机号">
												</div>
												<button class="btn btn-small btn-orange pull-right" style="height: 30px; margin-left: 10px;">搜索</button>
											</form>
										</div>
										<div class="">
											<table class="table table-hover table-bordered table-responsive">
												<thead>
													<tr>
														<td width="2%" style="padding-left: 20px;padding-right: 20px;">
															<input type="checkbox" class="select-all">
														</td>
														<td>
															订单号
														</td>
														<td>
															下单时间
														</td>
														<td>
															用户名
														</td>
														<td>
															推荐人
														</td>
														<td>
															支付金额
														</td>
														<td>
															订单信息
														</td>
														<td>
															支付状态
														</td>
													</tr>
												</thead>
												<tbody>

												</tbody>
												<tfoot>
													<tr>
														<td id="split_page" colspan="15" style="text-align: right;">

														</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
							</div>
			  			</div>
			  		</div>				  
				</div>
			</div>
		</div>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--alert-->
		<script src="//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
		<script src="{%resource path='/html/js/datatables.js'%}"></script>
		<script src="{%resource path='/html/js/global.js'%}"></script>
		<script type="text/javascript">
			$.ajaxSetup({
				headers:{
					'X-CSRF-TOKEN':'{%$x_csrf_token%}'
				}
			});
			
			$('table').on('change','input[type=checkbox].select-all',function(){
				if($(this).is(':checked'))
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',true);
					});
				}
				else
				{
					$(this).closest('table').find('input[type=checkbox]:not(.select-all)').each(function(index,value){
						$(value).prop('checked',false);
					});
				}
				return false;
			});
			
			var all = datatables({
				table:$('#all table'),
				ajax:{
					url:'{%url c=datatables a=viporder%}',
				},
				sort:[{
					column:2,
					dir:'desc',
				}],
				columns:[{
					data:'orderno',
					name:'vip_order.orderno',
				},{
					data:'orderno',
					name:'vip_order.orderno',
				},{
					data:'createtime',
					name:'vip_order.createtime',
				},{
					data:'name',
					name:'(select user.name from user where user.id=vip_order.uid limit 1)',
				},{
					data:'oid',
					name:'(select o.name from user as o where o.id = (select user.oid from user where user.id=vip_order.uid limit 1) limit 1)',
				},{
					data:'payprice',
					name:'vip_order.payprice',
				},{
					data:'vip_from',//订单信息
					name:'vip_order.vip_from',
				},{
					data:'vip_to',//支付状态 用payprice是否为空来判断
					name:'vip_order.vip_to',
				}],
				columnDefs:[{
					targets:0,
					render:function(data,full){
						return '<input type="checkbox" name="id[]" value="'+data+'">';
					}
				},{
					targets:2,
					render:function(data,full){
						return unixtotime(data,true,8);
					}
				},{
					targets:4,
					render:function(data,full){
						if(data==null)
						{
							return '<font color="#BCBCBC">暂无</font>';
						}
						return data;
					}
				},{
					targets:6,
					render:function(data,full){
						if(full.vip_from==0)
						{
							if(full.vip_to==1)
							{
								content = '白金VIP订单';
							}
							else if(full.vip_to==2)
							{
								content = '钻石VIP订单';
							}
						}
						else
						{
							if(full.vip_to==2)
							{
								content = '升级钻石VIP订单';
							}
						}
						content += '(V'+full.vip_from + '~V' +full.vip_to+')';
						return content;
					}
				},{
					targets:7,
					render:function(data,full){
						return parseFloat(full.payprice)==0?'<font color="#BCBCBC">未支付</font>':'已支付';
					}
				}],
				pagesize:10,
				onRowLoaded:function(row){
					row.find('td:last').css('text-align','center');
					row.find('td:first').css({'padding-left':'20px','padding-right':'20px'});
				}
			});
			
			$('#all_search').on('submit',function(){
				all.search($(this).find('input').val());
				return false;
			});
		</script>
	</body>
</html>