<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">资金流水</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover" id="list">
            	

            	

            </table>
        </div>
    </div>
</div>

<!-- 分页开始 -->
<style type="text/css">

#pagecount{width:500px; margin:10px auto 2px auto; padding-bottom:20px; text-align:center}
#pagecount span{margin:4px; font-size:14px}
</style>


<div id="pagecount"></div>

<script type="text/javascript">
var curPage = 1; //当前页码
var total,pageSize,totalPage;
//获取数据
function getData(page){ 
	$.ajax({
		type: 'POST',
		url: '{%url c=swift a=ajax_detail%}',
		data: {'pageNum':page-1,'uid':{%$uuid%}},
		dataType:'json',
		beforeSend:function(){
			$("#list").append("<div id='loading'>loading...</div>");
		},
		success:function(json){
			$("#list").empty();
			console.log(json);
			total = json.total; //总记录数
			pageSize = json.pageSize; //每页显示条数
			curPage = page; //当前页
			totalPage = json.totalPage; //总页数
			var li = "<tr><th>类型</th><th>金额</th><th>时间</th><th>备注</th><th>来源</th></tr>";
			var list = json.list;
			$.each(list,function(index,array){ //遍历json数据列
			
			var type ='';
			if(array['type']==0){
				type = '收入';
			}else{
				type = '支出';
			}
			
			var date = new Date(array['time']*1000);
			Y = date.getFullYear() + '-';
			M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
			D = date.getDate() + ' ';
			h = date.getHours() + ':';
			m = date.getMinutes() + ':';
			s = date.getSeconds(); 
			//console.log(Y+M+D+h+m+s); //呀麻碟
			
			var source ='';
			if(array['source']==0){
				source = '管理员修改';
			}else if(array['source']==1){
				source = '提现申请';
			}else if(array['source']==2){
				source = '一级销售分成';
			}else if(array['source']==3){
				source = '二级销售分成';
			}else if(array['source']==4){
				source = '导师销售分成';
			}else if(array['source']==5){
				source = '一级vip分成';
			}else if(array['source']==6){
				source = '二级vip分成';
			}else if(array['source']==7){
				source = '导师vip分成';
			}
		
			
			li+="<tr>";
				li += "<td>"+type+"</td>";
				li += "<td>"+array['money']+"</td>";
				li += "<td>"+Y+M+D+h+m+s+"</td>";
				li += "<td>"+array['note']+"</td>";
				li += "<td>"+source+"</td>";
			li+="</tr>";	
			});
			$("#list").append(li);
		},
		complete:function(){ //生成分页条
			getPageBar();
		},
		error:function(){
			alert("数据加载失败");
		}
	});
}

//获取分页条
function getPageBar(){
	//页码大于最大页数
	if(curPage>totalPage) curPage=totalPage;
	//页码小于1
	if(curPage<1) curPage=1;
	pageStr = "<span>共"+total+"条</span><span>"+curPage+"/"+totalPage+"</span>";
	
	//如果是第一页
	if(curPage==1){
		pageStr += "<span>首页</span><span>上一页</span>";
	}else{
		pageStr += "<span><a href='javascript:void(0)' rel='1'>首页</a></span><span><a href='javascript:void(0)' rel='"+(curPage-1)+"'>上一页</a></span>";
	}
	
	//如果是最后页
	if(curPage>=totalPage){
		pageStr += "<span>下一页</span><span>尾页</span>";
	}else{
		pageStr += "<span><a href='javascript:void(0)' rel='"+(parseInt(curPage)+1)+"'>下一页</a></span><span><a href='javascript:void(0)' rel='"+totalPage+"'>尾页</a></span>";
	}
		
	$("#pagecount").html(pageStr);
}

$(function(){
	getData(1);
	$("#pagecount").on('click','a',function(){
		var rel = $(this).attr("rel");
		if(rel){
			getData(rel);
		}
	});
});
</script>










<!-- 分页结束 -->

<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">关闭</button>
    <button type="button" class="btn blue update" data-id="{%$smarty.post.uid%}">更新</button>
</div>