<div id="footer">
    <footer>
        <ul class="nav_inner">
            <li><a href="{%url c=mobile a=index%}" class="a_item "><div class="home"></div><p>首页</p></a></li>
            <li><a href="{%url c=mobile a=category%}" class="a_item "><div class="classify"></div><p>分类</p></a></li>
            <li><a href="{%url c=mobile a=cart%}" class="a_item "><div class="car"></div><p>购物车</p></a></li>
            <li><a href="{%url c=mobile a=account%}" class="a_item cur"><div class="mine"></div><p>我的</p></a></li>
        </ul>
    </footer>
</div>