<div id="xieyi" style="background-color: #fff; position: absolute; bottom: 0; left: 0; width: 100%; display:none; z-index:1;overflow: auto;height: 100%;">
	<div class="title" onClick="$('#xieyi').slideToggle();" style="padding: 10px; line-height: 30px; font-size: 14px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; position: relative;">
		<span class="arrow_left" style="border-left: 2px solid #999;border-bottom: 2px solid #999;width: 9px;height: 9px;position: absolute;left: 12px;top: 20px;transform: rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);-o-transform: rotate(45deg);-moz-transform: rotate(45deg);"></span>
		&nbsp;&nbsp;&nbsp;协议内容
	</div>
	<div class="title" style="padding: 10px; line-height: 30px; font-size: 14px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; position: relative;">
		进口个人委托申报委托
	</div>
	<div class="wrap" id="geren_content" style="padding:10px;line-height: 20px;">
		
	</div>
	<div class="title" style="padding: 10px; line-height: 30px; font-size: 14px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; position: relative;">微购服务协议</div>
	<div class="wrap" id="fuwu_content" style="padding:10px;">
		
	</div>
	<input type="hidden" name="add_to_cart" value="">
</div>