<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>支付宝安全支付</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
</head>
<body style="margin:0px; padding:0px;">
	<div style="background-color: grey;
    opacity: 0.5;
    min-height: 100%;">
		<img style="float: right;" src="{%$VIEW_ROOT%}/mobile/image/share-it.png">
		<div style="font-size: large;
    color: white;
    padding-top: 100px;
    padding-left: 100px;">点击这里，选择用浏览器打开</div>
	</div>
</body>
</html>