<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">订单发货</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover" id="sendTable">
            	<tr><th>名称</th><th>规格</th><th>数量</th><th>配送方</th><th>快递单号</th><th>操作</th></tr>
            	{%section name=package loop=$package%}
                	<tr class="package" data-id="{%$package[package].id%}">
                        <td colspan="3">{%$package[package].name%}发货</td>
                        <td>
                            <select class="form-control input-sm" name="ship_type">
                                <option value="" disabled="disabled" selected="selected">选择配送方...</option>
                                {%section name=ship loop=$ship%}
                                <option value="{%$ship[ship].code%}" {%if $package[package].ship_type==$ship[ship].code%}selected="selected"{%/if%}>{%$ship[ship].name%}</option>
                                {%/section%}
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" name="ship_number" placeholder="输入快递单号" />
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    {%section name=product loop=$package[package].product%}
                    <tr>
                        <td>{%$package[package].product[product].name%}</td>
                        <td>{%$package[package].product[product].content%}</td>
                        <td>{%$package[package].product[product].num%}</td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                        	<!--
                        	{%if $package[package].product[product].num > 1%}<button class="btn btn-xs blue explodePackage">拆分</button>{%/if%}
                        	-->
                        </td>
                    </tr>
                    {%/section%}
                {%/section%}
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">关闭</button>
    <button type="button" class="btn blue confirmSend" data-orderno="{%$smarty.post.orderno%}">确认发货</button>
</div>
<script type="text/javascript">
	
</script>