<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">物流轨迹</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover" id="sendTable">
            	<tr><th>地点</th><th>时间</th><th>描述</th></tr>
                {%if isset($way)%}
            	{%section name=way loop=$way%}
                <tr><td>{%$way[way].zone|default:''%}</td><td>{%$way[way].datetime%}</td><td>{%$way[way].remark%}</td></tr>
                {%/section%}
                {%else%}
                <tr><td colspan="3">没有找到物流轨迹</td></tr>
                {%/if%}
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">关闭</button>
</div>